<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/46/45633_386960.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;咖喱调料,1袋;椰汁,200g</string>
		<key>id</key>
		<string>45633</string>
		<key>imtro</key>
		<string>一道东南亚特色美食，</string>
		<key>ingredients</key>
		<string>鸡腿肉,250g;土豆,120g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45633_6db42bfd242d3345.jpg</string>
				<key>step</key>
				<string>1.把各种调料备好，鸡肉土豆切块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45633_9c183c5bd14b4dcd.jpg</string>
				<key>step</key>
				<string>2.放咖喱</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45633_c0d1037655339435.jpg</string>
				<key>step</key>
				<string>3.炖10分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45633_7dafb52e3f65f904.jpg</string>
				<key>step</key>
				<string>4.放椰汁，收汁</string>
			</dict>
		</array>
		<key>tags</key>
		<string>增肥;10-20分钟;东南亚;冬季;凉拌;咖喱味;3-4人;健脾;祛风散寒;祛寒;健脾胃;东南亚菜;锅子;助睡眠;脾虚</string>
		<key>title</key>
		<string>娘惹咖喱鸡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/44/43720_970323.jpg</string>
		</array>
		<key>burden</key>
		<string>油,1勺;盐,适量;黑胡椒粉,适量;糖,适量;水,400ml;姜,适量;蒜,适量</string>
		<key>id</key>
		<string>43720</string>
		<key>imtro</key>
		<string>在我们日常生活中，摄取的均衡营养里面常常会忽略到的黄色食物，而南瓜含有很丰富的维生素C和多糖氨基酸。我现在要和大家分享的这是一道菲律宾家常菜，做法简单，南瓜是主要材料，其他食材你可以随意搭配。汤汁浓稠，也可以沾面包或拌面条吃。都具有独特风格格的椰浆浓香味和南瓜甜味，這两样食材合作起来就像一道音符，喜欢的人会上瘾哦！</string>
		<key>ingredients</key>
		<string>南瓜,500g;虾,6支;猪肉,200g;洋葱,1个;椰浆,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/438/43720_134efaff8c0c0f7d.jpg</string>
				<key>step</key>
				<string>1.把材料先准备好。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/438/43720_e8e27d58e129df4b.jpg</string>
				<key>step</key>
				<string>2.把虾子从背部划出一刀、拿出污泥</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/438/43720_760f0e00cc5e20f7.jpg</string>
				<key>step</key>
				<string>3.南瓜、猪肉切块、洋葱，蒜头，姜切碎备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/438/43720_dbc995b95c1dd16f.jpg</string>
				<key>step</key>
				<string>4.把猪肉先用热水烫过。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/438/43720_65ce47d525016166.jpg</string>
				<key>step</key>
				<string>5.炒菜锅里放油，把洋葱，蒜，姜先放进去中火炒一下</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/438/43720_4a371754a295fe22.jpg</string>
				<key>step</key>
				<string>6.炒到出来香味后，接着把虾子，烫好的猪肉和南瓜在放进去小火炒拌几下。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/438/43720_3c0d8a938f067bf1.jpg</string>
				<key>step</key>
				<string>7.然后加入椰浆和水，等南瓜熟透半稠状之后，适当的加盐巴，黑胡椒和糖。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/438/43720_f5f27f565aba1225.jpg</string>
				<key>step</key>
				<string>8.这是成品！好简单哦。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;通乳;明目;养胃;增肥;痛风;骨质疏松;白领;秋季;补钙;补铁;补中益气;催乳;下奶;补锌;东南亚菜;调理肠胃;外国大餐;增高;内分泌失调</string>
		<key>title</key>
		<string>椰浆南瓜</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/55/54863_856552.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量</string>
		<key>id</key>
		<string>54863</string>
		<key>imtro</key>
		<string>菠萝饭一般都在外面吃，总计在家做比较麻烦，这次趁着家里有菠萝，尝试做一次，不仅能吃到菠萝肉，菠萝皮也没有浪费，一举两得。</string>
		<key>ingredients</key>
		<string>菠萝,1个;青豆玉米,100g;鸡蛋,100g;蟹棒,50g;虾仁,50g;扇贝肉,50g;培根,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_60d64450906cdbd9.jpg</string>
				<key>step</key>
				<string>1.准备一个菠萝，洗净</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_f46383371d301e03.jpg</string>
				<key>step</key>
				<string>2.切掉菠萝的三分之一，生意三分之二挖掉菠萝肉</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_13c6177e441e4997.jpg</string>
				<key>step</key>
				<string>3.准备的配料</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_661979c3115477f5.jpg</string>
				<key>step</key>
				<string>4.鸡蛋打散 其他切丁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_a23dc02bbfed51c9.jpg</string>
				<key>step</key>
				<string>5.锅里放油，炒虾仁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_8bacbc70aacd36f3.jpg</string>
				<key>step</key>
				<string>6.在放入其他材料炒（鸡蛋提前炒好了）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_9f71abd6bec764c5.jpg</string>
				<key>step</key>
				<string>7.放入米饭</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_dcd07d911d829a6e.jpg</string>
				<key>step</key>
				<string>8.炒均匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_fadc270a4a385be1.jpg</string>
				<key>step</key>
				<string>9.放适量的盐</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_b861952bc31f8d04.jpg</string>
				<key>step</key>
				<string>10.最后放切好的菠萝丁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54863_92c48848a669a7d5.jpg</string>
				<key>step</key>
				<string>11.炒好后盛到大菠萝里，就完成了</string>
			</dict>
		</array>
		<key>tags</key>
		<string>东南亚菜;泰国菜</string>
		<key>title</key>
		<string>海鲜菠萝饭</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/30/29581_792944.jpg</string>
		</array>
		<key>burden</key>
		<string>荷兰豆,适量</string>
		<key>id</key>
		<string>29581</string>
		<key>imtro</key>
		<string>最近很是迷恋各种东南亚风味酱料，一来味道极佳，二来省时快捷，放工后回到家不一会儿就有的吃啦(*^__^*) 嘻嘻……</string>
		<key>ingredients</key>
		<string>亚三鱼即煮酱料,300g;海鱼,520g;清水,400ml</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_5876d78a156a3ab9.jpg</string>
				<key>step</key>
				<string>1.食材：海鱼、荷兰豆和亚三鱼即煮酱料。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_e949928099e340c8.jpg</string>
				<key>step</key>
				<string>2.将亚三鱼即煮酱料放入煮锅中。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_e49c99645e7bda83.jpg</string>
				<key>step</key>
				<string>3.加入400毫升清水。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_437449b215a606b6.jpg</string>
				<key>step</key>
				<string>4.拌匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_a43e2eed11c15965.jpg</string>
				<key>step</key>
				<string>5.盖锅盖，大火煮滚。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_ce531a5d908c6de8.jpg</string>
				<key>step</key>
				<string>6.将海鱼择洗干净，切块。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_d0a4e22552dca906.jpg</string>
				<key>step</key>
				<string>7.放入煮锅中。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_58866b21944c5e6b.jpg</string>
				<key>step</key>
				<string>8.盖锅煮10至12分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_bb861f10840067df.jpg</string>
				<key>step</key>
				<string>9.揭盖，放入荷兰豆再煮2分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/296/29581_ce9987f106d09f07.jpg</string>
				<key>step</key>
				<string>10.试味，趁热食用。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>热菜;高血脂;麻辣;海鲜;晚餐;降血脂;酱料;补碘;东南亚菜</string>
		<key>title</key>
		<string>马来风味鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/47/46845_771830.jpg</string>
		</array>
		<key>burden</key>
		<string>咖喱酱,1包;椰浆粉,2包;青柠,1个;橄榄油,2勺;水,440ml</string>
		<key>id</key>
		<string>46845</string>
		<key>imtro</key>
		<string>最近有部电影非常火，每个电影院里排队买票的人都排出长队。恩，不说你也知道，人在囧途之泰囧。昨晚在影院里看完电影，爆笑之余我就突然很想吃泰国菜。无奈家边上没有泰国餐厅，想起家里还有几包泰国进口的咖喱酱，加上泰式餐厅必备的青柠，于是兴冲冲的在晚上8点半钻进厨房。等到翻出咖喱酱后，才发现是新加坡的娘惹咖喱，不管了不管了，改良一下带点泰式风味也可以，身为吃货伤不起啊～ 本来不同的两个菜系，在我胡乱搭配下产生了奇妙的效果，煮好后咖喱鸡肉软烂，带着青柠的清香和咖喱的辛辣，尝了一块后就再也停不下口。本来抱着浅尝辄止的我，最终在晚上9点半的时候用这咖喱拌着白米饭吃下了一大碗，吃完之后还打了个大大的饱嗝。汗死，这么撑的胃，抛开增肥这回事，怎么去睡觉都是个大问题啊！看来下回再怎么馋，也不能在大晚上的开火了，不消化啊不消化。。。</string>
		<key>ingredients</key>
		<string>鸡脯肉,350g;土豆,2个;胡萝卜,半根</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46845_a0f3399200e1fde1.jpg</string>
				<key>step</key>
				<string>1.鸡脯肉用厨房纸吸干水分，椰浆2包加440ml热水搅拌均匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46845_4a4361455a06d24e.jpg</string>
				<key>step</key>
				<string>2.青柠一个，对半切后挤出汁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46845_c2208971354431ae.jpg</string>
				<key>step</key>
				<string>3.鸡脯肉切成块，加入青柠汁，腌制5分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46845_0c0696b42a7e6a5d.jpg</string>
				<key>step</key>
				<string>4.土豆，胡萝卜去皮切方块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46845_9d2b80e9d43b7dbb.jpg</string>
				<key>step</key>
				<string>5.锅中放入橄榄油，小火加热后加入咖喱酱，翻炒半分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46845_4d5461fe014f0d14.jpg</string>
				<key>step</key>
				<string>6.加入切好的土豆、胡萝卜和腌制好的鸡块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46845_89851eebb963db28.jpg</string>
				<key>step</key>
				<string>7.翻炒3分钟后加入椰浆，煮沸。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46845_517ac2cd36354aa0.jpg</string>
				<key>step</key>
				<string>8.小火不加盖煮20分钟即可，趁热配白饭食用。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>食材;白领;冬季;咖喱味;健脾养胃;东南亚菜;狂欢之宴</string>
		<key>title</key>
		<string>泰式娘惹咖喱鸡块</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/11/10348_742072.jpg</string>
		</array>
		<key>burden</key>
		<string>酱油,10ml;盐,适量;胡椒粉,适量;香油,5ml;味精,少许;越南春卷皮,适量</string>
		<key>id</key>
		<string>10348</string>
		<key>imtro</key>
		<string>身在法国，有很多好吃的越南小吃，越南炸春卷吃过很多次，俗话说没吃过猪肉还没见过猪跑吗，猪肉咱算是吃过了，猪跑貌似没见过，这只是个玩笑！越南炸春卷吃过了，对于会做饭的吃货们来说想要在家做越南炸春卷就并非一件难事！越南春卷有不同的做法，我做的是越南炸春卷。</string>
		<key>ingredients</key>
		<string>韭菜,300g;胡萝卜,3根;粉丝,1卷;肉馅,250g;木耳,10块;海米,1把</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10348_c118c6379ddcc0e6.jpg</string>
				<key>step</key>
				<string>1.胡萝卜切成碎屑，粉丝和木耳要用水泡软，然后切碎。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10348_e40840ef53bf5299.jpg</string>
				<key>step</key>
				<string>2.和馅：肉馅买来后要反复垛，让肉馅“上劲儿”，然后把其他的食材和肉馅和在一起，调入酱油、盐、胡椒粉、鸡精和香油，搅拌的时候要注意顺着一个方向哦，不能来回搅拌，否则馅会散开的。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10348_40157f9e2f7ab05b.jpg</string>
				<key>step</key>
				<string>3.买来的春卷皮都是烘干后的，因此包之前烧一锅热水。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10348_879e16ddbe3bdef0.jpg</string>
				<key>step</key>
				<string>4.包春卷的时候要把春卷皮放到热水里过一下让它变软。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10348_967c20cc5ab8f99a.jpg</string>
				<key>step</key>
				<string>5.然后再放上馅料，将它卷起来成一个个圆形的卷儿。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10348_103205ba78c91225.jpg</string>
				<key>step</key>
				<string>6.春卷卷好后，锅里倒油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10348_cc43a1ef4e2e52bf.jpg</string>
				<key>step</key>
				<string>7.凉油下春卷，将春卷“炸”熟就做好啦！</string>
			</dict>
		</array>
		<key>tags</key>
		<string>健脾开胃;炸;小吃;春季;冬季;鲜香;东南亚菜</string>
		<key>title</key>
		<string>越南春卷</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/58/57161_506404.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;咖喱,适量;生粉,适量;鸡精,适量;彩椒,适量</string>
		<key>id</key>
		<string>57161</string>
		<key>imtro</key>
		<string>星洲炒米粉在海外的华人餐馆也叫做星洲炒米，是东南亚地区的一款美味，用料和我们平时吃的有点儿不同，最具有特色的是它用咖喱做了调料，在色泽上更显金黄。味道略为有点儿辣。其他食材有肉，虾，豆芽等。今天，我做的是正宗的新加坡炒米粉，而是按自己喜欢吃的食材，调料上还是加了咖喱。所以，算是改良版的“星洲炒米粉”吧。</string>
		<key>ingredients</key>
		<string>米粉,200g;猪肉丝,80g;虾仁,60g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_f251a08f88729aa0.jpg</string>
				<key>step</key>
				<string>1.准备干米粉（只用三分之一）。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_6b59ab235861b9d2.jpg</string>
				<key>step</key>
				<string>2.煮锅放入清水烧热之后将米粉放入煮2分钟，焖1分钟，捞起用清水冲洗沥干水分。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_00219bac4f234f11.jpg</string>
				<key>step</key>
				<string>3.肉丝用生粉、盐和鸡精调均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_30d2c884ba09650a.jpg</string>
				<key>step</key>
				<string>4.虾仁去掉泥肠一分为二。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_06c4be9c9a620b5c.jpg</string>
				<key>step</key>
				<string>5.另外准备彩椒，咖喱和沙爹酱。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_6d69ed449b50ccd5.jpg</string>
				<key>step</key>
				<string>6.煮好的米粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_717a1056b7f62c14.jpg</string>
				<key>step</key>
				<string>7.炒锅热油将肉丝放入炒至8成熟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_b3c6bbc0dd7f2fa8.jpg</string>
				<key>step</key>
				<string>8.然后将其他食材放入加入适量的咖喱和沙爹酱和盐拌炒均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_f67d95a0029d3499.jpg</string>
				<key>step</key>
				<string>9.最后将米粉放入用筷子拌均匀米粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_262331e05a445b3a.jpg</string>
				<key>step</key>
				<string>10.熄火之后将米粉均匀的吸收酱汁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/572/57161_e63f5cd94d847005.jpg</string>
				<key>step</key>
				<string>11.将炒好的“星洲炒粉”装盘上桌，这款地方美食色泽金黄，味道丰富，鲜香微辣，有咖喱的香味也有沙爹酱的美味，是一款既可以当正餐也可以当午餐早餐的美食。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>炒;咖喱味;东南亚菜;炒锅</string>
		<key>title</key>
		<string>星洲炒米粉</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/53/52862_404365.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量</string>
		<key>id</key>
		<string>52862</string>
		<key>imtro</key>
		<string>前段时间家里请来几位师傅帮忙翻新装修楼上的两个洗手间，为了让他们节省到外面吃饭的时间，我每天都给他们做午饭，那天还专门做了菠萝炒饭给他们品尝，师傅们吃过之后大赞美味好吃。</string>
		<key>ingredients</key>
		<string>菠萝,150g;玉米,50g;青豆,50g;白米饭,4碗;鸡肉,100g;虾仁,150g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_8b2486c1c511c913.jpg</string>
				<key>step</key>
				<string>1.准备玉米和青豆。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_7a47dbc55997467a.jpg</string>
				<key>step</key>
				<string>2.准备鸡肉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_753de3893c554ad0.jpg</string>
				<key>step</key>
				<string>3.准备虾仁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_1144a173d1dea095.jpg</string>
				<key>step</key>
				<string>4.准备菠萝。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_c4b5672e633eb524.jpg</string>
				<key>step</key>
				<string>5.椰汁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_fcffb6ffda672bf0.jpg</string>
				<key>step</key>
				<string>6.炒锅热油将清淡和玉米鸡肉放入炒熟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_d8ace53b673ca767.jpg</string>
				<key>step</key>
				<string>7.然后将米饭放入一起炒香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_a139ada6585ec949.jpg</string>
				<key>step</key>
				<string>8.将菠萝去皮去菠萝眼然后切丁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_b247365387c7d60e.jpg</string>
				<key>step</key>
				<string>9.将菠萝和虾仁放入炒好的米饭里，加入椰汁和盐，鸡精调味炒拌均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/529/52862_1ad7111e189ad9fd.jpg</string>
				<key>step</key>
				<string>10.出锅前放入适量的椰汁炒均匀即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>东南亚菜;午餐;炒;白领</string>
		<key>title</key>
		<string>菠萝椰汁炒饭</string>
	</dict>
</array>
</plist>
