<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/2/1845_833318.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;姜,适量;小葱,适量;生抽,适量;生粉,适量;胡椒,适量</string>
		<key>id</key>
		<string>1845</string>
		<key>imtro</key>
		<string>这道云南名菜---红三剁，是我从电视上学到，辣椒的辣味和番茄的酸甜味道进行的美妙融合， 而且它颜色亮丽， 就像云南歌舞般热热闹闹的感觉，能从中感受到云南人的热情，让我对云南产生憧憬， 心已飞到那片神秘的土地。。。</string>
		<key>ingredients</key>
		<string>里脊肉,100g;西红柿,2个;青辣椒,4个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_cd693ca56f3d8bf1.jpg</string>
				<key>step</key>
				<string>1. 将里脊肉和姜一起剁成碎末；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_8a6d61022056c419.jpg</string>
				<key>step</key>
				<string>2.将肉馅中加入适量盐。 生粉，生抽， 油， 顺着一个方向搅拌均匀， 腌制十分钟 ；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_9db36e1211367544.jpg</string>
				<key>step</key>
				<string>3.将西红柿用筷子插入底部， 放在火上烤， 均匀的转动， 看到皮破了关火；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_659cd7dee1850b2f.jpg</string>
				<key>step</key>
				<string>4.这样轻易的就可以将皮揭下来了；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_52450fafa8e01343.jpg</string>
				<key>step</key>
				<string>5.将西红柿切成小块， 去除里面的芯；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_640c349bef8cb72e.jpg</string>
				<key>step</key>
				<string>6. 再将它和青椒各剁成小粒；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_c7a11d589c52f8df.jpg</string>
				<key>step</key>
				<string>7.将锅烧热， 倒入少量的橄榄油， 下入腌好的肉末煸炒；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_fa350ca08dbd616e.jpg</string>
				<key>step</key>
				<string>8.待肉末煸炒变色后加入青椒丁；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_91a3f1dfdc903fb0.jpg</string>
				<key>step</key>
				<string>9. 翻炒几下后下入番茄丁， 一起翻炒；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_5d4f8bd54ba745e4.jpg</string>
				<key>step</key>
				<string>10. 翻炒成熟后加入盐等调味料， 再加入适量小葱；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/19/1845_21bfc961b28aefb2.jpg</string>
				<key>step</key>
				<string>11.层盘即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>云南菜;开胃;快手菜;炒</string>
		<key>title</key>
		<string>云南名菜--红三剁</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/55/54807_538707.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;胡椒粉,适量;料酒,适量;姜,适量;干蘑菇,适量</string>
		<key>id</key>
		<string>54807</string>
		<key>imtro</key>
		<string>做了这道汽锅鸡送给妈妈，汤香味美。我没有放很多东西，只用了多半只鸡腿，还有就是一点干蘑菇，这个干蘑菇是别人给的，纯天然绿色的呢，那是在林区的人自己摘自己晒的，我都没舍得多放，只放了一小点啊。如果是用土鸡就更好了，但是真正的土鸡也不是那么好买到的。也希望妈妈身体能够一直健康。</string>
		<key>ingredients</key>
		<string>鸡腿,150g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54807_d4a974990f4bff33.jpg</string>
				<key>step</key>
				<string>1.干蘑菇温水泡洗净备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54807_f8d339975d482e32.jpg</string>
				<key>step</key>
				<string>2.鸡腿斩成块，</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54807_659964cc99d85c3c.jpg</string>
				<key>step</key>
				<string>3.用少许盐胡椒粉料酒抓匀，腌30分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54807_cb0384eb4f5e9dc3.jpg</string>
				<key>step</key>
				<string>4.泡好的蘑菇放在汽锅的锅底，</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54807_69cb356003a3cc14.jpg</string>
				<key>step</key>
				<string>5.把鸡块放入，再码上几片姜片，盖上盖</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54807_3da78a9c84368db8.jpg</string>
				<key>step</key>
				<string>6.准备一搪瓷小锅，口的大小要能座下汽锅，锅时矿上足够的水</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54807_1496c22825139b53.jpg</string>
				<key>step</key>
				<string>7.把汽锅坐在上面，很合适呢，放在炉子上，中小火煨着吧，两个小时左右就可以关火啦，</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54807_fe6c39b892b22215.jpg</string>
				<key>step</key>
				<string>8.打开盖子就闻着香味啦。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>妈妈菜;云南菜</string>
		<key>title</key>
		<string>汽锅鸡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/62/61628_148825.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;味精,适量;蒜,适量;料酒,适量</string>
		<key>id</key>
		<string>61628</string>
		<key>imtro</key>
		<string>西红柿性味酸甘，有生津止渴、健胃消食、清热解毒功效。对热性病口渴、过食油腻厚味所致的消化不良、中暑、胃热口苦、虚火上炎等病症有较好的治疗效果。这是我在电视上学到的，是云南特色菜，既可以做菜吃又可以拌粉拌面吃，酸酸甜甜辣辣的特别开胃哦。</string>
		<key>ingredients</key>
		<string>西红柿,500g;青椒,150g;瘦肉,100g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_db006134ed8b0b06.jpg</string>
				<key>step</key>
				<string>1.西红柿洗净切丁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_dbb8573318751ea9.jpg</string>
				<key>step</key>
				<string>2.瘦肉洗净切丁，用料酒和酱油腌制15分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_1c1ce1277ba6f56a.jpg</string>
				<key>step</key>
				<string>3.蒜去皮和青椒洗净切碎</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_85211bdd01164535.jpg</string>
				<key>step</key>
				<string>4.锅烧热，放少许油</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_0b60af28469b92c5.jpg</string>
				<key>step</key>
				<string>5.放肉丁和蒜碎爆香</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_f70084cf1a4a444e.jpg</string>
				<key>step</key>
				<string>6.放青椒碎炒熟，盛出</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_ee7025b0f5d607ce.jpg</string>
				<key>step</key>
				<string>7.放入西红柿丁翻炒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_059b5fc590b0cac2.jpg</string>
				<key>step</key>
				<string>8.翻炒成糊状</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_d83096a9181a964b.jpg</string>
				<key>step</key>
				<string>9.放入炒好的肉丁和青椒丁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_3d4b991494d7cada.jpg</string>
				<key>step</key>
				<string>10.翻炒均匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_fd65d1450dfc71ac.jpg</string>
				<key>step</key>
				<string>11.放盐</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_4d739dd0a1f9d861.jpg</string>
				<key>step</key>
				<string>12.放味精</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/617/61628_09fbd65a89cc0de0.jpg</string>
				<key>step</key>
				<string>13.翻炒几下，就做好了</string>
			</dict>
		</array>
		<key>tags</key>
		<string>健脾开胃;清热消暑;促消化;凉血;延缓衰老;开胃;抗氧化;抗癌;抗衰老;消化不良;清热解暑;缓解压力;美容;补铁;防晒;防癌;防辐射;炒;酸辣;云南菜</string>
		<key>title</key>
		<string>红三剁</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/1/859_463354.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;八角,1个;姜,少许;香葱,适量;白糖,适量;料酒,适量;酱油,少许</string>
		<key>id</key>
		<string>859</string>
		<key>imtro</key>
		<string>今天做的这道菜属于云南风味菜肴。主料为鸡和蘑菇，鸡肉酥烂，菇香甜美，入口回味无穷。营养丰富，很适合于老年人和青年食用。 香菇是高蛋白，低脂肪，低热量，富含维生素和矿物质元素，高营养优质保健食品。味甘，性平，治贫血，和胃健脾，补气益肾的功效。 鸡肉也是磷、铁、铜与锌的良好来源，并且富含维生素B12、维生素B6、维生素A、维生素D、维生素K等。</string>
		<key>ingredients</key>
		<string>香菇,100g;鸡翅,2个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_1ad896131072a8a3.jpg</string>
				<key>step</key>
				<string>1.准备好材料。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_56a1a9fa553ac385.jpg</string>
				<key>step</key>
				<string>2.八角1个洗净，姜切片，香葱切好葱白和葱花。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_4b37fc9465868aa7.jpg</string>
				<key>step</key>
				<string>3.将香菇冲洗干净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_59a5cc0c333215b9.jpg</string>
				<key>step</key>
				<string>4.香菇沥干水份后放入碗内，上锅蒸10分钟左右。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_57ec7ba6adac3bb4.jpg</string>
				<key>step</key>
				<string>5.蒸好后取出香菇，去掉根底，在表面划出十字花刀，再沥干水分。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_fd62fe3b54a4b1a9.jpg</string>
				<key>step</key>
				<string>6.等到处理好了香菇，鸡翅也差不多解冻好了；用清水洗净，沥干水分，再剁成块。 （也可以将鸡翅换成整只鸡来制作）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_b1887f7b2d0f3653.jpg</string>
				<key>step</key>
				<string>7.放入碗中，加入1大勺料酒和半小勺盐，胡椒粉腌渍15分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_665fb311afb295a9.jpg</string>
				<key>step</key>
				<string>8.锅中加油烧热后，把腌渍好的鸡翅放入煎。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_67b47f0b64f72ef3.jpg</string>
				<key>step</key>
				<string>9.煎制鸡快表面微微变黄即可乘出。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_8940c04802f0d484.jpg</string>
				<key>step</key>
				<string>10.锅内重新倒少许油，煸香八角，葱白，姜片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_107d3e8ebab49b01.jpg</string>
				<key>step</key>
				<string>11.把鸡肉块放入翻炒会。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_2c0e5a28363d6a6c.jpg</string>
				<key>step</key>
				<string>12.加入酱油，白糖，料酒，少许盐翻炒上色，再翻炒2分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_b3c5dd9d0670cff7.jpg</string>
				<key>step</key>
				<string>13.加入清汤，半没过鸡翅。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_df6a49ca341f8628.jpg</string>
				<key>step</key>
				<string>14.盖上锅盖，大火烧开后，转中小火，慢烧10分钟左右。 （具体时间视鸡翅的量来定）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_7d86a8a09c833a9a.jpg</string>
				<key>step</key>
				<string>15.等到汤汁剩余1/2的时候，把香菇放入。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/9/859_c22080f97fd95440.jpg</string>
				<key>step</key>
				<string>16.最后开大火翻炒均匀收汁，加入适量鸡精，撒上葱花（或香菜）即可出锅。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>秋季养生;贴秋膘;健脾开胃;炒锅;煎锅;便秘;健脾;健脾胃;减肥;动脉硬化;提高免疫力;润肠通便;瘦身;肥胖;脂肪肝;脾虚;防癌;降血脂;高血脂;烧;咸;家常菜;热菜;云南菜</string>
		<key>title</key>
		<string>香菇鸡块</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/7/6648_893430.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;姜,适量;葱,适量;绍酒,100g</string>
		<key>id</key>
		<string>6648</string>
		<key>imtro</key>
		<string>汽锅，可谓是最复古的锅。 据说，汽锅已有几千年的历史了，并且它的外观和结构，在这几千多年间都不曾有过改变。 汽锅鸡是云南的名菜之一，早在二千多年前就在滇南民间流传。云南汽锅鸡风味之所以独特，依仗的是它独特的烹制器皿汽锅。</string>
		<key>ingredients</key>
		<string>乌鸡,1只;芋头,200g;虫草花,10g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_36e19f0e5ed172c9.jpg</string>
				<key>step</key>
				<string>1.乌鸡</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_6a90086b3a4bbd25.jpg</string>
				<key>step</key>
				<string>2.芋头、虫草花</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_329dc7b555051ee1.jpg</string>
				<key>step</key>
				<string>3.黄酒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_7d7fbc2a73b95edf.jpg</string>
				<key>step</key>
				<string>4.芋头去皮，切块，虫草花泡开</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_3561ebf521940d67.jpg</string>
				<key>step</key>
				<string>5.乌鸡洗净、剁成块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_46f80409239c8ece.jpg</string>
				<key>step</key>
				<string>6.锅中放水，放入乌鸡焯水除去浮污</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_69dea43387751f14.jpg</string>
				<key>step</key>
				<string>7.将焯好的乌鸡放入汽锅中</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_a9691c40ef29d1cc.jpg</string>
				<key>step</key>
				<string>8.放入葱、姜</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_549932e6f1bce370.jpg</string>
				<key>step</key>
				<string>9.放入芋头</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_27c22da374233bbb.jpg</string>
				<key>step</key>
				<string>10.放入虫草花</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_e6277f9f99b772ea.jpg</string>
				<key>step</key>
				<string>11.倒入绍酒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6648_e115ef4b36be4907.jpg</string>
				<key>step</key>
				<string>12.将汽锅置于蒸锅上，蒸两三小时，最后调入盐即可食用</string>
			</dict>
		</array>
		<key>tags</key>
		<string>补血;云南菜;冬季;汤</string>
		<key>title</key>
		<string>香芋汽锅乌鸡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/21/20061_249729.jpg</string>
		</array>
		<key>burden</key>
		<string>食用油,适量;盐,适量;青椒,1个;红椒,1个;蒜,适量</string>
		<key>id</key>
		<string>20061</string>
		<key>imtro</key>
		<string>玫瑰大头菜又称酱渍菜，是云南地方风味食品之一，它选用云南特产的鲜嫩大头菜，配上陈酱、盐、玫瑰糖等配料用云南少数民族的传统腌制方法加工而成，风味独特、色泽光亮、具有香、甜、脆、嫩、回味悠长等特点。生熟食皆可，也可凉拌、煲汤、炒菜。</string>
		<key>ingredients</key>
		<string>金针菇,200g;大头菜,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/201/20061_98a7a073f954f0f0.jpg</string>
				<key>step</key>
				<string>1.金针菇择去根须后放水里洗净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/201/20061_5dbd6d17eb26f89d.jpg</string>
				<key>step</key>
				<string>2.大头菜和青红椒洗净后分别切成条，蒜切碎备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/201/20061_752d71863b97e33b.jpg</string>
				<key>step</key>
				<string>3.炒锅上火，倒入食用油，下蒜粒煸出香味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/201/20061_5383865864a68c68.jpg</string>
				<key>step</key>
				<string>4.放入大头菜翻炒翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/201/20061_d281f7ebbd1f1290.jpg</string>
				<key>step</key>
				<string>5.放入金针菇翻炒至断生。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/201/20061_8342a350cb03373c.jpg</string>
				<key>step</key>
				<string>6.放入青、红椒翻炒几下即可出锅。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>健脾养胃;健脾开胃;增强抵抗力;素食;下奶;健忘;健脑;健脑益智;催乳;动脉硬化;增强记忆力;抗过敏;提高免疫力;消脂;特禀质;益智;通乳;冬季;快手菜;热菜;云南菜</string>
		<key>title</key>
		<string>大头菜炒金针菇</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/48/47481_438979.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;细香葱,适量;蒜,适量;酱油,适量;鸡精,适量;香菜醋,适量;油辣子,适量;花椒油,适量;香油,适量</string>
		<key>id</key>
		<string>47481</string>
		<key>imtro</key>
		<string>四季如春的云南百花争艳，但在云南人眼里鲜花不仅仅是欣赏的植物，而且还是餐桌上时兴的菜肴，几乎每一种可食之花都与多种菜肴联系着。大家都知道茉莉花可以做茶，可谁听说过茉莉花还能做咸菜，一朵朵茉莉花蕾清香脆嫩，配上红红的辣椒，鲜艳欲滴。味道不但清香，还酸甜脆嫩，食之唇齿间生津，遍体清爽。而且茉莉花所含的挥发油性物质，具有行气止痛，解郁散结的作用，可缓解胸腹胀痛，下痢里急后重等病状，为止痛之食疗佳品。</string>
		<key>ingredients</key>
		<string>豆腐,300g;腌制的茉莉花,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/475/47481_76b17436011c1d0d.jpg</string>
				<key>step</key>
				<string>1.豆腐放蒸锅里蒸半小时去除豆腥味，然后放凉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/475/47481_7e8226b2e5a3fccc.jpg</string>
				<key>step</key>
				<string>2.放凉的豆腐切成片摆在盘中备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/475/47481_45cf455da7a5e614.jpg</string>
				<key>step</key>
				<string>3.把蒜和香葱叶分别剁碎成泥状。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/475/47481_471ba6c4e8de11b5.jpg</string>
				<key>step</key>
				<string>4.取一小碗，放入剁好的蒜泥和香葱泥，调入盐、酱油、鸡精、香醋、油辣子、花椒油、香油和两汤匙的凉白开调成味汁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/475/47481_5da2c2860223c43a.jpg</string>
				<key>step</key>
				<string>5.把调好的味汁淋在豆腐上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/475/47481_1eba9e97f9b4154c.jpg</string>
				<key>step</key>
				<string>6.在豆腐上放入腌制的茉莉花即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>健脾开胃;夏季养生;素食;下奶;催乳;化痰;咳嗽;增肥;小儿咳嗽;止咳;止咳化痰;痰湿质;美容;补钙;通乳;骨质疏松;私房菜;云南菜</string>
		<key>title</key>
		<string>茉莉花豆腐</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/60/59155_700245.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;蒜,适量;烧烤调料粉,适量;生抽,适量;粉末味精,适量</string>
		<key>id</key>
		<string>59155</string>
		<key>imtro</key>
		<string>菌脚就是香菇的菌柄，因质地粗硬，做菜时一般都很少用它，香菇菌柄中仅游离氨基酸含量略低于菌盖，其香菇多糖含量与菌盖相当，亚油酸含量略高于菌盖。组成香菇菌柄的纤维素、半纤维素属于食物性纤维。食用一定量的食物性纤维素对人体健康非常有益。它能增强胃肠蠕动，预防便秘，同时可以吸收血液中多余的胆固醇，经过肠道排出体外，从而缓解糖尿病的症状。知道菌脚的营养功效不小，所以每次做菜我都会香菇的菌柄取下来撕成四半在阳光下晒干，积多后就用泡发放油锅里煸香了吃，说实话，我们一家都挺喜欢吃菌脚的，这道菌脚干煸胡萝卜，不但菌脚香浓有嚼劲，而且胡萝卜脆爽、香甜。</string>
		<key>ingredients</key>
		<string>干菌脚,30g;胡萝卜,1个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59155_2ed9dade53da7156.jpg</string>
				<key>step</key>
				<string>1.干菌脚提前用水泡发两小时后洗净捏干水分备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59155_bdb5c79c062293bc.jpg</string>
				<key>step</key>
				<string>2.胡萝卜去皮洗净切成丝，蒜去皮切成条备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59155_7461b41aa7597d97.jpg</string>
				<key>step</key>
				<string>3.炒锅上火，倒入食用油烧热，下蒜条炒香后放入菌脚煸炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59155_ca18d9cca9645d45.jpg</string>
				<key>step</key>
				<string>4.菌脚煸干水分煸至微黄。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59155_8b78ae8a3de6cac0.jpg</string>
				<key>step</key>
				<string>5.放入胡萝卜丝煸炒一会。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59155_747d4df22e79c39b.jpg</string>
				<key>step</key>
				<string>6.放入烧烤调料粉煸炒均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59155_805ba8e6f6cc7cb9.jpg</string>
				<key>step</key>
				<string>7.放入生抽、盐、味精煸炒均匀即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>热菜;健脾开胃;儿童;冬季;云贵菜;云南菜</string>
		<key>title</key>
		<string>菌脚干煸胡萝卜</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/55/54805_765225.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;酱油,适量;姜,适量;白糖,适量;料酒,适量</string>
		<key>id</key>
		<string>54805</string>
		<key>imtro</key>
		<string>这道菜用了傣家常吃的昆虫酸蚂蚁做配菜，蚁酸的酸味解肉类的油腻，既让人饱了口福，祛了风湿，又让人酸得神清气爽。酸蚂蚁是去年托人去傣家买回来的，在土罐里腌制了一年，因味道太酸，所以我只在雨季取出来食用祛祛风湿，或吃油腻的食物时搭配一些解解油腻。酸蚂蚁作为最生态的高蛋白保健食品，当地百姓将其蒸熟，加上盐巴、花椒、辣子、蒜泥、土酒后用土罐腌制，作为民族传统菜肴招待宾客，味道美如腊腌菜，非常可口下饭，下酒也非常美妙。 酸蚂蚁、又名黄金蚁、学名叫黄狡蚁。主产于我国的“动物宝库”西双版纳，作为传统养生资源，黄狡蚁在傣族中广泛食用已经有三千多年的历史。医学临床实践证明，酸蚂蚁具有极强的祛风活血，扶正祛邪，抗炎镇痛功能。常人坚持使用可强筋壮骨，养发美肤，抵抗衰老。黄狡蚁含蛋白质高达 50% 以上，含有苏氨酸，赖氨酸等 20种氨基酸，其中包括 8 种人体必需而身体不能合成的氨基酸，并含钙、铁、镉、镁、锌、碘、硒等 28 种微量元素，最为特别的是黄狡蚁含有大量蚁酸，多种酶类和辅酶，淄类族化合物，草体蚁醛和大量的高能磷化物 ATP 。常人坚持使用可强筋壮骨，养发美肤，抵抗衰老，对风湿疼痛、麻木、类风湿关节炎 ; 慢性胃炎，肝炎，肝硬化，肝肿大，脂肪肝 ; 免疫力低下，脱发，头发枯黄等病症具有良好的预防和治疗效果。</string>
		<key>ingredients</key>
		<string>鸡腿,300g;土罐腌酸蚂蚁,20g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54805_7ea5f45c59c521e9.jpg</string>
				<key>step</key>
				<string>1.鸡腿洗净放入大碗里，姜切片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54805_e897304b41807102.jpg</string>
				<key>step</key>
				<string>2.把姜片放在鸡腿上，放入少许料酒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54805_fa14656a3261b639.jpg</string>
				<key>step</key>
				<string>3.放入适量盐、白糖用手揉匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54805_23f67165adc1438d.jpg</string>
				<key>step</key>
				<string>4.鸡腿与调料搓揉均匀后腌制半天。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54805_87f907542bf652a7.jpg</string>
				<key>step</key>
				<string>5.腌好的鸡腿肉放入烤箱里烤熟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54805_8b5fd850a34484f7.jpg</string>
				<key>step</key>
				<string>6.准备一些腌制的酸蚂蚁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54805_6b01292014472729.jpg</string>
				<key>step</key>
				<string>7.鸡腿肉烤熟后取出放入盘中，铺上一些腌制的酸蚂蚁即可食用。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>夏季菜谱;健脾开胃;午餐;烤箱;私房菜;云南菜</string>
		<key>title</key>
		<string>蚂蚁扛鸡腿</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/54/53250_656037.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;姜,3片;草果,1个</string>
		<key>id</key>
		<string>53250</string>
		<key>imtro</key>
		<string>在乡下工作的日子因寨子离乡政府远每次去寨子里开展工作，一般吃住都是住在村民家里。每次下组好客的哈尼族村民都会杀只鸡招待我们，淳朴的村民们不懂什么叫烹饪，除了自家种的姜和辣椒家里也没有什么调料，所以煮鸡时村民们都会往鸡汤里放入一些自家腌制的萝卜条一起煮，再放一些辣椒，酸酸辣辣又鲜美的鸡汤泡饭可好吃了，那时一天工作下来回到村民家里，吃上一碗腌萝卜条煮的鸡汤泡饭劳累全消失了，晚上继续精力充沛地和村民们开展工作或唠家常。</string>
		<key>ingredients</key>
		<string>鸡肉,500g;腌萝卜条,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/533/53250_2fd2cebe3ef70e09.jpg</string>
				<key>step</key>
				<string>1.把鸡肉洗净后砍成小块。姜切片，草果拍散。煮锅烧开一锅水备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/533/53250_0c399346fb99a8fd.jpg</string>
				<key>step</key>
				<string>2.炒锅上火，放入油烧热，下姜片和草果炒香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/533/53250_49253cf12fa75cc5.jpg</string>
				<key>step</key>
				<string>3.放入鸡块翻炒一会，炒干水分。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/533/53250_bf7f3ee855a9c9f8.jpg</string>
				<key>step</key>
				<string>4.倒入事先烧开的水煮沸。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/533/53250_aa9c2aaa6c693be4.jpg</string>
				<key>step</key>
				<string>5.把鸡肉倒入煮锅里小火煮熟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/533/53250_038951120fb2de28.jpg</string>
				<key>step</key>
				<string>6.准备一些腌萝卜条和辣椒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/533/53250_3a2344afe22f1828.jpg</string>
				<key>step</key>
				<string>7.炒锅上火，放少许油，放入辣椒炒出香味后放入萝卜条翻炒一会。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/533/53250_62b210cb8fe2d8f0.jpg</string>
				<key>step</key>
				<string>8.把炒好的萝卜条放入鸡汤里和鸡肉同煮。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/533/53250_ff324640a90857f4.jpg</string>
				<key>step</key>
				<string>9.鸡肉煮熟后放入适量盐即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>健脾开胃;午餐;健脾;健脾胃;增肥;增高;脾虚;补中益气;补虚;补钙;骨质疏松;酸辣;云南菜</string>
		<key>title</key>
		<string>萝卜条煮鸡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/23/23018_610933.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;生抽,适量;葱花,适量</string>
		<key>id</key>
		<string>23018</string>
		<key>imtro</key>
		<string>凉粉买回来几小时后天气就变了，云南遇雨成秋的气候让气温带着微微的凉意。本想拌凉粉吃的但凉意却让欲望消失了，这带着凉意的天气吃一碗烫乎乎的凉粉更让人感到温暖。凉粉是大米制作的米凉粉最适合用来煮着吃，昨天刚好炸了鸡枞油，用鸡枞油煮凉粉一定很美味。</string>
		<key>ingredients</key>
		<string>米凉粉,400g;鸡枞油,30g;番茄,100g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/231/23018_300acafbdd4bd5dc.jpg</string>
				<key>step</key>
				<string>1.米凉粉切成2厘米大的方块。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/231/23018_a4dee7bbc6ba926d.jpg</string>
				<key>step</key>
				<string>2.番茄去皮切成片，姜切片，葱叶切葱花。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/231/23018_a62a7b5f263b5859.jpg</string>
				<key>step</key>
				<string>3.汤锅上火，倒入一碗水放入鸡枞油煮沸。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/231/23018_c35e3c816430d004.jpg</string>
				<key>step</key>
				<string>4.放入番茄煮一分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/231/23018_f26b4d84b2059e76.jpg</string>
				<key>step</key>
				<string>5.放入米凉粉煮沸一分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/231/23018_fb62e0ae85bb7c89.jpg</string>
				<key>step</key>
				<string>6.放入适量盐和少许生抽、鸡精。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/231/23018_7a7fdf7ee225b61f.jpg</string>
				<key>step</key>
				<string>7.关火，撒上葱花即可食用。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>早餐;健脾开胃;煮;云贵菜;夜宵;云南菜</string>
		<key>title</key>
		<string>番茄鸡枞油煮凉粉</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/55/54297_928710.jpg</string>
		</array>
		<key>burden</key>
		<string>生姜,20g;盐,1/2茶匙;香葱,20g;黄酒,1汤匙;胡椒粉,1/4茶匙</string>
		<key>id</key>
		<string>54297</string>
		<key>imtro</key>
		<string>看到我把汽锅放置到高压锅上来烹制，老公说是高科技，呵呵真是孤陋寡闻。这道汽锅鸡老公说美味指数4颗半星（5颗星满分）。原汁原味，汤清肉滑，吃在嘴里非常的清爽，特别是加了松茸，汤汁更加鲜美。自己做的比旅行社的旅游餐中的汽锅鸡要好吃N倍。 松茸和汽锅都来自遥远的云南，干的松茸易于储存，新鲜的就比较不好存放，而且保质期很短，我们在内地家庭很难吃到，饭店有也是空运来的。早就想买汽锅，去云南旅游的时候眼馋了好一阵子，路途遥远行李又多背不会来。这次看到美食厨房的骨头买了汽锅也下决心买了。很喜欢这种磨光黑陶的汽锅，看起来很古朴，据说生产汽锅的这个厂子已经关门了，商家卖的也只是存货。如果你家里有2-3个人，就买这个3号的锅比较合适。 汽锅是云南建水的特产，以陶土手工制作而成，这“锅”实际上并不是普通意义上的锅，它外观似钵而有盖，中央有突起圆腔通底，如火锅的上半。以蒸汽使锅内食物制熟，锅内汤汁也来自蒸汽凝结。这样烹制出的食物保持原汁原味，鲜美可口。 松茸是野生的珍贵真菌，学名松口蘑，名叫大花菌、松菌、剥皮菌；原称松蘑，又叫山鸡纵。松茸以云南野生松茸为佳，松茸具有强精补肾、恢复精力、益胃补气、强心补血、健脑益智、理气化痰、抗辐射、驱虫、治糖尿病和抗癌等作用，还具有提高SOD活性，加速自由基的清除，延缓组织器官衰退，改善心血管功能，促进新陈代谢，提高人体抗病毒、抗细胞突变和增加免疫功能的能力。据日本有关资料报道，松茸菌抗癌效果可达90 %以上。 鸡肉有温中益气、补虚填精、健脾胃、活血脉、强筋骨的功效。鸡肉蛋白质的含量比例较高，很容易被人体吸收利用，有增强体力、强壮身体的作用。另外含有对人体生发育有重要作用的磷脂类，鸡肉对营养不良、畏寒怕冷、乏力疲劳、月经不调、贫血、虚弱等有很好的食疗作用。</string>
		<key>ingredients</key>
		<string>鸡全翅,2个;鸡腿,1只;野生干松茸,15g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54297_9777d734b7358623.jpg</string>
				<key>step</key>
				<string>1. 鸡翅、鸡腿清洗干净。干松茸洗净用清水泡发，捞出后洗净泥沙，浸泡松茸的水澄清。生姜切大片，香葱打结。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54297_ceed88ce5325ba7a.jpg</string>
				<key>step</key>
				<string>2.鸡翅鸡腿切小块。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54297_56435894b602b596.jpg</string>
				<key>step</key>
				<string>3.切好的鸡块放入开水锅内，焯烫2分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54297_2f6c6f8e1212d191.jpg</string>
				<key>step</key>
				<string>4. 捞出鸡块洗净放入汽锅内， 再放入松茸。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54297_e8eb6bcd2cf3f2dd.jpg</string>
				<key>step</key>
				<string>5.加入葱结、姜片、盐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54297_16f26306c5499b64.jpg</string>
				<key>step</key>
				<string>6.再放入黄酒，倒入澄清的浸泡松茸的水，底部泥沙弃之不用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54297_4604bbaf3a31667a.jpg</string>
				<key>step</key>
				<string>7.高压锅内加足量的水大火烧开。 加盖，不加限压阀，再用打湿的纱布在锅盖上围一个圈，圈的大小和汽锅底部相当。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54297_0c780c5919f761c6.jpg</string>
				<key>step</key>
				<string>8.把汽锅直接放置到高压锅盖上，高压锅的气阀对准汽锅的底部空腔。把汽锅盖子盖好。 这样中火蒸制30-40分钟即可。打开汽锅的盖子，拣出葱姜，放入胡椒粉和香葱末调匀即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>增强抵抗力;秋季菜谱;咸鲜;汤;晚餐;云南菜</string>
		<key>title</key>
		<string>松茸汽锅鸡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/66/65743_217868.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,3g;葱,1小段;姜,1小块;蒜,2瓣;蚝油,2汤匙</string>
		<key>id</key>
		<string>65743</string>
		<key>imtro</key>
		<string>以前在韩剧里看韩国人在家里就能轻松吃烧烤，挺羡慕的。没想到这个愿望亨博让我实现了，可惜儿子在外地上学，LG又出差在外，家里只我一人，少了一些氛围。鸡翅一直是女人和孩子的最爱，我也不例外，但是鸡翅吃多了会过量摄入脂肪，如果在鸡翅中加入减肥消脂的普洱茶，那么不但可以消除鸡翅中多余的油脂，又能使鸡翅染上茶汤红艳的色泽，吃起来软嫩鲜美之余，还有满口的茶香。</string>
		<key>ingredients</key>
		<string>鸡中翅,200g;陈年普洱茶,5g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/658/65743_0bef726f56eededc.jpg</string>
				<key>step</key>
				<string>1.烧开一壶水，普洱茶放入飘逸杯，倒入少量开水快速冲洗茶后再倒入开水把茶叶泡开。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/658/65743_e27f99dda384db57.jpg</string>
				<key>step</key>
				<string>2.鸡翅洗净后，用竹签在上面扎孔以便腌制入味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/658/65743_368711b8d7d347cb.jpg</string>
				<key>step</key>
				<string>3.葱、姜、蒜切碎备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/658/65743_77eb9ec29425c25b.jpg</string>
				<key>step</key>
				<string>4.取100毫升泡开的茶水倒入一个大碗里。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/658/65743_5a5c5a7ea3c30935.jpg</string>
				<key>step</key>
				<string>5.放入约两汤匙的蚝油和3克盐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/658/65743_2aa9010493e67f91.jpg</string>
				<key>step</key>
				<string>6.放入切好的葱姜蒜搅匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/658/65743_910a61d8aa72df06.jpg</string>
				<key>step</key>
				<string>7.把鸡翅放入调好的茶水中入冰箱腌制6小时以上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/658/65743_2122d4b6726395bf.jpg</string>
				<key>step</key>
				<string>8.烧烤炉接通电源后，调到中火，放入鸡翅慢慢煎熟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/658/65743_56b7b14eb052aabd.jpg</string>
				<key>step</key>
				<string>9.鸡翅在煎的时候要经常翻动，使两面均匀受热，煎至两面微黄，煎熟即可食用。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>煎;聚会;云南菜</string>
		<key>title</key>
		<string>普洱鸡翅</string>
	</dict>
</array>
</plist>
