<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cid</key>
		<string>10</string>
		<key>name</key>
		<string>川菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>11</string>
		<key>name</key>
		<string>粤菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>12</string>
		<key>name</key>
		<string>湘菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>13</string>
		<key>name</key>
		<string>鲁菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>14</string>
		<key>name</key>
		<string>京菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>15</string>
		<key>name</key>
		<string>东北菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>16</string>
		<key>name</key>
		<string>西餐</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>17</string>
		<key>name</key>
		<string>日本料理</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>18</string>
		<key>name</key>
		<string>韩国料理</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>101</string>
		<key>name</key>
		<string>闽菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>102</string>
		<key>name</key>
		<string>浙菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>104</string>
		<key>name</key>
		<string>苏菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>105</string>
		<key>name</key>
		<string>徽菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>107</string>
		<key>name</key>
		<string>豫菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>108</string>
		<key>name</key>
		<string>晋菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>109</string>
		<key>name</key>
		<string>赣菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>110</string>
		<key>name</key>
		<string>湖北菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>111</string>
		<key>name</key>
		<string>清真菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>112</string>
		<key>name</key>
		<string>云南菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>113</string>
		<key>name</key>
		<string>贵州菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>114</string>
		<key>name</key>
		<string>新疆菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>115</string>
		<key>name</key>
		<string>淮扬菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>116</string>
		<key>name</key>
		<string>潮州菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>117</string>
		<key>name</key>
		<string>客家菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>118</string>
		<key>name</key>
		<string>香港美食</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>119</string>
		<key>name</key>
		<string>台湾菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>123</string>
		<key>name</key>
		<string>泰国菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>125</string>
		<key>name</key>
		<string>法国菜</string>
		<key>parentId</key>
		<string>10002</string>
	</dict>
</array>
</plist>
