<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/1/794_568809.jpg</string>
		</array>
		<key>burden</key>
		<string>葱,适量;姜,适量;蒸鱼豉油,20ml;盐,5g;白酒,5ml;花椒,5粒;剁椒,适量;食用油,适量</string>
		<key>id</key>
		<string>794</string>
		<key>imtro</key>
		<string>清蒸武昌鱼”是选用鲜活的武昌鱼为主料，成菜鱼形完整、色白明亮、晶莹似玉；鱼身缀以红、白、黑配料，更显出素雅绚丽。菜品口感 鱼肉鲜美，汤汁清澈，原汁原味，淡爽鲜香，外带姜丝麻油，香气扑鼻。</string>
		<key>ingredients</key>
		<string>武昌鱼,600g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/8/794_57db8f92193eb9a4.jpg</string>
				<key>step</key>
				<string>1.将武昌鱼去膛 去鳞洗净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/8/794_24c1318152703c23.jpg</string>
				<key>step</key>
				<string>2.在鱼身上打上花刀。用精盐、白酒抹在鱼身上腌制入味</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/8/794_bf2f68139937cd49.jpg</string>
				<key>step</key>
				<string>3.将一部分葱姜切片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/8/794_a4974a1f2cc69bcb.jpg</string>
				<key>step</key>
				<string>4.另一部切成丝备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/8/794_b8aa304870967445.jpg</string>
				<key>step</key>
				<string>5.把葱姜片放入鱼身和膛里腌制10分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/8/794_bed6f31a97233cd7.jpg</string>
				<key>step</key>
				<string>6.蒸锅放入水烧开。放入鱼，大火蒸制7分钟，关火虚蒸5分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/8/794_f535203749248f59.jpg</string>
				<key>step</key>
				<string>7.把鱼取出倒掉汤汁加入葱姜丝和蒸鱼豉油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/8/794_e7d48d77c508e74d.jpg</string>
				<key>step</key>
				<string>8.炒锅放油烧热加入花椒炸香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/8/794_bc12c8ec1d1e986a.jpg</string>
				<key>step</key>
				<string>9.鱼身放入少量的剁椒，把热油泼在鱼上即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;10-20分钟;蒸;午餐;晚餐;湖北菜;鲜香;1-2人;待客菜;蒸锅</string>
		<key>title</key>
		<string>清蒸武昌鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/7/6547_517985.jpg</string>
		</array>
		<key>burden</key>
		<string>生姜,适量;油,适量;料酒,适量;盐,适量;鸡精,适量;胡椒粉,适量;葱花,适量</string>
		<key>id</key>
		<string>6547</string>
		<key>imtro</key>
		<string>说都煲汤，大家一致公认是广东人煲汤煲得最好，坨坨妈也很喜欢广式煲汤，品式多样，花样繁多，天上飞的地上爬的水里游的，无一不可拿来入汤，再加上各种有养生保健功效的药材，的确是调理滋补的好方法。但是喝过无数种汤之后，坨坨妈最念念不忘的，还是我们湖北的莲藕排骨汤，没有过多的花哨，只是简单的大块肉骨和莲藕，不需添加任何昂贵的补药，用小火慢慢熬炖，最后溶成一碗至浓至纯的鲜汤，原汁原味，天然营养，喝上一口，回味无穷。 小的时候每到过年或家中来客人，姥姥总喜欢熬上一大锅浓浓的藕汤，让所有的人都能喝个过瘾。今年是我长这么大以来，头一次不在妈妈和姥姥身边过年，不知道没有我没有坨屁屁的新年，她们会不会寂寞，今天过小年，我也熬上一锅汤，把对家人浓浓的爱，溶进汤里，希望他们都平平安安，健健康康！</string>
		<key>ingredients</key>
		<string>排骨,1000g;藕片,500g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/66/6547_b6498dd16238b0d1.jpg</string>
				<key>step</key>
				<string>1.排骨剁成长段，洗净，滤干水份，生姜切片备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/66/6547_1dc54e42a14472a9.jpg</string>
				<key>step</key>
				<string>2.炒锅倒入稍多一点的油，大火烧至八成热</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/66/6547_abce916ba01b36f4.jpg</string>
				<key>step</key>
				<string>3.下入生姜和排骨翻炒，至水份炸干时，倒入少量料酒，继续炒香</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/66/6547_50f3b45e924ac344.jpg</string>
				<key>step</key>
				<string>4.转入高压锅中，加入大半锅水，不要加盐，大火烧上汽后，改小火炖20分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/66/6547_e7a114e54268ceac.jpg</string>
				<key>step</key>
				<string>5.压排骨的时候，可以将莲藕洗净刨皮，滚刀切成大块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/66/6547_c86b15b466ee38a4.jpg</string>
				<key>step</key>
				<string>6.排骨压制20分钟后，放汽开盖，下入莲藕，加盐，盖上锅盖，大火烧上汽后，改小火再炖15分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/66/6547_bc393cec0b7ce3fa.jpg</string>
				<key>step</key>
				<string>7.起锅时加入鸡精和胡椒粉，倒入汤碗，撒上葱花即可，此汤浓淳香甜，十足的原汁原味</string>
			</dict>
		</array>
		<key>tags</key>
		<string>汤;老年人;咸香;炖;白领;湖北菜;砂锅;周末;全菜系;1-2人;利气;1小时-2小时</string>
		<key>title</key>
		<string>莲藕排骨汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/72/71423_447742.jpg</string>
		</array>
		<key>burden</key>
		<string>生姜,适量;黄花,适量;红枣,适量;香菇,适量;油,适量;盐,适量;胡椒,适量</string>
		<key>id</key>
		<string>71423</string>
		<key>imtro</key>
		<string>武汉小桃园的瓦罐鸡汤因其独特的风味而远近闻名，瓦罐鸡汤在湖北饮食中占很重要一个位置，湖北人习俗里面，喝鸡汤是非常重要一件事，妇女生产后坐月子，要吃上十几只鸡，善吃者能吃上几十只鸡，穷人也要吃三五只鸡，鸡又以煨汤为主，湖北人的传统观念里面，喝汤比吃肉养人，所以我坐月子那会，汤全是我喝的，肉全是坨坨爸吃的，他是肉食动物，我酷爱喝汤，正好两全其美！不光是做月子，家里来客，主人端上一罐浓浓的鸡汤，也是表示对客人的最高礼遇。好的瓦罐鸡汤，鸡一定要用土鸡，最好用产于黄陂、孝感一带的肥嫩母鸡。将鸡块投入油锅爆炒，再倒入盛有沸水的瓦罐内，可加少量香料，也可什么都不加，就用生姜和清水，用旺火煮熟，小火煨透。盐一定要在最后放，盐放早了会导致蛋白质凝固，这样鸡肉的鲜味就不易于溶于汤中。一罐成功的鸡汤，一定是肉质肥嫩酥烂，汤汁金黄香浓，喝上一口，那味道就象揭开了尘封的故乡岁月，记忆中外婆后院的红泥小火炉，细细红火，芭扇轻摇，有斜阳暖照，瓦罐中的鸡汤经过数小时的煨煮，悄然沸腾，浓郁的香味丝丝泌入心脾。心急想喝上一口，往往不小心烫了嘴，姥姥总是说：“慢点！慢点！”然后勺上一勺金色的汤汁，小心的吹凉，送进我嘴里。那时候姥姥的笑容，是最幸福和满足的！ 前几天我妈打电话来说我姥姥在酒店吃饭不小心摔断了腿，这两天在医院做手术，姥姥八十岁的人了，还要遭这份罪，想想心里就特难受，明天我们全家开车去武汉看我姥姥，决定亲手做一罐鸡汤带去，让她老人家补补身体，希望她早日康复！</string>
		<key>ingredients</key>
		<string>土鸡,1000g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71423_49aba87d7d7ea65a.jpg</string>
				<key>step</key>
				<string>1.生姜，黄花，红枣，香菇各适量</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71423_4f0b5c4a6fb60b0a.jpg</string>
				<key>step</key>
				<string>2.炒锅倒入适量的油，烧至八成热时，下入姜片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71423_54c605f5e044ece8.jpg</string>
				<key>step</key>
				<string>3.两斤左右土鸡一只，切小块，下油锅爆炒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71423_b4e8eb26d23ee9ce.jpg</string>
				<key>step</key>
				<string>4.装入瓦罐，将黄花香菇等香料泡发洗净后加入，注入清水，大火烧开后改小火煨制3小时左右。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71423_c2a4a421aa00630f.jpg</string>
				<key>step</key>
				<string>5.起锅时加入盐，胡椒调味</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71423_fb42284aed0458d2.jpg</string>
				<key>step</key>
				<string>6.汤汁金黄，肉质肥美，绝对会让你喝上一口就欲罢不能！</string>
			</dict>
		</array>
		<key>tags</key>
		<string>汤;湖北菜;熬;鲜香;汤锅;全菜系;2小时以上;1-2人;生防便秘</string>
		<key>title</key>
		<string>瓦罐鸡汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/16/15553_341689.jpg</string>
		</array>
		<key>burden</key>
		<string>红枣,适量;盐,适量;生姜,适量</string>
		<key>id</key>
		<string>15553</string>
		<key>imtro</key>
		<string>藕的营养价值很高，富含铁、钙等微量元素，植物蛋白质、维生素以及淀粉含量也很丰富，有明显的补益气血，增强人体免疫力作用。故中医称其：“主补中养神，益气力”。</string>
		<key>ingredients</key>
		<string>莲藕,250g;排骨,500g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/156/15553_5b9ea9889db5b1bc.jpg</string>
				<key>step</key>
				<string>1.排骨洗净，入锅焯出血水。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/156/15553_a7bdd9584ed8d385.jpg</string>
				<key>step</key>
				<string>2.另起一锅烧开水。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/156/15553_fd16812263a45abf.jpg</string>
				<key>step</key>
				<string>3.将焯过水的排骨加入开水中。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/156/15553_9f668e193bde53af.jpg</string>
				<key>step</key>
				<string>4.莲藕洗净切段备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/156/15553_8ec967c739a40efb.jpg</string>
				<key>step</key>
				<string>5.待排骨六成熟时加入莲藕和红枣，大火烧开后转小火慢煲。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/156/15553_e1a6c7f0b6c6d153.jpg</string>
				<key>step</key>
				<string>6.待莲藕熟烂，加入少许山药粉。（用冷水化开倒入）煮开加盐调味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/156/15553_d717b096553dfcc7.jpg</string>
				<key>step</key>
				<string>7.一碗补血汤水就做好了。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>汤;湿热质;老年人;炖;白领;秋季;湖北菜;下火;砂锅;养颜;去火;清火;周末;全菜系;1-2人;凉血;清肺;清热下火;利气;1小时-2小时;阳盛质;肺热</string>
		<key>title</key>
		<string>莲藕排骨汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/45/44155_228080.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;姜,适量;大葱,适量;花椒,适量;胡椒,适量;白芝麻,适量;生抽,适量;醋,适量;糖,适量;红辣椒,适量</string>
		<key>id</key>
		<string>44155</string>
		<key>imtro</key>
		<string>大家听说过“糍粑鱼”没有？它可是具有浓厚的湖北乡土气息的地方风味名菜，我们都很喜欢这种吃法，是以鱼肉为主料，经过腌渍、晾干后煎烧而成的。 由于它的外型似煎好的糍粑，金黄香脆，因此得名。做好的“糍粑鱼”口味咸辣、香气扑鼻，不仅可以用来佐酒，而且很下饭，是饭馆点击率极高的当地菜品之一。</string>
		<key>ingredients</key>
		<string>鱼,400g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_e368f84e1f00c242.jpg</string>
				<key>step</key>
				<string>1.将鱼肉剁成长5厘米、宽3厘米的鱼块置小盆中，加入适量大葱、花椒、老姜、干辣椒、盐、料酒调和成腌渍调料；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_5a00637e0fe7dbb3.jpg</string>
				<key>step</key>
				<string>2.拌匀稍稍按摩入味,放入密封的容器中，再放入冰箱中腌制；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_7b4f8e1898dc7e29.jpg</string>
				<key>step</key>
				<string>3.将鱼取出拨下所有腌渍调料（留用），鱼块放入簸箕上; 类</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_df2b38a1a30139f9.jpg</string>
				<key>step</key>
				<string>4.置于阴凉通风处风置半干；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_cd7f2b6c5c851d69.jpg</string>
				<key>step</key>
				<string>5. 准备好其他备料， 生抽， 料酒和醋调一汁， 再准备些熟芝麻；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_3a4255de696149d8.jpg</string>
				<key>step</key>
				<string>6.在烧热的锅中用生姜擦一遍, 再锅里加入适量油；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_1bb7f8747e0819b6.jpg</string>
				<key>step</key>
				<string>7.放入风干好的鱼块, 用小火将双面慢慢炕；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_1eb72380511cd178.jpg</string>
				<key>step</key>
				<string>8.待至两面金黄后取出备用；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_373b86eefe7af5ca.jpg</string>
				<key>step</key>
				<string>9.将腌渍调料放入锅内小火炒香；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_72d822c8f36491b3.jpg</string>
				<key>step</key>
				<string>10.将煎好的鱼块倒入锅内，小火翻炒鱼块；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_0a379c90c95ca231.jpg</string>
				<key>step</key>
				<string>11. 干煸一下后倒入准备好的料汁， 使其均匀的裹在鱼块上，起锅前收汁；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_9d0092b4234c6ac4.jpg</string>
				<key>step</key>
				<string>12. 撒上熟芝麻翻炒；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/442/44155_f361d27607bf4647.jpg</string>
				<key>step</key>
				<string>13.汁干后起锅装盘。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;鱼香;10-20分钟;蒸;健忘;湖北菜;提神;1-2人;益智;健脑益智;健脑;增强记忆力;蒸锅</string>
		<key>title</key>
		<string>糍粑鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/16/15810_486637.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;姜,适量;料酒,适量</string>
		<key>id</key>
		<string>15810</string>
		<key>imtro</key>
		<string>莲藕中含有黏液蛋白和膳食纤维，能与人体内胆酸盐，食物中的胆固醇及甘油三酯结合，使其从粪便中排出，从而减少脂类的吸收，排骨和莲藕一起炖汤，使其汤更清甜。莲藕散发出一种独特清香，还含有鞣质，有一定健脾止泻作用，能增进食欲，促进消化，开胃健中，有益于胃纳不佳，食欲不振者恢复健康。</string>
		<key>ingredients</key>
		<string>排骨,500g;莲藕,150g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/159/15810_2ce0faecb2dc8571.jpg</string>
				<key>step</key>
				<string>1.将排骨洗净，莲藕洗净去皮备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/159/15810_d15360bc6b49c62b.jpg</string>
				<key>step</key>
				<string>2.然后将排骨用水焯一下，倒入料酒，加入生姜片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/159/15810_4ae520988b946b78.jpg</string>
				<key>step</key>
				<string>3.捞出洗净备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/159/15810_12fa6eae0f2d7969.jpg</string>
				<key>step</key>
				<string>4.将莲藕切片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/159/15810_603e0fe07d29baf2.jpg</string>
				<key>step</key>
				<string>5.另起锅，倒入油，将排骨煸炒一下，然后加足水</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/159/15810_b54c73da54d5e51b.jpg</string>
				<key>step</key>
				<string>6.大火烧开后，小火慢炖，待汤渐渐发白时，加入莲藕一起炖</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/159/15810_f85935b81d3464e9.jpg</string>
				<key>step</key>
				<string>7.待莲藕炖烂即可</string>
			</dict>
		</array>
		<key>tags</key>
		<string>汤;湿热质;老年人;咸香;炖;白领;秋季;湖北菜;下火;砂锅;养颜;去火;清火;周末;全菜系;1-2人;凉血;清肺;清热下火;利气;1小时-2小时;阳盛质;肺热</string>
		<key>title</key>
		<string>莲藕排骨汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/22/21066_161769.jpg</string>
		</array>
		<key>burden</key>
		<string>蒸鱼豉油,适量;葱,适量;姜,适量;盐,适量;料酒,适量</string>
		<key>id</key>
		<string>21066</string>
		<key>imtro</key>
		<string>马上要过年了，在我们家还是以海鲜为主哈，鱼肯定是要做的，清蒸鱼是我最喜欢的做法，而且还寓意年年有余哦</string>
		<key>ingredients</key>
		<string>武昌鱼,700g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/211/21066_bab9ae1a0721d731.jpg</string>
				<key>step</key>
				<string>1.依然老规矩，鱼请商家去除内脏带回，清洗干净</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/211/21066_3c7a5af804339931.jpg</string>
				<key>step</key>
				<string>2.在鱼身划2刀，加入盐和料酒腌制15分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/211/21066_9caaf9e9785887f8.jpg</string>
				<key>step</key>
				<string>3.放上姜片，葱段，入开水锅中蒸18分钟左右</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/211/21066_776b41ce99e67d23.jpg</string>
				<key>step</key>
				<string>4.取出装入另一个盆中，将姜片和葱段拣出，重新放上葱丝，浇上蒸鱼豉油</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/211/21066_75bafeb0f97178e3.jpg</string>
				<key>step</key>
				<string>5.锅内入油烧热，直接浇在鱼上即可</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;10-20分钟;蒸;午餐;晚餐;湖北菜;鲜香;3-4人;待客菜;蒸锅</string>
		<key>title</key>
		<string>清蒸武昌鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/72/71473_258867.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;生姜,适量;小葱,适量</string>
		<key>id</key>
		<string>71473</string>
		<key>imtro</key>
		<string>藕含有淀粉、蛋白质、天门冬素、维生素C以及氧化酶成分，含糖量也很高，生吃鲜藕能清热解烦，解渴止呕；如将鲜藕压榨取汁，其功效更甚，煮熟的藕性味甘温，能健脾开胃，益血补心，故主补五脏，有消食、止渴、生肌的功效。 春秋季适合喝点汤水来抵抗干燥的天气，今天就做个清汤的排骨莲藕汤，一道不放油的汤，要的就是它那种的清淡的香醇味道。</string>
		<key>ingredients</key>
		<string>猪肋排,300g;鲜藕,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71473_1b7de005c5bdea9e.jpg</string>
				<key>step</key>
				<string>1.猪排骨斩成小段、藕削皮切滚刀块、生姜切大片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71473_a114668881c45953.jpg</string>
				<key>step</key>
				<string>2.把斩成段的猪排下开水，煮沸撇去浮沫，捞出</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71473_4668c3140a5512da.jpg</string>
				<key>step</key>
				<string>3.砂锅内添足水（中途如需添水要加开水）、放入焯过水的猪排、姜片大火煮开后改小火炖</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71473_7d103ad3299466d6.jpg</string>
				<key>step</key>
				<string>4.半小时后放入切好的藕，继续文火煮半小时</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/715/71473_ea61f067d16f83d5.jpg</string>
				<key>step</key>
				<string>5.等藕熟烂后加精盐，稍炖入味 最后洒入葱花或香菜段，喜欢胡椒粉的可酌情撒入胡椒粉。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>汤;半小时-1小时;湖北菜;熬;汤锅;1-2人</string>
		<key>title</key>
		<string>莲藕排骨汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/29/28940_257239.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;红辣椒,适量;姜,适量;胡椒粉,适量</string>
		<key>id</key>
		<string>28940</string>
		<key>imtro</key>
		<string>清蒸武昌鱼是湖北菜菜谱之一，这道菜做法简单，外表美观，味道鲜美，是给父亲下酒的最好选择哦。 武昌鱼的味道的确很鲜美，做法也很简单，就是切鱼比较麻烦，呵呵</string>
		<key>ingredients</key>
		<string>武昌鱼,500g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/290/28940_c788bfdb78c26565.jpg</string>
				<key>step</key>
				<string>1.准备武昌鱼一条</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/290/28940_2a1c5942b5b1b0fd.jpg</string>
				<key>step</key>
				<string>2.先把头跟尾巴切下，从头掏出内脏</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/290/28940_d4023d6f6b09d87f.jpg</string>
				<key>step</key>
				<string>3.开始切鱼身，鱼肚那里不要切断，这个步骤有些麻烦</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/290/28940_618bc80125021eaf.jpg</string>
				<key>step</key>
				<string>4.开始摆造型了</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/290/28940_78f7ce613eb9ad7d.jpg</string>
				<key>step</key>
				<string>5.放辣椒粒跟姜片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/290/28940_64c5603fd36bccde.jpg</string>
				<key>step</key>
				<string>6.蒸5，6分钟吧，这个要根据鱼的大小跟切的大小来看时间的，把姜片拿掉，用酱油跟胡椒粉拌均淋上，撒上葱花跟辣椒粒就行啦</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/290/28940_a21dbae8ca621ad5.jpg</string>
				<key>step</key>
				<string>7.来个近拍</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;湖北菜;下酒菜</string>
		<key>title</key>
		<string>清蒸武昌鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/16/15626_277018.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;味精,适量;生姜,适量</string>
		<key>id</key>
		<string>15626</string>
		<key>imtro</key>
		<string>莲藕味甘性平，有消炎化淤，清热解燥，止咳化痰之功。此汤是秋冬进补靓汤，汤品补而不燥、润而不腻、香浓可口，具有补中益气、养血健骨、滋润肌肤的作用。</string>
		<key>ingredients</key>
		<string>莲藕,250g;排骨,500g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15626_ee06256981059789.jpg</string>
				<key>step</key>
				<string>1.莲藕切快后，加入1勺盐抓匀后腌制一会</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15626_23044851919401a5.jpg</string>
				<key>step</key>
				<string>2.排骨洗净后，放锅里加少量的油煸炒下</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15626_5d0cfa6909ae1cfb.jpg</string>
				<key>step</key>
				<string>3.翻炒上色后盛出来沥干油备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15626_fac72547a808fe4d.jpg</string>
				<key>step</key>
				<string>4.高压锅里加入姜片，少量料酒后把水煮开</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15626_98f90a00f880e61e.jpg</string>
				<key>step</key>
				<string>5.倒入排骨入高压锅</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15626_5053c428facedb7f.jpg</string>
				<key>step</key>
				<string>6.接着倒入藕块（藕腌制完后再用清水洗去盐分），盖上盖子压上25分钟左右</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15626_1f6220489f250440.jpg</string>
				<key>step</key>
				<string>7.压熟后加入调料盐，味精，即可出锅了</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;热菜;湿热质;秋季;湖北菜;下火;养颜;去火;清火;秋季养生;凉血;清肺;健脾养胃;清热下火;阳盛质;肺热</string>
		<key>title</key>
		<string>莲藕排骨汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/2/1710_732478.jpg</string>
		</array>
		<key>burden</key>
		<string>姜,适量;葱,适量;蒸鱼豉油,适量;食用油,适量</string>
		<key>id</key>
		<string>1710</string>
		<key>imtro</key>
		<string>毛泽东的一首诗词水调歌头游泳中的一句才饮长沙水， 又食武昌鱼，让湖北的武昌鱼一下子名扬天下，武昌鱼的做法很多，唯有清蒸最鲜美！有人说清蒸的武昌鱼能吃出蟹肉的味道来，虽然有点夸张，但足以证明清蒸武昌鱼的美味了！</string>
		<key>ingredients</key>
		<string>武昌鱼,400g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/18/1710_32ee8a23e50b064c.jpg</string>
				<key>step</key>
				<string>1.武昌鱼一条清洗干净</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/18/1710_43fc7f7004816573.jpg</string>
				<key>step</key>
				<string>2.身上打上十字花刀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/18/1710_b606494b7182aaa9.jpg</string>
				<key>step</key>
				<string>3.鱼肚、鱼背部塞上姜片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/18/1710_abdbc6814307dd1e.jpg</string>
				<key>step</key>
				<string>4.装盘放锅中蒸</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/18/1710_542aa6aa2f2210d5.jpg</string>
				<key>step</key>
				<string>5.水开蒸十分钟后关火</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/18/1710_98a585ad70692360.jpg</string>
				<key>step</key>
				<string>6.准备好盘子</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/18/1710_ded5662bc366001a.jpg</string>
				<key>step</key>
				<string>7.倒掉蒸出的水分，取出姜片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/18/1710_837c66a39207adcb.jpg</string>
				<key>step</key>
				<string>8.锅烧热倒油烧至八九分热</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/18/1710_8cf5be9d6d1d0687.jpg</string>
				<key>step</key>
				<string>9.淋到鱼身上倒入蒸鱼鼓油</string>
			</dict>
		</array>
		<key>tags</key>
		<string>热菜;原味;蒸;湖北菜;快手菜</string>
		<key>title</key>
		<string>清蒸武昌鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/76/75725_535379.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;娃娃菜,适量;红薯粉条,适量;豆腐皮,适量;肥肉,适量;麻辣火锅底料,适量;小米辣,适量</string>
		<key>id</key>
		<string>75725</string>
		<key>imtro</key>
		<string>天气越来越冷，就想舒舒服服的吃一顿热乎饭菜，做个暖锅，一定要够辣才过瘾。鱼糕是湖北地方特色食品，配上豆腐皮、肥牛片、红薯粉条，加上小米辣和四川的火锅底料，一锅够辣、够爽的热汽腾腾的暖锅就出炉了！</string>
		<key>ingredients</key>
		<string>鱼糕,250g;肥牛片,250g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_51bd23681338bb39.jpg</string>
				<key>step</key>
				<string>1.鱼糕切块豆腐皮切丝</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_fbf18a999a2d84a1.jpg</string>
				<key>step</key>
				<string>2.娃娃菜洗净从中间劈开</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_2851f0434841117a.jpg</string>
				<key>step</key>
				<string>3.热锅下油下肥肉炒出油后放几片姜</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_d87368896eacd18c.jpg</string>
				<key>step</key>
				<string>4.放入娃娃菜</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_ac1f7c7b7db4ebd9.jpg</string>
				<key>step</key>
				<string>5.加盐炒一会</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_57c123fabdfad7d7.jpg</string>
				<key>step</key>
				<string>6.加水</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_7b757f1f7c1f4bb9.jpg</string>
				<key>step</key>
				<string>7.加火锅料</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_aa97d28860e3beca.jpg</string>
				<key>step</key>
				<string>8.煮开</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_b78e79af8531aa54.jpg</string>
				<key>step</key>
				<string>9.加鱼糕、豆腐皮、肥牛片、红薯粉条</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_e72a7a3a9268cdbf.jpg</string>
				<key>step</key>
				<string>10.加小米辣</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/758/75725_5c0416941917468d.jpg</string>
				<key>step</key>
				<string>11.煮熟即可</string>
			</dict>
		</array>
		<key>tags</key>
		<string>健脾开胃;麻辣;白领;湖北菜;湖北;特色菜</string>
		<key>title</key>
		<string>鱼糕肥牛暖锅</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/16/15662_175514.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;生姜,适量;味精,适量</string>
		<key>id</key>
		<string>15662</string>
		<key>imtro</key>
		<string>冬季在我们这边家家都爱煨莲藕排骨汤来喝，这个时候的藕很适合，含淀粉很多的那种，煨出来的莲藕也是粉粉的~带上莲藕特有的清香，冬天都来滋补一下吧·</string>
		<key>ingredients</key>
		<string>莲藕,1大节;排骨,500g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15662_b54e4631923ed8a2.jpg</string>
				<key>step</key>
				<string>1.莲藕洗净刨去外皮</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15662_9fd43d32c9c6a692.jpg</string>
				<key>step</key>
				<string>2.切成滚刀块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15662_4df3d7e0f8f76059.jpg</string>
				<key>step</key>
				<string>3.加入1小勺的盐，拌匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15662_ad89e253d49c504c.jpg</string>
				<key>step</key>
				<string>4.锅里加少许的油，倒入排骨翻炒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15662_b3abf388f7232306.jpg</string>
				<key>step</key>
				<string>5.炒到上色后盛起来，沥干油</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15662_6dbba46ea7a262a2.jpg</string>
				<key>step</key>
				<string>6.压力锅里面水烧热后加入生姜块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15662_8edbdb8a284cfb8c.jpg</string>
				<key>step</key>
				<string>7.倒入炒好的排骨</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15662_1aa4cb768ae0a9a9.jpg</string>
				<key>step</key>
				<string>8.接着倒入莲藕</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/157/15662_ee8e1d0641894cdf.jpg</string>
				<key>step</key>
				<string>9.盖上盖子调到排骨汤的一档，起锅的时候再加入少许的味精和盐就可以了~</string>
			</dict>
		</array>
		<key>tags</key>
		<string>湿热质;咸;秋季;湖北菜;下火;养颜;去火;清火;凉血;清肺;养生汤;清热下火;冬季养生;阳盛质;肺热</string>
		<key>title</key>
		<string>莲藕排骨汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/56/55578_562166.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;葱姜,适量;大料,3个;桂皮,1块;老抽,20ml;生抽,25ml;白糖,5g;料酒,20ml;红糖,3g;香叶,2片;花椒,2g;水淀粉,适量</string>
		<key>id</key>
		<string>55578</string>
		<key>imtro</key>
		<string>元宝肉是一道名字很喜庆的年菜肉食美味，不过在里面加入一些蛋，如同一个个小元宝而得名。 湖北人过年欢度春节时，全家老幼团聚在一起，在农历腊月三十晚上吃团年饭的家宴上，大家都喜欢吃这个菜，以示在新的一年里财源茂盛，富贵吉祥，万事如意。 这道肉食美味，色泽洪亮，咸香味美，尤其是里面的蛋吸收了肉汁和调味料的香味，使得味道更加入味好吃。 在年菜餐桌上有吉庆寓意的好意头，菜色美，造型美，个个似真元宝，蛋肉相映，滋味各异。</string>
		<key>ingredients</key>
		<string>鹌鹑蛋,20个;带皮五花肉,250g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_638105b95372d10e.jpg</string>
				<key>step</key>
				<string>1.鹌鹑蛋煮熟去皮，五花肉洗净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_06166d6f80882b9b.jpg</string>
				<key>step</key>
				<string>2.锅中油烧热把鹌鹑蛋中小火炸制出虎皮。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_13ca9ead733029ed.jpg</string>
				<key>step</key>
				<string>3.然后捞出放吸油纸上吸出油份。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_5eca767ba23f5fa5.jpg</string>
				<key>step</key>
				<string>4.油锅留少许底油放入切块的五花肉翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_e041a1d047e05794.jpg</string>
				<key>step</key>
				<string>5.炒至五花肉变色。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_efa0f546d86a9d10.jpg</string>
				<key>step</key>
				<string>6.加入红白糖。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_9956fc73c1044807.jpg</string>
				<key>step</key>
				<string>7.继续炒至糖溶化五花肉上色。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_1305c9c459570b10.jpg</string>
				<key>step</key>
				<string>8.加入料酒炒香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_b6cd9c9e5dc82d62.jpg</string>
				<key>step</key>
				<string>9.再加入调味料。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_3ffef2df6f0c9356.jpg</string>
				<key>step</key>
				<string>10.加入葱姜继续炒出香味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_da04245b901f8f10.jpg</string>
				<key>step</key>
				<string>11.直到五花肉出油微黄。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_4639cc91ce65a6c4.jpg</string>
				<key>step</key>
				<string>12.加入老抽。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_6ecda43f820a2739.jpg</string>
				<key>step</key>
				<string>13.加入生抽。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_55f6a6b2bf91b105.jpg</string>
				<key>step</key>
				<string>14.再次炒至五花肉上色。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_8b16806e0c95f3fb.jpg</string>
				<key>step</key>
				<string>15.然后加入适量的清水。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_0c74a2882cbeca26.jpg</string>
				<key>step</key>
				<string>16.大火煮开后企撇去上面的浮沫。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_fd1b61dc0ba9015f.jpg</string>
				<key>step</key>
				<string>17.加盖小火煮制40分钟后倒入炸制的鹌鹑蛋。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_889f3955715b50c7.jpg</string>
				<key>step</key>
				<string>18.继续烧制20分钟后加少许盐调味，然后淋入水淀粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_f3198f51c551451d.jpg</string>
				<key>step</key>
				<string>19.淋入香油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_e0e1c254e540b5da.jpg</string>
				<key>step</key>
				<string>20.翻炒均匀关火。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>赣菜;湖北菜;增强抵抗力;年菜;健脾养胃</string>
		<key>title</key>
		<string>元宝肉</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/69/68713_756640.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;酱油,适量;醋,适量;花椒,适量;生姜,适量;葱,适量;蒜,适量;辣椒,适量</string>
		<key>id</key>
		<string>68713</string>
		<key>imtro</key>
		<string>在武汉那几年，最喜欢吃的就是酸辣藕丁和糍粑鱼了，后来特意跟同学的妈妈学了这道菜。这道菜是典型的外焦里嫩，甚至可以当零食吃，又不会像腌鱼那样影响健康，所以很受欢迎呢。这是我第一次做糍粑鱼，但家人都说很好吃。</string>
		<key>ingredients</key>
		<string>鲤鱼,1条</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/688/68713_fa363c6d983a4992.jpg</string>
				<key>step</key>
				<string>1.活鲤鱼一条，因为鲤鱼肉比较厚，其他肉比较厚的鱼也可以。收拾干净备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/688/68713_12d008714cd1904f.jpg</string>
				<key>step</key>
				<string>2.把鱼切成大小差不多的鱼块。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/688/68713_9124906ef82eb84e.jpg</string>
				<key>step</key>
				<string>3.把上述的辅料全加到鱼块里。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/688/68713_86050a679c4a1bd4.jpg</string>
				<key>step</key>
				<string>4.拌匀后，用保鲜膜密封好，放进冰箱，腌制2--3天</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/688/68713_5506c70b52336328.jpg</string>
				<key>step</key>
				<string>5.把腌制好的鱼块取出来晾干，或者用厨房用纸巾擦干。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/688/68713_5d7cff64b0ed3efc.jpg</string>
				<key>step</key>
				<string>6.油锅加热，开始煎鱼块咯，注意火候不要太大，以免煎得太老。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/688/68713_25f6df91d7755e8d.jpg</string>
				<key>step</key>
				<string>7.煎好的鱼块放进盘子里备用，鱼块上撒上芝麻。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/688/68713_26d7f528a3ebcc9f.jpg</string>
				<key>step</key>
				<string>8.把腌鱼用的料放油锅内翻炒出香味来，浇到上一步的鱼块上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/688/68713_3dffb5afc3a3a38f.jpg</string>
				<key>step</key>
				<string>9.盘子里垫上生菜叶，把鱼块倒生菜叶上面，这样看着更有食欲呢。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>通乳;春节;骨质疏松;抗疲劳;湖北菜;可口;零食;美味;营养;鲜嫩;补钙;催乳;下奶;增高</string>
		<key>title</key>
		<string>糍粑鱼</string>
	</dict>
</array>
</plist>
