<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/77/76768_323343.jpg</string>
		</array>
		<key>burden</key>
		<string>大葱,适量;盐,适量;花椒,适量;料酒,适量;胡椒粉,适量;酱油,适量;鸡精,适量</string>
		<key>id</key>
		<string>76768</string>
		<key>imtro</key>
		<string>大葱烧海参是一道河南传统名菜，2007年，河南省商务厅根据专家评议、食客推选、网络调查，命名了十道河南传统名菜，其中就有大葱烧海参，另外还有炸八块、牡丹燕菜、糖醋软溜鲤鱼 焙面、炸紫酥肉、扒鱼翅、汴京烤鸭等</string>
		<key>ingredients</key>
		<string>水发海参,300g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/768/76768_0c798ec7da601358.jpg</string>
				<key>step</key>
				<string>1.海参切大片，大葱切段</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/768/76768_c27fec78bc7f3c76.jpg</string>
				<key>step</key>
				<string>2.海参放高汤中，加料酒，小火煨20分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/768/76768_0179bc7dd084ee1c.jpg</string>
				<key>step</key>
				<string>3.花椒炒出香味，捞出</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/768/76768_ff93d247597877c2.jpg</string>
				<key>step</key>
				<string>4.放入葱段，小火炒黄</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/768/76768_e4ae9ce22c385788.jpg</string>
				<key>step</key>
				<string>5.放入海参、高汤、盐、料酒、酱油、胡椒粉，小火烧入味，放鸡精挑好口味，OK</string>
			</dict>
		</array>
		<key>tags</key>
		<string>葱香;宴请;豫菜;葱烧;朋友聚餐;1-2人;锅子;1小时-2小时</string>
		<key>title</key>
		<string>大葱烧海参</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/20/19185_844544.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;姜,适量;蒜,适量;香菜,2根;花椒,适量;八角,2个;麻酱,适量;五香粉,适量;鸡精,适量</string>
		<key>id</key>
		<string>19185</string>
		<key>imtro</key>
		<string>在老家过春节，餐桌上经常有洛阳白菜这道菜，吃起来有汤有菜，冬天吃的特别暖和，就忍不住想发上来跟大家分享一下，但想着好豆这么大的家庭，指不定早发过呢，试着搜索了一下，竟然没有这道菜，难道这是我们地方的特色？</string>
		<key>ingredients</key>
		<string>白菜,半棵;粉丝,100g;里脊肉,150g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_f720ac28074ce5cc.jpg</string>
				<key>step</key>
				<string>1.半棵白菜，我只用了白菜叶</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_c3410a6d09d27cad.jpg</string>
				<key>step</key>
				<string>2.里脊肉150g</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_3bcf9d42ed71216b.jpg</string>
				<key>step</key>
				<string>3.粉丝2把</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_82a0d03066469833.jpg</string>
				<key>step</key>
				<string>4.花椒适量、八角2个、蒜、姜适量</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_b88f2b3c17930a2e.jpg</string>
				<key>step</key>
				<string>5.香菜2根</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_1d5c9b99a6aa8c45.jpg</string>
				<key>step</key>
				<string>6.温水调好麻酱，里面放盐、鸡精、五香粉</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_b7e23011a1eca888.jpg</string>
				<key>step</key>
				<string>7.锅里放平常炒菜时油量就可以</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_3264531eed125d3c.jpg</string>
				<key>step</key>
				<string>8.放入姜丝爆香</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_0523ab92a06f2240.jpg</string>
				<key>step</key>
				<string>9.将切好的里脊肉丝放入煸炒，炒至变色</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_77ea64253c5d6872.jpg</string>
				<key>step</key>
				<string>10.放入白菜，翻炒到略微出水后，放入两个八角</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_3bef3271d98b98de.jpg</string>
				<key>step</key>
				<string>11.加温水或开水没过白菜，喜欢吃汤多的，可以多加点</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_67f519bb7464f311.jpg</string>
				<key>step</key>
				<string>12.水开后放粉丝，煮到粉色变软</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_46e17e452c260071.jpg</string>
				<key>step</key>
				<string>13.起锅撒上切好的蒜末</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_1838f17094e6c410.jpg</string>
				<key>step</key>
				<string>14.锅里放油，放花椒炸香，将热花椒油浇到蒜末上</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/192/19185_bdd2dd711e80d7bc.jpg</string>
				<key>step</key>
				<string>15.将麻酱沿着碗边倒入，一盆香喷喷的洛阳白菜就做好了</string>
			</dict>
		</array>
		<key>tags</key>
		<string>冬季菜谱;年菜;御寒;便秘;排毒;补钙;骨质疏松;豫菜</string>
		<key>title</key>
		<string>洛阳白菜</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/78/77585_949556.jpg</string>
		</array>
		<key>burden</key>
		<string>香油,适量;盐,适量;姜汁,适量;鸡精,适量;熟白芝麻仁,适量</string>
		<key>id</key>
		<string>77585</string>
		<key>imtro</key>
		<string>面条菜是河南人喜食的一种野菜，上市季节和荠菜相同，口感清香绵软，多用来拌面蒸制、凉拌、热炒、做汤、下面条等，今天分享一道面条菜拌豆干的做法。</string>
		<key>ingredients</key>
		<string>面条菜,200g;五香豆腐干,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/776/77585_09f5971fa1dd84cc.jpg</string>
				<key>step</key>
				<string>1.原料图片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/776/77585_8989a11c4501719c.jpg</string>
				<key>step</key>
				<string>2.面条菜择洗干净，放沸水中焯水后捞出用凉开水浸凉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/776/77585_3aae6deb320528c2.jpg</string>
				<key>step</key>
				<string>3.面条菜切碎；五香豆腐干5mm见方的丁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/776/77585_073be266976c54b1.jpg</string>
				<key>step</key>
				<string>4.面条菜、五香豆干粒加盐、鸡精、香油、姜汁拌匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/776/77585_d8cc35be843f99b3.jpg</string>
				<key>step</key>
				<string>5.装在磨具盒中压实。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/776/77585_549b77c6009153b7.jpg</string>
				<key>step</key>
				<string>6.反扣在盘中，撒上熟芝麻仁即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>增强抵抗力;素食;五香;豫菜</string>
		<key>title</key>
		<string>面条菜拌豆干</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/30/29221_179133.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;白胡椒粉,适量;牛肉粉,适量;色拉油,适量;鸡蛋,适量;面粉,适量</string>
		<key>id</key>
		<string>29221</string>
		<key>imtro</key>
		<string>干炸里脊，是里脊经过腌渍调味，挂糊油炸而成，色泽金黄，外皮酥焦，制作方法简捷，尤其适合下酒哦！ 如果你不擅长厨艺，但是又想请客，在客人面前赚足面子，那么，这道菜最适合你了！ 原料少，易采购，做法简单，最主要是，人见人爱，男女老少都爱吃哦！ 经过腌渍的里脊，滋味已经很丰富，可以直接食用，如果喜欢，还可以蘸椒盐或者番茄沙司，味道更佳！</string>
		<key>ingredients</key>
		<string>猪里脊,500g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_0698fba98fc31191.jpg</string>
				<key>step</key>
				<string>1.里脊肉洗净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_6d37eed7e3c73398.jpg</string>
				<key>step</key>
				<string>2.用刀小心切掉里脊背面的筋膜。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_be9611a713212c6c.jpg</string>
				<key>step</key>
				<string>3.将里脊切长5-6厘米长的段，用刀片成合适厚度的肉片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_d303f3d307be0c73.jpg</string>
				<key>step</key>
				<string>4.改刀切丝。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_162bc995b581ecfa.jpg</string>
				<key>step</key>
				<string>5.将猪肉丝放入碗内，加入色拉油、盐、白胡椒粉、牛肉粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_fc155fe7a15300d7.jpg</string>
				<key>step</key>
				<string>6.搅拌均匀，腌渍1小时以上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_cfbf9444ce5612c7.jpg</string>
				<key>step</key>
				<string>7.打入鸡蛋2个。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_426276ceef6b10c7.jpg</string>
				<key>step</key>
				<string>8.放入面粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_1b0a8733343f26ac.jpg</string>
				<key>step</key>
				<string>9.搅拌均匀，肉丝周身挂满面糊。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/293/29221_07235e1552ec57fe.jpg</string>
				<key>step</key>
				<string>10.锅子烧热，倒油，油温7成热，将肉丝一丝一丝放入，炸至金黄色，捞出控干油。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>儿童;香酥;炸;小吃;豫菜;儿童节</string>
		<key>title</key>
		<string>干炸里脊</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/11/10368_489808.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;鸡蛋,适量;五香粉,适量</string>
		<key>id</key>
		<string>10368</string>
		<key>imtro</key>
		<string>菜馍，我家也叫塌菜馍，这是一种河南特有的面食，有点类似韭菜盒子，但是不完全一样。一样的是都是面皮里面加菜馅做的，不一样的是菜馍夹的菜馅很丰富，可以是韭菜，菠菜，苋菜、荆芥、虾皮，鸡蛋，豆腐，香菇，等等。菜馅加上下两层面皮，蔬菜的全部营养被包裹其中，是很合理的饮食搭配。</string>
		<key>ingredients</key>
		<string>韭菜,500g;菠菜,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10368_eddf62259d79294b.jpg</string>
				<key>step</key>
				<string>1.韭菜、菠菜切碎，加少许香油拌匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10368_f043333c91084618.jpg</string>
				<key>step</key>
				<string>2.和面</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10368_40d336fddd042fdb.jpg</string>
				<key>step</key>
				<string>3.饧发20分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10368_7d4ee5eaabc30313.jpg</string>
				<key>step</key>
				<string>4.面团饧发后，切成大小合适的剂子，擀成面皮</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10368_c83b961633149de4.jpg</string>
				<key>step</key>
				<string>5.取适量菜馅，放盐、磕一个生鸡蛋，拌匀，平铺在面皮上</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10368_3848102a6869b12e.jpg</string>
				<key>step</key>
				<string>6.再取一张面皮，放到菜馅上，轻轻用手指按紧周围部分，拿起碗，顺着饼边一转，把多余的面就给去掉了，留下圆圆的一张饼</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10368_03febe6536f98e0e.jpg</string>
				<key>step</key>
				<string>7.电饼铛打开，调到烙饼档，把菜馍放进去，</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10368_37f0a04b73cfc3cf.jpg</string>
				<key>step</key>
				<string>8.等一面微黄后翻面，另一面变成金黄色后就可以了</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10368_5f68c0659e054a48.jpg</string>
				<key>step</key>
				<string>9.菜馍塌好后，用刀从中间一切两半或四半，香喷喷的菜馅让人食欲大开</string>
			</dict>
		</array>
		<key>tags</key>
		<string>增强抵抗力;电饼铛;面食;豫菜</string>
		<key>title</key>
		<string>菜馍</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/50/49310_145241.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;大蒜,适量;料酒,适量;香辣酱,适量;干红辣椒,6个;姜片,5片;生抽,适量;老抽,适量;白糖,少许;八角,2个;花椒,30粒;桂皮,2块;枸杞,10粒</string>
		<key>id</key>
		<string>49310</string>
		<key>imtro</key>
		<string>红焖羊肉，曾经在几年前就风靡一时，非常的火爆。听说红焖羊肉，起源于我们河南新乡呢。 红焖羊肉作为美食中的精品，其营养价值及健身功能不言而喻。据《本草纲目》中记载：“羊肉，性温味甘，补气滋阴，暖中补虚，开胃健身；可正气祛邪、治畏寒怕热；补元阳、宜血气的滋补上品；对寒暑侵袭、冷热不均、四肢无力、产病后虚弱有奇效”。故传统中医学又有“人参补气，羊肉补形”之论。俗话说：“药补不如食补”，这也是红焖羊肉让所有食客长期喜爱的重要原因。 红焖羊肉地道的做法很讲究，家里做起来有点麻烦，俺就略微改造了一下，成了适合普通家庭做的家常版。</string>
		<key>ingredients</key>
		<string>羊肉,600g;胡萝卜,1根</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/494/49310_69f905e2ee0d7131.jpg</string>
				<key>step</key>
				<string>1.羊肉洗净沥干水分切1.5cm见方的块；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/494/49310_01722a3c3246a5ef.jpg</string>
				<key>step</key>
				<string>2.胡萝卜切大块；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/494/49310_1b9d5738d1a2914e.jpg</string>
				<key>step</key>
				<string>3.锅内烧热油，放入大蒜和姜片爆香；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/494/49310_551a15f690e2f5c1.jpg</string>
				<key>step</key>
				<string>4.然后倒入羊肉翻炒变色。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/494/49310_bd2dba8e94c00914.jpg</string>
				<key>step</key>
				<string>5.把料酒、香辣酱、干红辣椒、姜片、生抽、老抽、糖、盐倒入炒匀；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/494/49310_736ed0652e9cd1be.jpg</string>
				<key>step</key>
				<string>6.把炒匀的羊肉转入炖锅或砂锅，放入枸杞和八角、花椒和桂皮（这三种料用调味盒装起来放入砂锅内），加入开水；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/494/49310_a73f0eb468e3c4df.jpg</string>
				<key>step</key>
				<string>7.小火慢炖1小时候后加入胡萝卜。再接着炖1小时直到羊肉酥烂。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/494/49310_4f7e453afdb9c63e.jpg</string>
				<key>step</key>
				<string>8.成品图片。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;炒锅;香锅;豫菜</string>
		<key>title</key>
		<string>红焖羊肉</string>
	</dict>
</array>
</plist>
