<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/64/63455_260800.jpg</string>
		</array>
		<key>burden</key>
		<string>水,适量</string>
		<key>id</key>
		<string>63455</string>
		<key>imtro</key>
		<string>白酸传统的白酸是用清米汤在酸汤桶中慢慢发酵而成，快速简单的白酸是将面粉用作发面的300克老面搓细后放入盆中，加入5千克清水，充分溶解后倒入锅中置火上，边加热边搅拌，再将100克糯米粉（也有用玉米面、黄豆面的）用清水调匀后倒入锅中。待锅中汤汁烧沸后，起锅倒入坛子内封好口，放在温度稍高的地方静置一两天。色泽乳白、酸味纯正的白酸就可以用了。酸汤与泡菜水和卤水一样，保存得当，愈存愈香。 　　 还做了用白酸汤蒸的沥米饭</string>
		<key>ingredients</key>
		<string>大米,250g;酸汤母子,1瓶</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_bb8e2ea0a09123be.jpg</string>
				<key>step</key>
				<string>1.这次回贵州随便带回一瓶白酸汤的母子.到菜场去买了一个煲汤罐开始了自己做酸汤. 这是放在罐子里的酸汤母子.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_660c620867592190.jpg</string>
				<key>step</key>
				<string>2.煮饭时多放一些水.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_d14777bcb4fb3b27.jpg</string>
				<key>step</key>
				<string>3.等米锅里开了2-3分钟后把清米汤倒出来.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_63b2121567350611.jpg</string>
				<key>step</key>
				<string>4.一定要凉冷..</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_0e28d469279defc0.jpg</string>
				<key>step</key>
				<string>5.再倒到有酸汤母子罐中.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_d38b94a5c1b71902.jpg</string>
				<key>step</key>
				<string>6.盖好盖子后发酵2-3天.(天冷会长几天)</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_bbeba28a4e55e796.jpg</string>
				<key>step</key>
				<string>7.发酵好的酸汤表面是清清.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_aab357399b59b868.jpg</string>
				<key>step</key>
				<string>8.只倒上面部分.底下的就留到下次做饭时再增加新的米汤水.喜欢吃镇(蒸)子饭.因为只有镇子饭才有那个香味,这是电饭锅与压力锅都做不出来的特殊味道. 所以这次回凯里特意去买了一个最小号的小小镇子来煮沥米饭.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_3d10713f2a6c42a7.jpg</string>
				<key>step</key>
				<string>9.沥去清米汤后.再煮到米看到里面有个小白点里就起锅用筛网沥出米汤.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_1aa520876ceb6e30.jpg</string>
				<key>step</key>
				<string>10.再把米转到镇子里去.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_475cbd0858f19b5f.jpg</string>
				<key>step</key>
				<string>11.用筷子插几上洞好冒汽.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_3ca443029cf915eb.jpg</string>
				<key>step</key>
				<string>12.盖好盖子开始蒸熟.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/635/63455_490c84d61562f368.jpg</string>
				<key>step</key>
				<string>13.香香的米饭熟了........</string>
			</dict>
		</array>
		<key>tags</key>
		<string>汤;煮;贵州菜</string>
		<key>title</key>
		<string>贵州白酸汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/27/26788_373593.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;泡椒,适量;野山椒,适量;泡姜,适量;大蒜,适量;胡椒粉,适量</string>
		<key>id</key>
		<string>26788</string>
		<key>imtro</key>
		<string>上次回家带了一些妈妈自己做的小西红柿酸汤过来，想做自己很喜欢吃的酸汤鱼，之前做了一次我没有放野山椒和泡椒，吃起来感觉少点什么，味不够正。五一自己又做了一次加了一些泡椒和野山椒，家人都说好吃特别是汤酸的很有味儿。如果想要吃到正宗的酸汤鱼，那就去黔东南凯里吧，凯里酸汤鱼是非常有名的。</string>
		<key>ingredients</key>
		<string>黑鱼,800g;西红柿酸汤,300g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/268/26788_c287592286056343.jpg</string>
				<key>step</key>
				<string>1.黑鱼一条杀好洗净，切成小块，放料酒，姜丝，盐，白醋腌制10分钟备用，西红柿酸汤一碗备用，把泡椒，野山椒切小段备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/268/26788_9753212fbe3b6df6.jpg</string>
				<key>step</key>
				<string>2.起锅放适量油放入，姜蒜，野山椒，泡椒翻炒出香辣味</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/268/26788_296d6e448f6990d4.jpg</string>
				<key>step</key>
				<string>3.倒入西红柿酸汤，加适量盐</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/268/26788_65bf5cc603ee3158.jpg</string>
				<key>step</key>
				<string>4.翻炒均匀小火煮3分钟，这时酸味很浓</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/268/26788_9bcdcfb4d9ec27a2.jpg</string>
				<key>step</key>
				<string>5.在加入适量的水，水能没过鱼块就好</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/268/26788_b06e2b46ccf5065f.jpg</string>
				<key>step</key>
				<string>6.酸汤没开之前放入腌制好的鱼块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/268/26788_5eb252dc5a14fddb.jpg</string>
				<key>step</key>
				<string>7.把鱼块煮熟即可关火，最后放入葱花，胡椒粉调味就可以出锅了。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>贵州菜;汤;酸;10-20分钟;熬;汤锅;3-4人;滋阴补肾;滋阴壮阳</string>
		<key>title</key>
		<string>酸汤鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/76/75669_594964.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;糟辣椒,适量;生姜丝,适量;蒜瓣,适量;水芹菜,适量;白糖,少量</string>
		<key>id</key>
		<string>75669</string>
		<key>imtro</key>
		<string>话说背筋这东西，在来贵州之前还真不知道。那直到自己去菜场买的时候，才知道既不是肥肉也不像筋——原来那是从猪的里脊肉上面剔下的一层薄薄的膜。种软软qq的带有那种糟辣特殊的口感却总是让人想吃，这不，自己实际操作一次，原来也不比外面饭店里的味道差呢。</string>
		<key>ingredients</key>
		<string>背筋,400g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_2c69aeeeb36f7bf0.jpg</string>
				<key>step</key>
				<string>1.背筋一块，给一个特写。清洗干净准备切。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_9f8bd1f829ef396b.jpg</string>
				<key>step</key>
				<string>2.切成丝。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_f5cca110db9d7b37.jpg</string>
				<key>step</key>
				<string>3.水芹菜切小段。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_5ca2227c59ee2310.jpg</string>
				<key>step</key>
				<string>4.锅内姜丝蒜瓣爆香锅，背筋下锅大火翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_17ff8aee46f5f79c.jpg</string>
				<key>step</key>
				<string>5.放适量的盐炒匀，刚熟立即捞出装盘。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_006d4650d2c6883e.jpg</string>
				<key>step</key>
				<string>6.利用余油把水芹菜爆炒一下。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_e7b4e1984ff08c7e.jpg</string>
				<key>step</key>
				<string>7.锅内余油烧热，重新放生姜丝和蒜末。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_8ce7e31d08744220.jpg</string>
				<key>step</key>
				<string>8.放一勺糟辣椒炒香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_5dea65a9a0ebe731.jpg</string>
				<key>step</key>
				<string>9.背筋入内翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_dbb23b1381a3eced.jpg</string>
				<key>step</key>
				<string>10.放入水芹菜。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/757/75669_e927cd2281f606e7.jpg</string>
				<key>step</key>
				<string>11.出锅之前放一点点白糖即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>贵州菜;开胃;炒;香辣</string>
		<key>title</key>
		<string>糟辣背筋</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/29/28583_894077.jpg</string>
		</array>
		<key>burden</key>
		<string>菜油,适量;盐,适量;干辣椒,适量;生姜片,适量;葱花,适量;蒜花,适量;蒜瓣,适量;白砂糖,适量;高度酒,适量;贵州红酸,适量;木姜子油,适量</string>
		<key>id</key>
		<string>28583</string>
		<key>imtro</key>
		<string>大多数的人，对贵州酸汤的认识仅仅停留在酸汤鱼上。其实贵州人爱吃酸辣，任何肉类，都可以做成酸汤的形式。比如这个酸奶牛腩，酸汤祛除牛腩的腻，牛腩的软糯又融入了酸辣，在放入了配菜（西芹，可以放其他素菜，比如金针菇）之后，除了口味，营养也得到了更好的提升。</string>
		<key>ingredients</key>
		<string>牛腩,500g;西芹,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_95d0d1f2ebe03b5c.jpg</string>
				<key>step</key>
				<string>1.牛腩，洗干净切成块。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_ba43c6bce7330d60.jpg</string>
				<key>step</key>
				<string>2.在锅内焯出血水，然后洗干净浮沫。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_1a3465f98e0be5b2.jpg</string>
				<key>step</key>
				<string>3.葱姜爆香锅，牛腩中火翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_373d3da1ddac66df.jpg</string>
				<key>step</key>
				<string>4.放入少量的高度酒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_4fef0136ac71bfb3.jpg</string>
				<key>step</key>
				<string>5.继续翻炒大概5分钟，倒入开水。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_f81000d98fa521c5.jpg</string>
				<key>step</key>
				<string>6.大火煮开后，倒入高压锅，压25分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_5bef7e9cfc3562c3.jpg</string>
				<key>step</key>
				<string>7.西芹洗干净切成丝。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_0c02bc67e0e3f0c0.jpg</string>
				<key>step</key>
				<string>8.锅内油烧热，放入葱段、生姜片、蒜瓣和干辣椒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_7f08c776175a9ca5.jpg</string>
				<key>step</key>
				<string>9.爆出香味之后，倒入贵州红酸。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_744403669773aaf5.jpg</string>
				<key>step</key>
				<string>10.炒出香味之后，牛腩连汤倒入锅中。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_92986b490c7e7404.jpg</string>
				<key>step</key>
				<string>11.烧开之后，放入西芹。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_e80b08b7ec822d6c.jpg</string>
				<key>step</key>
				<string>12.放适量的盐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_e425d764da6a0984.jpg</string>
				<key>step</key>
				<string>13.放适量的白砂糖。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/286/28583_83ee00cecde82a9d.jpg</string>
				<key>step</key>
				<string>14.煮至西芹熟烂之后，撒入蒜花、倒适量的木姜子油即可出锅食用。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>冬季养生;年菜;健脾开胃;增强抵抗力;下火;减肥;去火;清火;清热下火;瘦身;肥胖;阳盛质;冬季;私房菜;贵州菜</string>
		<key>title</key>
		<string>贵州酸汤牛腩</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/7/6303_925590.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;贵州红酸汤,250ml;生姜,适量;料酒,适量;小葱,适量;海鲜菇,适量;泡椒,适量;木姜子油,适量</string>
		<key>id</key>
		<string>6303</string>
		<key>imtro</key>
		<string>相传在远古时候，苗岭山上居住着一位叫阿娜的姑娘，不仅长得貌美，能歌善舞，且会酿制美酒，她酿的酒有幽兰之香，清如山泉。方圆几百里的小伙子都来求爱，凡来求爱者，姑娘就斟上一碗自酿的美酒，不被中意者吃了这碗酒，只觉其味甚酸，心里透凉，但又不愿离去，当夜幕临近，芦笙悠悠，山歌阵阵，小伙子们房前屋后用山歌呼唤着姑娘来相会，姑娘就只好隔篱唱着：“酸溜溜的汤哟，酸溜溜的郎，酸溜溜的郎哟听阿妹来唱，三月槟榔不结果，九月兰草无芳香，有情山泉变美酒，无情美酒变酸汤……”这个传说说明酸汤的食用历史悠久，最初的酸汤是用酿酒后的尾酒制的，后改用热米汤经自然发酵及其他许多做法制成。贵州酸汤中含有一定量的酒石酸、苹果酸、乳酸、乙酸、柠檬酸和少量的丁二酸。矿物质主要是钙、磷、铁、锌等。其中钙和磷的含量较高。人体内矿物质主要存在于骨骼中，它起着维持骨骼刚性的作用。因此，苗族酸汤丰富的钙、磷、铁等对保持神经、肌肉的兴奋性以及维持肌体的酸碱平衡具有重要的作用。难怪贵州当地的人讲“三天不吃酸，走路打蹿蹿”，是有一定科学依据的。酸汤主要分为白酸和红酸,用红酸汤煮鱼，鱼肉鲜嫩，色泽诱人，汤汁酸酸辣辣，开胃又健脾。</string>
		<key>ingredients</key>
		<string>草鱼,1000g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_15adb6cb5f1755e5.jpg</string>
				<key>step</key>
				<string>1.在超市买草鱼时请人收拾干净</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_c39ac41dc36a566c.jpg</string>
				<key>step</key>
				<string>2.鱼肉切片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_9f2bc6aac483cb65.jpg</string>
				<key>step</key>
				<string>3.装入盆中</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_4bdb5a44d01df1db.jpg</string>
				<key>step</key>
				<string>4.加料酒、生粉、蛋清拌匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_2d374a3d893a20e3.jpg</string>
				<key>step</key>
				<string>5.鱼骨切块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_c5794653686b0f72.jpg</string>
				<key>step</key>
				<string>6.海鲜菇洗净备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_230d1f8849b7822b.jpg</string>
				<key>step</key>
				<string>7.热锅下油放少许生姜和泡椒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_b1b0e85fa7a61d37.jpg</string>
				<key>step</key>
				<string>8.放鱼骨炒一下</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_e2e5ba30aae09403.jpg</string>
				<key>step</key>
				<string>9.放贵州红酸汤</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_6741638c73225b71.jpg</string>
				<key>step</key>
				<string>10.放水和盐</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_8813f6c0a08974f8.jpg</string>
				<key>step</key>
				<string>11.煮开后下海鲜菇</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_e926cd76420faa41.jpg</string>
				<key>step</key>
				<string>12.锅烧开了再下鱼片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_e0801cf32df06edb.jpg</string>
				<key>step</key>
				<string>13.放少许木姜子油</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/64/6303_bcc5e9521be2089d.jpg</string>
				<key>step</key>
				<string>14.出锅前放小葱段</string>
			</dict>
		</array>
		<key>tags</key>
		<string>贵州菜;汤;酸辣;煮;白领;下饭菜</string>
		<key>title</key>
		<string>酸汤鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/51/50667_303547.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;蒜瓣,1瓣;干辣椒,1个;花椒粉,少许;蒜苗,1棵</string>
		<key>id</key>
		<string>50667</string>
		<key>imtro</key>
		<string>折耳根又名鱼腥草，蕺菜，猪鼻拱，截儿根，是一种具有腥味的草本植物，这让很多人难以接受，但我们贵州人却极爱吃，凉拌折耳根，瘦肉炒折耳根，腊肉炒折耳根，等等，折耳根在我们这里不仅可作主菜，也可作配料，做蘸水里也少不了它的身影。鱼腥草有很好的清热解毒功效，有餐桌上的抗生素的美誉。</string>
		<key>ingredients</key>
		<string>折耳根,100g;腊肉,20g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_c3e7012de192ff17.jpg</string>
				<key>step</key>
				<string>1.备好各种材料，腊肉洗净切薄片，蒜苗斜切成段，蒜瓣切片，干辣椒剪段</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_740e61a0dca3f362.jpg</string>
				<key>step</key>
				<string>2.折耳根洗净泥土和根须，掐成小段</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_2ba6480b07df5f51.jpg</string>
				<key>step</key>
				<string>3.炒锅放少量的油，小火加热</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_fc5f8b8cb6108d2b.jpg</string>
				<key>step</key>
				<string>4.放入腊肉片煸炒，把油煸出来，腊肉变得透明起卷</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_f9aec1074a3663f6.jpg</string>
				<key>step</key>
				<string>5.把腊肉推至锅边，下干辣椒炒至辣椒变成浅棕色</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_c8699c464fa24b6b.jpg</string>
				<key>step</key>
				<string>6.放折耳根，先不要和腊肉混合</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_da873758751d3a23.jpg</string>
				<key>step</key>
				<string>7.在折耳根上放适量盐，炒匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_881567c463e02df9.jpg</string>
				<key>step</key>
				<string>8.放入蒜片，把腊肉和折耳根和匀稍炒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_b6318af04e94a733.jpg</string>
				<key>step</key>
				<string>9.快起锅的时候撒少许花椒粉</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/507/50667_d3dd8b69a60696b2.jpg</string>
				<key>step</key>
				<string>10.最后放入蒜苗炒匀出锅</string>
			</dict>
		</array>
		<key>tags</key>
		<string>贵州菜;快手菜;排毒;炒;健脾胃</string>
		<key>title</key>
		<string>折耳根炒腊肉</string>
	</dict>
</array>
</plist>
