<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/22/21906_621613.jpg</string>
		</array>
		<key>burden</key>
		<string>鸡蛋,1个;淀粉,2小勺;盐,适量;十三香,适量;鸡精,适量;老抽,适量;醋,适量;黑木耳,适量</string>
		<key>id</key>
		<string>21906</string>
		<key>imtro</key>
		<string>周所周知，我有很深的山西情结。行走过三次山西，途径无数次太原，有一票山西籍好友，还有一大堆有关山西的记忆。那醋，那菜，那景，那人，那酒，都那么熟悉亲切又厚道的在脑海中无数次浮现。在山西吃过油肉，初识觉得无非是一盘蒜薹炒肉，细品才知是精工细作，大有不同。回西安以后，得到某地道山西人衣钵真传，才发现，正宗的过油肉并没有想象中那么做工复杂，却有着超出想象的美味。只需把握几个诀窍而已。 你看，山西人就这么厚道，这么轻易的就把秘诀告诉了我。于是我也借花献佛，把秘密告诉你们。 记得一定要在背后说我厚道，一定哈。 在此隆重感谢Mr.P，和他无私提供的好滋味。</string>
		<key>ingredients</key>
		<string>里脊肉,200g;蒜薹,1把</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_ceb4f678855861c5.jpg</string>
				<key>step</key>
				<string>1.野生黑木耳凉水泡发（可加入少许淀粉利于杂质沉淀，尽量泡发2小时以上，以使木耳舒展，口感脆嫩。）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_84e9be3374b2ee80.jpg</string>
				<key>step</key>
				<string>2.猪里脊肉切成2CM大小，薄厚均匀的肉片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_ea44284f2f5d9ee9.jpg</string>
				<key>step</key>
				<string>3.肉片放入器皿中，打入一枚鸡蛋。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_2d2a7db745407ecc.jpg</string>
				<key>step</key>
				<string>4.加入两茶匙淀粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_1958b583e6ff6a97.jpg</string>
				<key>step</key>
				<string>5.用筷子搅拌至粘稠后备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_d5b7496b7fe57b92.jpg</string>
				<key>step</key>
				<string>6.蒜薹切段。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_5ef599ee67501976.jpg</string>
				<key>step</key>
				<string>7.木耳切小块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_5dfc83b8f4f47129.jpg</string>
				<key>step</key>
				<string>8.锅热油（平时炒菜油的3倍）。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_97eb0ae560b04b35.jpg</string>
				<key>step</key>
				<string>9.待油温达到八成热时下肉片炸，并用筷子拨散。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_8a2a4e25ee541c65.jpg</string>
				<key>step</key>
				<string>10.待变成图示中那样金黄色时便可以盛出，控油备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_19ee92ec8fb2a90e.jpg</string>
				<key>step</key>
				<string>11.蒜薹放入油锅翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_10bfbd38696b67e7.jpg</string>
				<key>step</key>
				<string>12.加入盐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_467dbd558d2a70e9.jpg</string>
				<key>step</key>
				<string>13.加入鲜蔬精（或鸡精）。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_37da11dae53bf421.jpg</string>
				<key>step</key>
				<string>14.加入木耳。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_fa73060bfadd79bc.jpg</string>
				<key>step</key>
				<string>15.翻炒均匀后加入过好油的肉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_56499e48ce62169e.jpg</string>
				<key>step</key>
				<string>16.烹入老抽上色，继续大火翻炒3分钟后淋入极少的醋。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_4984529e4010503f.jpg</string>
				<key>step</key>
				<string>17.倒入少许清水或高汤，再酌情调入适量盐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/220/21906_e0a67dab9f7c9c52.jpg</string>
				<key>step</key>
				<string>18.大火收汁后即可出锅。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>其他工艺;锅子;其他味;10-20分钟;1-2人;小资80后;时尚;朋友聚餐;家常菜;晚餐;晋菜</string>
		<key>title</key>
		<string>山西过油肉</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/12/11929_159171.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;生抽,适量;醋,适量;蒜蓉,适量;味精,适量</string>
		<key>id</key>
		<string>11929</string>
		<key>imtro</key>
		<string>一说到灌肠，你肯定想到的是那种长长的，用肠衣包着肉馅的食物。 我们山西也有一种灌肠，尤其是榆次的灌肠最地道也最有名。榆次灌肠具有浓厚地方特色，是榆次“三宝”之一。 我们这的灌肠用荞面制成的，入口爽利而筋，配料有酱油，醋，辣椒油，蒜水，味道浓烈，清凉开胃。做法有两种，一般是凉调和炒制。 妈妈平时最喜欢吃面皮，凉粉，灌肠这之类的小吃，尤其是夏天，但天气凉的时候，一般都是炒出来的，配上些面筋，好吃着呢！ 今天打开冰箱，没找到别的蔬菜，竟然让我看到了面筋和灌肠，肯定是妈妈想吃，提前买好的。 所以我就提前炒好，等妈妈回来吃吧。 提前用压蒜器压好了蒜蓉，在炒好以后加入翻炒均匀，成品做出来以后会非常非常的香，特别的提香提味，所以在我看来，这蒜蓉真是这道菜的灵魂啊，不放肯定没这么强烈的味道。 当然如果你要是觉得吃完蒜嘴里会有味道，那可以饭后喝一些牛奶，要慢慢含着往下咽，这样会消掉些蒜味。</string>
		<key>ingredients</key>
		<string>面筋,100g;灌肠,250g;菠菜,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/120/11929_087cf11b1d566b22.jpg</string>
				<key>step</key>
				<string>1.先把面筋和灌肠都切成块，蒜蓉绞碎备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/120/11929_4a062cb1fe72d7a2.jpg</string>
				<key>step</key>
				<string>2.锅中倒油，把菠菜下入翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/120/11929_00aa6235495ec282.jpg</string>
				<key>step</key>
				<string>3.再倒入灌肠翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/120/11929_f5099670d8f88ece.jpg</string>
				<key>step</key>
				<string>4.加入面筋翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/120/11929_d3eceb9349e8c1b5.jpg</string>
				<key>step</key>
				<string>5.加入适量盐调味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/120/11929_3e4157739a5b5cfe.jpg</string>
				<key>step</key>
				<string>6.加入适量生抽。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/120/11929_ca331aa19ac3243b.jpg</string>
				<key>step</key>
				<string>7.加入适量醋。 再翻炒3分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/120/11929_55b7d1f2c907e570.jpg</string>
				<key>step</key>
				<string>8.把蒜蓉加入翻炒1分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/120/11929_69fc13998c2f4b27.jpg</string>
				<key>step</key>
				<string>9.最后关火放入适量味精。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>晋菜;灌肠;妈妈菜</string>
		<key>title</key>
		<string>灌肠炒面筋</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/51/50198_250556.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;味精,适量;香醋,适量;酱油,适量;老抽,适量;香油,适量;蒜泥,适量;红油,适量;泡姜,适量</string>
		<key>id</key>
		<string>50198</string>
		<key>imtro</key>
		<string>也许，很多人只知道山西的面食风靡天下，品种多，吃法别致，风味各异，成品或筋韧或柔软，无不滑利爽口，余味悠长。而且，还可以面成宴席，每道菜都有不同的特色。 山西菜有着深厚的历史底蕴和文化积淀，特别是在晋商发达，使得山西菜风行一时，山西菜料精细，切配讲究，以咸味为主，酸甜为辅，菜肴讲究酥烂、香嫩、重色、重油、重味的特点，曾让三晋人民引以为荣。 九味白肉，是山西传统的名菜，是山西凉菜的结晶，九味白肉是因为用到了清徐的老陈醋、代县的辣椒、雁北的胡麻油、应县的紫皮蒜等九味调料而得名。 九味白肉，以酸辣味为主，醋、蒜味突出，肉质软嫩。 吃上一片，九味并存，你会被丰富的口感，暴力式的撼动，一种接近于堕落的鲜香，一种冷醒的纠缠。</string>
		<key>ingredients</key>
		<string>黄瓜,1根;五花肉,500g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_2a9140debf93ce39.jpg</string>
				<key>step</key>
				<string>1.原料</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_5b263f3fb7e9de4e.jpg</string>
				<key>step</key>
				<string>2.黄瓜切片，蒜捣成泥</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_ccae28e4997ddc16.jpg</string>
				<key>step</key>
				<string>3.将五花肉放入沸水中煮烫，然后捞入凉水中</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_b4d882c585fbd32c.jpg</string>
				<key>step</key>
				<string>4.凉水锅里，放入葱、姜、料酒，</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_53bcee8713beec97.jpg</string>
				<key>step</key>
				<string>5.将肉洗净，放入锅中，大火烧开，浮沫撇出去，小火煮熟，关火，加入精盐，将肉浸泡入味</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_7faad3d59a2e0e82.jpg</string>
				<key>step</key>
				<string>6.碗中放入盐、味精、香醋、酱油、老抽、香油、红油，搅拌均匀，调制成味汁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_f022301220c1a948.jpg</string>
				<key>step</key>
				<string>7.将煮好的白肉放凉，切成片放入盘中</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_e4a260e6c8a23880.jpg</string>
				<key>step</key>
				<string>8.放入泡姜</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_e1daa2e530266825.jpg</string>
				<key>step</key>
				<string>9.放入蒜泥</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/502/50198_a2a4381617097ece.jpg</string>
				<key>step</key>
				<string>10.倒入调好的料汁，即可食用 可以把肉片与黄瓜片卷起，一起食用，也可以不放黄瓜</string>
			</dict>
		</array>
		<key>tags</key>
		<string>晋菜;夏季;白肉;夏季饮食;夏季食谱;九味</string>
		<key>title</key>
		<string>九味白肉</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/23/22165_624638.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;蒜苔,适量;淀粉,适量;料酒,适量;陈醋,适量;胡椒粉,适量;花椒粉,适量;鸡蛋,1个;木耳,适量;酱油,适量;葱,适量;姜,适量;蒜,适量</string>
		<key>id</key>
		<string>22165</string>
		<key>imtro</key>
		<string>过油肉是山西的名菜之一了。第一次尝试，我就爱上了它。那香嫩的肉，色彩金黄，咸鲜且有醋香，外软里嫩，让你过口不忘。 虽然没到过山西，没品尝过地道正宗的过油肉，但我经过几次实验，总结出了最适合自已的口味，让这道菜，不仅仅是蒜苔与肉搭配起来那么简单。</string>
		<key>ingredients</key>
		<string>里脊肉,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_d9f2966adfaab407.jpg</string>
				<key>step</key>
				<string>1.准备食材。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_cd30a487aee98d0e.jpg</string>
				<key>step</key>
				<string>2.将泡发的木耳洗净，蒜苔切成段备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_be32e8d024ae2c0d.jpg</string>
				<key>step</key>
				<string>3.提前用老抽两小勺，少许盐、少许鸡精，凉开水和淀粉调一个碗汁备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_24f43d906170ac72.jpg</string>
				<key>step</key>
				<string>4.里脊肉切成薄片，加一个鸡蛋、料酒一大勺、花椒粉一小勺、胡椒粉，淀粉适量、酱油一大勺。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_197ca26bd7efcb2c.jpg</string>
				<key>step</key>
				<string>5.拌匀，腌制三十分钟左右。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_7917ea37efea3f52.jpg</string>
				<key>step</key>
				<string>6.油温6-7成热时，下入肉片，快速用筷子滑炒散肉片，变色后捞出沥油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_d050ce64bb980569.jpg</string>
				<key>step</key>
				<string>7.利用锅中少许底油，加入葱姜蒜炒香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_ec1eef74e2c5a99b.jpg</string>
				<key>step</key>
				<string>8.加入蒜苔和黑木耳略炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_746db8f0fe2c5dd7.jpg</string>
				<key>step</key>
				<string>9.烹入适量料酒增香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_5e999a184d29323b.jpg</string>
				<key>step</key>
				<string>10.顺着锅边烹入大约一大勺醋。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_ca59891bd3a90642.jpg</string>
				<key>step</key>
				<string>11.蒜薹炒到微微透明，加入肉片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_bceffdc66f215e56.jpg</string>
				<key>step</key>
				<string>12.大火炒匀，加入碗汁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/222/22165_5e33057e19c2d0d0.jpg</string>
				<key>step</key>
				<string>13.出锅前再淋入两滴醋。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>健脑益智;健脾开胃;冬季;咸香;晚餐;炒;晋菜</string>
		<key>title</key>
		<string>过油肉</string>
	</dict>
</array>
</plist>
