<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/7/6835_234703.jpg</string>
		</array>
		<key>burden</key>
		<string>八爪鱼,500g;秋葵,500g;小辣椒,适量;蘑菇,300g;番茄,2个;香茅,2棵;虾,500g;盐,适量;鸡精,适量;鱼露,适量</string>
		<key>id</key>
		<string>6835</string>
		<key>imtro</key>
		<string>这是一款泰式汤，酸辣开胃。</string>
		<key>ingredients</key>
		<string>冬阴功汤酱,50g;酸粉,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/69/6835_26af7c256b2c929c.jpg</string>
				<key>step</key>
				<string>1.锅里注入清水与香茅煮沸。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/69/6835_bd66ff87bdb3de92.jpg</string>
				<key>step</key>
				<string>2.加入冬阴功汤酱与八爪鱼继续煮沸。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/69/6835_1e44fbff7b3cc616.jpg</string>
				<key>step</key>
				<string>3.加入秋葵煮片刻。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/69/6835_3587354a19d4961f.jpg</string>
				<key>step</key>
				<string>4.再加入蘑菇。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/69/6835_980f6a39e808d518.jpg</string>
				<key>step</key>
				<string>5.加入小辣椒与虾。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/69/6835_e048d934150847c0.jpg</string>
				<key>step</key>
				<string>6.加入酸粉与鱼露。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/69/6835_e2ab4dbd59db12c4.jpg</string>
				<key>step</key>
				<string>7.最后放入番茄，然后加一点盐与鸡精即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>汤;咸;半小时-1小时;煲;白领;泰国菜;滋补;周末;全菜系;1-2人;锅子;饱腹</string>
		<key>title</key>
		<string>冬阴功汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/55/54889_620282.jpg</string>
		</array>
		<key>burden</key>
		<string>洋葱,1个;青椒,1个;红尖椒,3个;香葱,50g;椰浆,125g;鱼露,适量;牛奶,250ml;辣椒油,适量;牛油,适量;盐,适量;淀粉,适量</string>
		<key>id</key>
		<string>54889</string>
		<key>imtro</key>
		<string>这段时间是螃蟹逐步上市的季节，中秋前后，螃蟹逐渐肥美起来，所以，家里吃螃蟹的次数也多了起来。一般在家里煮螃蟹，都是姜葱炒肉蟹，水蟹冬瓜汤，清蒸螃蟹。这次，来个特别的，煮个泰式咖喱蟹。做泰式咖喱蟹，一定要选用东南亚的咖喱，味道香浓，同时不至于太辣，印度咖喱或国产的咖喱就稍微逊色些。我觉的用印度咖喱煮牛腩倒是不错，下次试试。家里没有泰国的咖喱，不过，有一包印尼油咖喱，可以替代使用。除了咖喱，还要用到椰浆和牛奶，这样才能突出咖喱的香浓，同时咖喱汁又显得柔和。还有一样就是辣椒油和鱼露，辣椒油可以调整咖喱的辣度，同时令颜色好看些，鱼露，则带出海鲜的鲜味，做泰式咖喱蟹的点睛配料。说了那么多，大家看看做法：</string>
		<key>ingredients</key>
		<string>肉蟹,2只;油咖喱,50g;鸡蛋,1只</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_4a3f5ec52415c13f.jpg</string>
				<key>step</key>
				<string>1.准备好各种要用到的材料。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_3af04944670aecac.jpg</string>
				<key>step</key>
				<string>2.将辣椒、洋葱切片，葱切成段。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_e7a83e5a6dd8d538.jpg</string>
				<key>step</key>
				<string>3.螃蟹去壳，然后一分为四。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_aec37935c6828151.jpg</string>
				<key>step</key>
				<string>4.在螃蟹表面撒点盐，拌匀，然后洒上淀粉兜匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_7afe9b0c13701596.jpg</string>
				<key>step</key>
				<string>5.锅里加油烧热，将螃蟹下锅炸2分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_8551af4023283044.jpg</string>
				<key>step</key>
				<string>6.炸好的螃蟹盛起待用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_6771f9a7da8cf77d.jpg</string>
				<key>step</key>
				<string>7.锅里留底油，将牛油下锅烧融。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_0213b8b8933f8539.jpg</string>
				<key>step</key>
				<string>8.下姜，蒜，洋葱，葱段炒香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_7844eba469a2d78e.jpg</string>
				<key>step</key>
				<string>9.加入油咖喱炒匀炒香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_5e88492fba859f00.jpg</string>
				<key>step</key>
				<string>10.加入炸好的螃蟹一起煸炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_e0dada2118b8b8c5.jpg</string>
				<key>step</key>
				<string>11.加入椰浆、牛奶、鱼露稍煮一会儿。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_e536a654a6ab6efc.jpg</string>
				<key>step</key>
				<string>12.起锅前，加入青椒，红尖椒，辣椒油翻炒半分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_51bed78eaa6bb95e.jpg</string>
				<key>step</key>
				<string>13.再打一个鸡蛋下锅炒匀就行了。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/549/54889_2eb953cd670ab978.jpg</string>
				<key>step</key>
				<string>14.香浓的泰式咖喱蟹出锅了。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>开胃;泰国菜;咖喱味</string>
		<key>title</key>
		<string>泰式咖喱蟹</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/25/24326_719394.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;吉士粉,50g;玉米淀粉,80g;甜辣酱,50g;白醋,10ml</string>
		<key>id</key>
		<string>24326</string>
		<key>imtro</key>
		<string>先奉上这道并不复杂的用泰式甜辣酱制作的甜辣虾，造型漂亮，口感甜辣浓郁，却并不十分辣，孩子也能吃，色彩红红火火，寓意咱们的小日子新一年更红火！</string>
		<key>ingredients</key>
		<string>明虾,350g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_8f90323f1b56ae15.jpg</string>
				<key>step</key>
				<string>1.明虾冲洗干净后剪去虾须及头部的尖角；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_2e69e9eae913d55d.jpg</string>
				<key>step</key>
				<string>2.虾尾略微弯曲，用刀从背部切进，将整个虾尾切开;</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_b2bc56c129bc8205.jpg</string>
				<key>step</key>
				<string>3.注意保持尾巴不断；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_e39bb072e48cdb44.jpg</string>
				<key>step</key>
				<string>4.2汤匙吉士粉和2汤匙玉米淀粉混合;</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_96e0af2ca08c427d.jpg</string>
				<key>step</key>
				<string>5.逐个将切背后的明虾有虾肉的部分沾上混合粉;</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_dbd7f38b2e47a697.jpg</string>
				<key>step</key>
				<string>6.装盘；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_7aee60cf8d5b2207.jpg</string>
				<key>step</key>
				<string>7.锅中放适量油烧至六七成热后倒入明虾炸至结壳（约1分钟）捞出；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_64f60e70642b82ab.jpg</string>
				<key>step</key>
				<string>8.捞出；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_7e713047e62403db.jpg</string>
				<key>step</key>
				<string>9.将锅中的油继续烧至滚热，再次放入明虾继续炸至香脆（约1分钟）捞出备用；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_ce842937c92eff3c.jpg</string>
				<key>step</key>
				<string>10.干净的锅中放入一碗冷水；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_7da5e59dbe582dd0.jpg</string>
				<key>step</key>
				<string>11.接着放入5汤匙泰式甜辣酱；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_a5b9dceaa70c53a1.jpg</string>
				<key>step</key>
				<string>12.1汤匙白醋，大火保持沸腾；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_fcbe477cf6f60ecd.jpg</string>
				<key>step</key>
				<string>13.用剩余的混合粉放入适量水调匀；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/244/24326_52052f8fbdf5276f.jpg</string>
				<key>step</key>
				<string>14.少量的倒入锅中不断用锅铲推匀调成粘稠合适的汁，再将炸过的虾倒入翻匀即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;半小时-1小时;香;泰国菜;全菜系;甜辣虾;1-2人;锅子;其他工艺;泰式甜辣泰式</string>
		<key>title</key>
		<string>泰式甜辣虾</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/24/23809_348809.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;柠檬,50g;白胡椒粉,5g;料酒,5g;鱼露,5g;生抽,5g;白糖,5g;蒜末,5g;葱末,5g;泰式甜辣酱,10g</string>
		<key>id</key>
		<string>23809</string>
		<key>imtro</key>
		<string>清蒸，无疑是讲究煎、炒、焖、烧、炸、烤的中式烹饪中相对健康、又相对容易操作的一种烹饪方式，想必也是追求慢生活的人的最爱。中国人在几千年前便发明了蒸这种方式，绝对也是一种谦谦君子的高境界，想想如果没有蒸，很多食物根本无法存在，比如馒头，你试试用水煮一下，一定还是一团不成型的、湿漉漉的面疙瘩，但是，换成蒸，通过蒸汽的作用，那一团面疙瘩，就能神奇地变成又白又松软又好吃的馒头。 由此可见，清蒸在中国的烹饪中具有无可比拟的地位，又独树一帜。特别是烹饪鱼类时，越是以清甜著称的鱼就越应该清蒸，一条上好的深海石斑，如果拿去做水煮鱼，估计很多人会跳起来跟你搏命，简直是暴殓天物，应该拿出去赏打二十大板！做水煮鱼的话，最好的选择是两斤左右的河鱼，草鱼就最适合了！ 清蒸鱼，应该也是最适合新手的一种烹饪方式了。首先，做清蒸鱼的时候不用将鱼大卸八块，稍微去掉鱼鳃、鱼内脏就可以了，能够最大程度地保持一条鱼的形态完整和安详；清蒸又能最大程度地保持鱼的原味，只需要加入少少姜丝葱段来辟腥，完全不用再添加任何配料，一阵猛火蒸煮，待蒸盖打开，鱼头还是鱼头，鱼身还是鱼身，鱼尾还是鱼尾，出锅后，淋上一层精选生抽，倒一勺热油，即云淡风清了；而其他比如煎鱼、炸鱼、，手艺差点，心急一点，弄不好连鱼皮都被剥了一层下来，溅起来的油又极容易造成一场厨房重大伤害事故，无论是对被烹饪的鱼，还是对于烹饪的人，怎么也不及清蒸来得自然和体面。 当然，尽管清蒸鱼非常适合新手，但也需要一些技巧，清蒸鱼的时候火候一定要均匀，蒸汽一定要足，清蒸的时间最好控制在五分钟左右为最佳，方太嵌入式电蒸箱独有的独立式蒸汽发生结构，能让水迅速沸腾，快速产生大量水蒸汽，箱体内进气和出气不断循环，保持动态平衡的状态，使蒸汽始终均匀分布，只要设定了蒸鱼的温度和时间，任你再是从来不下厨的新手，都能轻松赢得一片喝彩。 总还是会有人说认为清蒸实在太过清淡，不用急，试试这道泰式柠檬鱼，腊鱼是从海上钓上来的，柠檬是朋友辞掉令人艳羡的工作在越南慢行半个月后带回来的手信，将柠檬切片，垫于腊鱼下，淋上自己调制的心水酱汁后入蒸箱，一番云雨过后，腊鱼既收尽柠檬之清新，温润鲜香恰到好处。 清蒸食物，永远是那么清悠淡雅，像气质超凡的女子，如果不够静心，不够专情，便品不她的蕴涵内在。这有点类似慢生活，必须用心去体会，越纯真越美好。</string>
		<key>ingredients</key>
		<string>腊鱼,500g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/239/23809_d25ee7f1b8bdf575.jpg</string>
				<key>step</key>
				<string>1.腊鱼清理干净后，抹上白胡椒粉、料酒和鱼露，腌制5分钟。在鱼身上划上几刀，可以有效地减少蒸制的时间，使蒸出来的鱼肉更加鲜嫩。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/239/23809_4507f54c4b7e39a1.jpg</string>
				<key>step</key>
				<string>2. 柠檬洗净之后，切成均匀薄片，</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/239/23809_289cc74a63bdba1d.jpg</string>
				<key>step</key>
				<string>3.把柠檬片装饰到蒸鱼的盘边，把腌制好的腊鱼放摆入到柠檬上，鱼身上再摆上几块柠檬片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/239/23809_d359b655c4697941.jpg</string>
				<key>step</key>
				<string>4.将盐、生抽、白糖、蒜末、葱末、泰式甜辣酱调成一碗蒸鱼的酱汁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/239/23809_180a7f7ba676f2d9.jpg</string>
				<key>step</key>
				<string>5.将调制好的1/2份酱汁淋到柠檬鱼上，送入蒸箱或蒸锅中，蒸5分钟。 蒸好的鱼，再淋上剩下1/2的酱汁，最后淋上热油即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>10-20分钟;蒸;白领;泰国菜;柠檬味;1-2人;蒸锅</string>
		<key>title</key>
		<string>泰式柠檬蒸鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/26/25853_760586.jpg</string>
		</array>
		<key>burden</key>
		<string>泰式甜辣酱,40g;料酒,1汤匙;盐,1/2茶匙</string>
		<key>id</key>
		<string>25853</string>
		<key>imtro</key>
		<string>时常会想念街头的鱿鱼，令人无限回味，可真正吃的次数却不多，对用料的担忧、对卫生的介意…这样那样的问题总是会理智地战胜冲动想法。不过嘛，为了吃，吃货总会想出两全其美的办法，自己在家山寨吧，既让自己吃得过瘾，又能摆脱健康的困扰。 一包甜辣酱，几条小鱿鱼，只需两分钟就可以尝到朝思暮想的美味，想怎么吃，就怎么吃，完全不需担心这样那样的问题。大排档里的明星小吃，就这样轻松搬回家喽。</string>
		<key>ingredients</key>
		<string>鱿鱼,1条;洋葱,1/8个;小米椒,2个;芹菜,1根;生菜,1棵;大蒜,2瓣</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/259/25853_9abd6a0225d19607.jpg</string>
				<key>step</key>
				<string>1.鱿鱼去除表皮和内脏，清洗干净后切成宽鱿鱼圈，洋葱切碎，小米椒切片，芹菜切小丁，大蒜去皮切成碎末。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/259/25853_e39a3d506f3be3bd.jpg</string>
				<key>step</key>
				<string>2.将鱿鱼圈放入容器中，调入料酒拌匀；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/259/25853_ba57633a09b9baf1.jpg</string>
				<key>step</key>
				<string>3.将洋葱、小米椒、芹菜末、蒜末混合，加入泰式甜辣酱和盐拌匀；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/259/25853_2d9f4724921e5a22.jpg</string>
				<key>step</key>
				<string>4.拌匀的调料倒入鱿鱼圈中，充分搅拌均匀；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/259/25853_bf6847cec91d2c42.jpg</string>
				<key>step</key>
				<string>5.盖上容器盖子，放入冰箱冷藏腌制半小时以上；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/259/25853_9fb0dfcb301842a8.jpg</string>
				<key>step</key>
				<string>6.乐葵料理盒中铺一层生菜，倒入腌制好的鱿鱼圈和腌料；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/259/25853_a0a404100f3e1f77.jpg</string>
				<key>step</key>
				<string>7.盖上盒盖，送入微波炉，700W微波火力加热2分钟即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>私房菜;小吃;微波炉;冬季;泰国菜;小红辣椒</string>
		<key>title</key>
		<string>泰式甜辣鱿鱼圈</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/6/5432_965898.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;虾仁,适量;韭菜,适量;椰浆粉,适量;柠檬,适量;鸡精,适量;红辣椒,适量</string>
		<key>id</key>
		<string>5432</string>
		<key>imtro</key>
		<string>泰式海鲜炒面，由虾仁配上蔬菜，加入椰浆粉和柠檬汁，用鲍鱼汁炒的海鲜面吃在嘴里，留有满口的椰香余味和柠檬汁的清香味，味道鲜美无比。</string>
		<key>ingredients</key>
		<string>拉面,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_2d3acb81a3f22535.jpg</string>
				<key>step</key>
				<string>1.拉面很有筋道，做炒面最好了。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_b7701a5b3a566561.jpg</string>
				<key>step</key>
				<string>2.食材。（韭菜洗净切段）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_e3169e2e72e5f61a.jpg</string>
				<key>step</key>
				<string>3.虾仁洗净后用料酒和生粉抓匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_3de6364d9706f1dc.jpg</string>
				<key>step</key>
				<string>4.鲍鱼汁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_5b05243f891e8ed2.jpg</string>
				<key>step</key>
				<string>5.锅内清水大火烧开后，下入面条煮到八分熟熄火。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_7ba1af53091f60e1.jpg</string>
				<key>step</key>
				<string>6.捞起用清水冲一下，沥干水分之后淋入适量的麻油拌匀（是为了面条防止粘连）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_21f845e0ea93091b.jpg</string>
				<key>step</key>
				<string>7.锅内倒油，油温7分热，先放入红辣椒爆香之后倒入虾仁，迅速翻炒直至变色盛起。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_004b0177f0b37142.jpg</string>
				<key>step</key>
				<string>8.锅内倒油，炒面油要多一点。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_6cc682b29b1ec35e.jpg</string>
				<key>step</key>
				<string>9.油温7分热时倒入面条，之后加入适量的盐，倒入鲍鱼汁，用筷子划开。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_451016cfbc1abac9.jpg</string>
				<key>step</key>
				<string>10.再把虾仁倒入，加椰浆粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_732deae031ed679d.jpg</string>
				<key>step</key>
				<string>11.挤出几滴柠檬汁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/55/5432_889b0b5d448d8a74.jpg</string>
				<key>step</key>
				<string>12.再放进韭菜，翻炒几下加入适量的鸡精就好了。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>海鲜;面食;泰国菜;增强抵抗力;蛋白质;健脾养胃</string>
		<key>title</key>
		<string>泰式海鲜炒面</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/7/6208_554591.jpg</string>
		</array>
		<key>burden</key>
		<string>香茅草,4根;柠檬叶,3片;良姜,3小块;辣椒,2只;冬阴功汤酱,25g;椰浆粉,50ml;鲜柠檬,1只</string>
		<key>id</key>
		<string>6208</string>
		<key>imtro</key>
		<string>冬阴功是泰语的音译，酸辣大虾汤的意思，是泰国国汤，冬阴功汤主要靠柠檬的酣，虾的鲜，柠檬叶，香茅草与良姜的香，椰浆的醇打遍天下。</string>
		<key>ingredients</key>
		<string>大虾,8只;蘑菇,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_9f2c2eb7a35b1c71.jpg</string>
				<key>step</key>
				<string>1.制作过程：白水煮沸——按顺序将原料下锅——三分钟起锅就可以喝了。下锅顺序：香茅草-柠檬叶-生虾-良姜-小米辣-冬阴功汤酱-椰桨粉或牛奶-蘑菇，间隔几秒就好，快起时锅时再放入柠檬汁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_ed4dc9d0ff1ccc07.jpg</string>
				<key>step</key>
				<string>2.剔去虾线待用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_f8d58f763669e6b8.jpg</string>
				<key>step</key>
				<string>3.冬阴功汤酱可用家用不绣钢吃饭小勺两勺，约20到25克。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_4ea7c30cdcec492b.jpg</string>
				<key>step</key>
				<string>4.椰桨粉半包用温开水化开待用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_6d54f8966bbbe385.jpg</string>
				<key>step</key>
				<string>5.蘑菇清洗好后切片氽后备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_47361b694ff390e3.jpg</string>
				<key>step</key>
				<string>6.1。起锅清水煮沸后放香茅草四根。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_ee979cc69999936c.jpg</string>
				<key>step</key>
				<string>7.2。放柠檬叶三小片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_4a8307347c43752f.jpg</string>
				<key>step</key>
				<string>8.3。放入去虾线的鲜虾8到10只。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_8328a73e43e4ad69.jpg</string>
				<key>step</key>
				<string>9.4。放良姜三小块。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_85adc7267da608aa.jpg</string>
				<key>step</key>
				<string>10.5。放入辣椒段，可根据自己口味需要增添。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_07cba6384d03d132.jpg</string>
				<key>step</key>
				<string>11.6。冬阴功汤酱放入两勺，第一次撑握不好可边做边品尝。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_1f0fa51f86d3f1ef.jpg</string>
				<key>step</key>
				<string>12.7。放入椰浆粉或牛奶。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6208_0aef5c891199d5df.jpg</string>
				<key>step</key>
				<string>13.8。锅内加入氽好的蘑菇煮沸两分钟，快起锅时再放入柠檬汁。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>汤;煮;泰国菜;生津</string>
		<key>title</key>
		<string>冬阴功汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/7/6239_820348.jpg</string>
		</array>
		<key>burden</key>
		<string>香茅草,适量;柠檬叶,适量;良薑,适量;柠檬,1个;冬阴功酱,1勺;鱼露,2勺;椰浆,适量;盐巴,适量;糖,适量;高汤,1500ml</string>
		<key>id</key>
		<string>6239</string>
		<key>imtro</key>
		<string>相信这道冬阴功汤大家都非常熟悉、这是一道泰式海鲜汤、喝起来感觉酸酸辣辣的..还带著淡淡的椰子乳香。。 它的特殊味道、是来自用泰国种植的一些植物香料当食材的辅佐料、就类似中国一般家常菜也放八角一样、有独特的香味。。。 非主流的吃货应该都会喜欢、希望大家有机会能尝尝看。。这道冬阴功汤。。。</string>
		<key>ingredients</key>
		<string>虾子,8个;菇,1包;丸子,6个;洋葱,半颗;小番茄,6个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_7534337e035df345.jpg</string>
				<key>step</key>
				<string>1.冬阴功汤的主要材料有： 虾子 八隻 菇 市贩一包 丸子六个 洋葱半颗 小番茄六个 （因為材料太多、有的没照的进去）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_12b5552de0ea78dd.jpg</string>
				<key>step</key>
				<string>2.冬阴功汤的主要调味料有： 香茅草 适量 柠檬叶 适量 良薑 适量 柠檬 一个 鱼露 两大勺 冬阴功酱一大勺 椰浆 适量 高汤 1500ml</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_b3de42d5b5090294.jpg</string>
				<key>step</key>
				<string>3.做法说明: 先把虾子洗净。四隻虾把头部切断、四隻留下整隻虾、背的污泥用牙籤掏掉、再把虾子洗净备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_9dbc96f994f81634.jpg</string>
				<key>step</key>
				<string>4.所要用的菇类洗净、用手撕成一口能吃进的大小。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_e088fe3a812ba75e.jpg</string>
				<key>step</key>
				<string>5.再来要调冬阴功酱料： 準备一个小碗、先挖一大勺的冬阴功酱在碗裡面。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_d5e67099708b9bc3.jpg</string>
				<key>step</key>
				<string>6.再调进两大勺鱼露。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_64c93b6afe6e0188.jpg</string>
				<key>step</key>
				<string>7.先搅拌均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_cf5109372cff71bb.jpg</string>
				<key>step</key>
				<string>8.最后把柠檬切开、去掉种子、柠檬汁全挤进小碗裡、搅拌均匀备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_9b67648ee4891d2d.jpg</string>
				<key>step</key>
				<string>9.製作冬阴功汤： 準备一个汤锅、先放1500ml的水、把香茅草、良薑、柠檬叶、放进水裡、开大火煮。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_68508f87fa8ffa1c.jpg</string>
				<key>step</key>
				<string>10.等水开了、柠檬叶等的味道也完全融入开水裡面。 这时除了小番茄和虾身之外、虾头和其他主材料全放进锅裡煮、為的是先熬汤头。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_384ecce4068f0d0c.jpg</string>
				<key>step</key>
				<string>11.然后再放高汤浓缩粉、汤头会比较鲜、瓦斯调中火。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_6f960724b83e9fee.jpg</string>
				<key>step</key>
				<string>12.放进锅裡的菜大约煮熟了、这时倒进调好的冬阴功酱。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_99ce334b1ab08a20.jpg</string>
				<key>step</key>
				<string>13.再放进番茄。煮大约三分鐘左右。 （番茄后来才放、是為了怕番茄煮太烂了。）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_a5f5314c80ea7472.jpg</string>
				<key>step</key>
				<string>14.冬阴功酱和高汤差不多也融合了、这时加入虾身。 （虾子很快就熟了、煮太久虾肉就不嫩了、所以才留到最后放。）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_1c89ca0a90514b45.jpg</string>
				<key>step</key>
				<string>15.放完虾的同时、加入适量的椰浆、虾子熟了、冬阴功汤也几乎完成了。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/63/6239_b538aa7c4a5597fb.jpg</string>
				<key>step</key>
				<string>16.要熄火之前、加入适量的盐巴和糖试试味道、不够酸就再多挤些柠檬汁、味道太淡就多加半勺鱼露进去、试完味道即可熄火。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>汤;酸辣;煮;泰国菜;泰国料理;狂欢之宴</string>
		<key>title</key>
		<string>冬阴功汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/11/10334_622110.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;番茄酱,适量;胡椒粉,适量;柠檬汁,适量;酱油,适量;洋葱,适量;大蒜,适量;糖,适量;花生粉,适量;辣椒酱,适量</string>
		<key>id</key>
		<string>10334</string>
		<key>imtro</key>
		<string>春天到了、开始就是蔬菜的季节。。 偶而换换口味、想多吃蔬菜、把冰箱剩餘的零零碎碎材料、做一道泰式炒冬粉、没有虾子、没有鱼露..等特殊调味料、也不难做出一道简单的家常泰式料理、虽不是太正宗、可也能在家裡感受一下泰国风情。。</string>
		<key>ingredients</key>
		<string>冬粉,300g;猪绞肉,30g;香菇,30g;豆芽菜,100g;胡萝卜,30g;韭菜,1根;鸡蛋,1个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_73020e7e52f20cfb.jpg</string>
				<key>step</key>
				<string>1.材料准备好。冬粉先泡软</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_e650607958e02ccc.jpg</string>
				<key>step</key>
				<string>2.调料准备好，把花生粉磨碎备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_3020d9042b7c9b29.jpg</string>
				<key>step</key>
				<string>3.把所有蔬菜洗净，切丝，鸡蛋打碎备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_2183ad1fef148da4.jpg</string>
				<key>step</key>
				<string>4.洋葱切丝，蒜头打碎。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_14bcadfa495bdf3d.jpg</string>
				<key>step</key>
				<string>5.锅子内放入适量的油，放入洋葱和蒜头開中火爆香（洋葱不要炒熟）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_d637c49886ab20fb.jpg</string>
				<key>step</key>
				<string>6.加入猪绞肉，放入适量胡椒粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_c3c614cee1c38b50.jpg</string>
				<key>step</key>
				<string>7.加入胡萝卜，香菇，炒香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_e99be5c7e8225cbf.jpg</string>
				<key>step</key>
				<string>8.把菜靠到一边，加入适量的油，放入鸡蛋炒熟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_7ff2f53404d682c6.jpg</string>
				<key>step</key>
				<string>9.然後加入冬粉，拌炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_621225b00a4b3fcd.jpg</string>
				<key>step</key>
				<string>10.冬粉炒熟后，加入适量的番茄酱。把冬粉調呈淡紅色</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_630ae26577ade704.jpg</string>
				<key>step</key>
				<string>11.再加入适量的柠檬汁，拌炒均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_5953b7af046c921f.jpg</string>
				<key>step</key>
				<string>12.加入韭菜，豆芽菜，继续拌炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_f60995f327eb8e9f.jpg</string>
				<key>step</key>
				<string>13.加入适量的辣椒酱。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_226b486db56d1823.jpg</string>
				<key>step</key>
				<string>14.加入适量的盐巴和糖，（糖稍微加多一点），拌炒均匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_381c0a4bcd3be74c.jpg</string>
				<key>step</key>
				<string>15.加入适量的酱油调色，之后熄火起锅。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_24dffb10052db0d0.jpg</string>
				<key>step</key>
				<string>16.装入盘内后，撒上适量的花生粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/104/10334_34310f53b26097a6.jpg</string>
				<key>step</key>
				<string>17.根据个人喜好添加香菜，这道菜就算完成了。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;瘦身;健脾开胃;润肠通便;护肝;排毒;阳虚质;高血脂;防癌;炒;动脉硬化;便秘;小吃;春季;冬季;降血脂;泰国菜;减肥;提高免疫力;补铁;杀菌;健脾;肥胖;尿频;抗菌;壮阳;养肝护肝;补肝;脂肪肝;健脾胃;春季菜谱;回奶;阳痿;脾虚</string>
		<key>title</key>
		<string>泰式炒冬粉</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/55/54285_513473.jpg</string>
		</array>
		<key>burden</key>
		<string>清水,适量</string>
		<key>id</key>
		<string>54285</string>
		<key>imtro</key>
		<string>非常喜欢吃青咖喱，每次回香港总会买一两罐会苏州享用，无奈每次行李都超重，有时只好割爱，幸好苏州BHG精品超市可以买到，虽然贵好多，有时也忍不住要买回家解解馋哩。</string>
		<key>ingredients</key>
		<string>青咖喱罐头,420g;鸡腿,400g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54285_4a2bb4db6bb05977.jpg</string>
				<key>step</key>
				<string>1.食材：青咖喱罐头和鸡腿。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54285_182c2626dbfbeb1d.jpg</string>
				<key>step</key>
				<string>2.青咖喱罐头开罐，倒入砂锅中。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54285_5f7f6c29a2e23aa9.jpg</string>
				<key>step</key>
				<string>3.鸡腿洗净，去皮，去骨，切片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54285_2ba08b34068356ac.jpg</string>
				<key>step</key>
				<string>4.鸡腿肉放入青咖喱汤汁中。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54285_b35ffc8683f2072b.jpg</string>
				<key>step</key>
				<string>5.盖锅盖，大火烧开。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54285_512776937ec7e8cc.jpg</string>
				<key>step</key>
				<string>6.揭盖，转小火继续煮至鸡肉断生。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/543/54285_f1d484e1f7d9827f.jpg</string>
				<key>step</key>
				<string>7.熄火盛出。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>泰国菜;咖喱味;快手菜;国庆节</string>
		<key>title</key>
		<string>泰式青咖喱鸡肉</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/69/68364_485077.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;泰式咖喱酱,适量;椰子粉,适量</string>
		<key>id</key>
		<string>68364</string>
		<key>imtro</key>
		<string>朋友知道我喜欢咖喱菜式，特意送来了泰式咖喱酱和椰子粉。今天就用这酱料做了咖喱鱼丸。浓香的椰浆搭配咖喱的辛辣醇厚裹在鱼丸上，真是让人食欲倍增呀。。。。</string>
		<key>ingredients</key>
		<string>鱼丸,200g;土豆,100g;洋葱,50g;豌豆,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_8179ea2895288336.jpg</string>
				<key>step</key>
				<string>1.准备好所用食材。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_3de316902ccc6e8c.jpg</string>
				<key>step</key>
				<string>2.椰子粉加入熟练地开水搅拌均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_22a5aed1968f56c4.jpg</string>
				<key>step</key>
				<string>3.把土豆洗净去皮。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_ba9c5a2d50ab41c4.jpg</string>
				<key>step</key>
				<string>4.豌豆冲洗干净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_efcb9facd4a3352c.jpg</string>
				<key>step</key>
				<string>5.切成滚刀块。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_04b6159d698781ca.jpg</string>
				<key>step</key>
				<string>6.锅中注入油，下入洋葱煸炒均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_883f2d4a95108ade.jpg</string>
				<key>step</key>
				<string>7.加入一勺咖喱酱炒匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_a9a021e825829e26.jpg</string>
				<key>step</key>
				<string>8.倒入椰浆。烧开。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_2b1e3a438b3e6f7c.jpg</string>
				<key>step</key>
				<string>9.倒入土豆块，煮至10分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_4330b5b35a4aee4a.jpg</string>
				<key>step</key>
				<string>10.再加入鱼丸烧开。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_d8d13d8f30a0793d.jpg</string>
				<key>step</key>
				<string>11.加入豌豆，加入适量的盐，转中火。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/684/68364_ef0aee178cce6bce.jpg</string>
				<key>step</key>
				<string>12.烧至汤汁浓缩，土豆软烂即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>感恩节;素食;咖喱味;增强抵抗力;泰国菜</string>
		<key>title</key>
		<string>泰式咖喱鱼丸</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/30/29743_958131.jpg</string>
		</array>
		<key>burden</key>
		<string>柠檬,1个;指天椒,5只;油,适量;盐,少许;鱼露,4大匙;蚝油,2大匙;白酒,适量;胡椒粉,适量</string>
		<key>id</key>
		<string>29743</string>
		<key>imtro</key>
		<string>第一次接触泰国菜，还是选个比较简单的来做吧。做这道之前上网查了一些资料发现每个人的做法有点点不同啦。有人会加蒜末，也有人会加香菜等等。我想是可以根据个人口味改变一下做法的。嗯，我觉得这道菜主要是在调料，酸中带点小甜腻，买不到泰国柠檬，只好用我们常用的黄柠檬代替，调料汁还是有一种很清新的水果香味的。</string>
		<key>ingredients</key>
		<string>鲈鱼,1条</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/298/29743_37b3f23ceed77f4e.jpg</string>
				<key>step</key>
				<string>1.1，鲈鱼清洗干净内脏，在两侧斜划几道小口（这样可以容易入味），抺上少许盐、胡椒粉和白酒，腌制15到30分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/298/29743_4cf44e1c763019b3.jpg</string>
				<key>step</key>
				<string>2.2.香葱切丁，指天椒切丁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/298/29743_62595a80764b2da3.jpg</string>
				<key>step</key>
				<string>3.3.香葱（留1/3备用），指天椒放入碗中，将2/3只柠檬的汁全部挤入碗中（留1/3备用）,再加入2勺鱼露、2勺白糖、2勺蚝油、适量白酒搅拌均匀成调味汁待用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/298/29743_d099b1177e11b5f7.jpg</string>
				<key>step</key>
				<string>4.4.将鱼放入盘中，与调味汁一起放入蒸锅中，大火蒸煮8分钟左右（时间可以根据鱼的大小来决定的）。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/298/29743_1681d9d3cea1d553.jpg</string>
				<key>step</key>
				<string>5.5.开锅后将盘里的水倒干净待用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/298/29743_b534d84ac1ea8f5e.jpg</string>
				<key>step</key>
				<string>6.6.将蒸好的调味汁浇到鱼上。再将那1/3的香末撒上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/298/29743_3c8e4862268f7a9f.jpg</string>
				<key>step</key>
				<string>7.7．将适量的油倒入煎锅中烧热（油刚冒烟即可，也可以把自己的手掌放在油锅上方感觉到热即可）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/298/29743_46d186708f09a342.jpg</string>
				<key>step</key>
				<string>8.8.将烧热的油再浇到鱼上面。再将那1/3的柠檬汁滴到鱼上面即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>泰国菜;海鲜;鲜香;晚餐</string>
		<key>title</key>
		<string>泰式柠檬清蒸鱼</string>
	</dict>
</array>
</plist>
