<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/20/19564_709275.jpg</string>
		</array>
		<key>burden</key>
		<string>自制味素,5g;玉米油,30ml;麻油,20ml;老抽,10ml;生抽,40ml;广东米酒,60ml;大蒜,1头;姜,6片;干辣椒,4个;九层塔,适量;冰糖,6颗</string>
		<key>id</key>
		<string>19564</string>
		<key>imtro</key>
		<string>心蓝每次去台湾餐厅，必点两道菜——三杯鸡和菠萝油条虾，菜在路上，心蓝就闭上眼睛，贪婪地嗅着空气中那由远及近，扑面而来的浓香，当然，心蓝指的是三杯鸡，对于菠萝油条虾的香气，心蓝还没练到在路上就可以嗅到的境界，嘿嘿。 在心蓝看来，三杯鸡属于典型的江湖菜。浓油赤酱，浓香扑鼻，汁鲜味美，满眼是肉（原谅心蓝用这个字眼，心蓝是肉肉控，哈哈）。绝对是大碗喝酒，大块吃肉的好菜，和湘西大块牛肉是一个级别的范。 三杯鸡的精髓在于全程无水烹饪，一杯油，一杯酱油，一杯酒，成就了这道经典美食的绝妙口感，当然，也少不了九层塔的点石成金。 做三杯鸡的过程是种享受，也是种煎熬。三杯鸡是个双面人，他就像个天使，让你沉浸在那无法言喻的奇香中欢愉。他又是个魔鬼，二十分钟的烹饪时间及火候要严格掌控，多一分则糊底，少一分则汁多味淡，颇有东家之女的神韵。但是对于一个吃货，要忍受二十分钟的香气诱惑却不能越雷池半步的煎熬，你懂的。 不过，心蓝享受这种痛并快乐着的感觉，为了最终那一口汁鲜味美，浓香扑鼻，值了！</string>
		<key>ingredients</key>
		<string>鸡肉,300g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/196/19564_42633a6983b25221.jpg</string>
				<key>step</key>
				<string>1.鸡肉斩大块，流水冲尽血水，大蒜去皮成整蒜子，生姜切片待用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/196/19564_98433208a16f1136.jpg</string>
				<key>step</key>
				<string>2.热锅，先下玉米油，待油温升至7成，下麻油，待油温升至6成热时下蒜子、姜片、干辣椒煸香</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/196/19564_c60130c5f00ee714.jpg</string>
				<key>step</key>
				<string>3.下鸡块，翻炒至鸡肉变色</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/196/19564_412d5dd6a701f659.jpg</string>
				<key>step</key>
				<string>4.下酱油翻炒均匀，让鸡肉均匀上色</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/196/19564_4be99321035063a3.jpg</string>
				<key>step</key>
				<string>5.下米酒、冰糖，大火烧开，下自制味素，转中小火盖锅盖焖煮20分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/196/19564_4149bd04c067f9b4.jpg</string>
				<key>step</key>
				<string>6.待锅内汁水收至9成时，转大火，下九层塔翻炒1分钟，出锅即可</string>
			</dict>
		</array>
		<key>tags</key>
		<string>台湾菜;增肥;骨质疏松;九层塔;三杯鸡;补钙;补中益气;健脾;补虚;健脾胃;心蓝手制私房菜;红烧鸡;增高;脾虚</string>
		<key>title</key>
		<string>正宗三杯鸡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/30/29132_702645.jpg</string>
		</array>
		<key>burden</key>
		<string>米酒,400ml;姜,适量;蒜,适量;酱油,200ml;辣椒,2根</string>
		<key>id</key>
		<string>29132</string>
		<key>imtro</key>
		<string>这道腌制生蛤蜊、是台湾有名的下酒菜。别看他腌制方法简单、却是台湾各地台式大餐厅、大酒楼的第一道接待菜、是台菜的传统菜代表之一、实在地位不低。。 做法实在太简单、在此分享给各位。使用的是淡水蛤蜊、所以製造之前必须要乾净清水先泡十分鐘、让蛤蜊吐出杂质、而且在此慎重叮咛、必须用新鮮活的哦。。 五星级的台式酒楼都钟爱的下酒菜、喜欢的朋友都可以试试看哦。。</string>
		<key>ingredients</key>
		<string>淡水蛤,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/292/29132_d2d93fd57f63e9e5.jpg</string>
				<key>step</key>
				<string>1. 先要准备的材料:淡水蛤200g、米酒 用干净清水把淡水蛤泡在水里十分鐘、然后洗干净、把水沥乾。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/292/29132_5c7b3e40ecf47149.jpg</string>
				<key>step</key>
				<string>2. 把米酒倒进淡水蛤、满过他的高度、冷冻一晚。（为了杀菌） 淡水蛤第二天拿出来自然退冻。 米酒别倒掉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/292/29132_036056c42ce82138.jpg</string>
				<key>step</key>
				<string>3. 把姜、蒜头切片、和辣椒一起放进去退冻好的淡水蛤里面醃泡。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/292/29132_f7f73511999bc12f.jpg</string>
				<key>step</key>
				<string>4.接加入酱油、（酱油的量你可以目测、醃汁依个人喜好变黑色即可）。 輔佐料都加好之後、 放进冰箱冷藏五个小时、就入味能吃了、醃製时間越长越入味哦。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/292/29132_735f536747cfcdd1.jpg</string>
				<key>step</key>
				<string>5.這是成品。 想吃时从冰箱拿出來、涼涼的蒜頭香、好清爽。。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>台湾菜;白领;下酒菜;淡水蛤</string>
		<key>title</key>
		<string>腌制生蛤蜊</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/28/27751_293682.jpg</string>
		</array>
		<key>burden</key>
		<string>葱,适量;薑,适量;蒜,适量;辣椒,适量;红椒,适量;豆瓣酱,1大勺;胡椒,适量;酱油,适量;糖,1大勺;盐,适量;高汤,250ml;花椒油,适量;太白粉,适量</string>
		<key>id</key>
		<string>27751</string>
		<key>imtro</key>
		<string>"五更肠旺"这名字的由来、相信大家都应该听过了。是因为蒋　经国先生在台湾时、部队经常都在半夜行军移房。有一次冬天、他的专用厨师就用了猪肠和鸭血、用小火慢慢燉熬。。从三更燉到五更、等著经国先生半夜回来用餐、而经国先生吃了之后非常喜欢、就问厨师这道菜叫什麼菜？厨师就回答经国先生说、这道菜叫"五更肠血"。 多年之后、是由张大千先生把它改名為"五更肠旺"的、很有意思的典故吧。 而这道"五更肠旺"现在已经成为家家户晓的名菜了、作法很简单、又非常下饭、有兴趣的朋友们可以试试看哦。</string>
		<key>ingredients</key>
		<string>熟猪肠,150g;鸭血,100g;酸菜,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_41811aec98eeb0c4.jpg</string>
				<key>step</key>
				<string>1.准备备的主材料有: 熟猪肠(我事先已经滷过了)。 鸭血(先用热水稍微汆烫过)切块。 酸菜切片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_3e980e7d08f3a03b.jpg</string>
				<key>step</key>
				<string>2.辅佐料有：葱、薑、蒜、辣椒、红椒、豆瓣酱、胡椒、酱油、糖、　盐、花椒油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_5af06bc955c3b202.jpg</string>
				<key>step</key>
				<string>3.我用的是自製朝天椒、因為太辣了、所以只放一点。建议朋友用一般的豆瓣酱、顏色会比较红、比较好看。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_c891bfb370cb1ad0.jpg</string>
				<key>step</key>
				<string>4.我是用自製花椒油、因為想拌饭吃。如果不怕麻、可直接用花椒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_fac3c81532050beb.jpg</string>
				<key>step</key>
				<string>5.我这裡没卖中国辣椒、所以用红椒代替顏色。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_44d2efd48d95976a.jpg</string>
				<key>step</key>
				<string>6.把葱、薑、蒜、红椒、都切片备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_ca0e66db81d8fd71.jpg</string>
				<key>step</key>
				<string>7.锅子裡放油、把步骤６的辅佐料全放进去爆香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_67776d1e23a0bfbe.jpg</string>
				<key>step</key>
				<string>8.爆香后加入一大勺豆瓣酱。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_2ac3a18e9f0f547c.jpg</string>
				<key>step</key>
				<string>9.放进熟猪肠子。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_54ac675ac6b97d4e.jpg</string>
				<key>step</key>
				<string>10.再放酸菜。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_1e891b835f290ec4.jpg</string>
				<key>step</key>
				<string>11.把鸭血也加进去。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_0a6c0506fa1edda4.jpg</string>
				<key>step</key>
				<string>12.改用中小火炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_9a435aa019b085a9.jpg</string>
				<key>step</key>
				<string>13.加入250ml高汤。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_024caa2c114a11e3.jpg</string>
				<key>step</key>
				<string>14.加入适量的胡椒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_750473958223f30a.jpg</string>
				<key>step</key>
				<string>15.适量的酱油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_5e0075cd0e2ab985.jpg</string>
				<key>step</key>
				<string>16.加入一大勺糖、适量的盐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_d6f1a3cc0a6a194b.jpg</string>
				<key>step</key>
				<string>17.改用小火、用盖子焖6~8分鐘让他入味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_00f4ca32535ded22.jpg</string>
				<key>step</key>
				<string>18.打开锅盖、加入适量的太白粉勾芡。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_36726f0fb059a442.jpg</string>
				<key>step</key>
				<string>19.最后淋上去花椒油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/278/27751_b62592d568726795.jpg</string>
				<key>step</key>
				<string>20.再倒入砂锅裡、就完成了。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>台式川菜;白领;台湾菜;辣</string>
		<key>title</key>
		<string>五更肠旺</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/30/29623_872736.jpg</string>
		</array>
		<key>burden</key>
		<string>葱,适量;薑,适量;蒜,适量;辣椒,适量;豆鼓,适量;太白粉,适量;香油,适量;胡椒盐,适量</string>
		<key>id</key>
		<string>29623</string>
		<key>imtro</key>
		<string>这道"豆鼓炒生蠔"是一道台式川菜的做法。生蠔一直是我的最爱、永远吃不腻。。做法更简单、这汤汁浇在白饭上、我都可以吃上两碗饭哦～～</string>
		<key>ingredients</key>
		<string>生蠔,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_61165b55cb54b4a9.jpg</string>
				<key>step</key>
				<string>1.準备材料有：生蠔、葱、薑、蒜、辣椒、豆鼓、太白粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_b6a342334039bfc8.jpg</string>
				<key>step</key>
				<string>2.将薑、蒜剁碎、辣椒切片。 （家裡面有老人不敢切太小、怕老人家吃到辣椒。）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_47d30245d3579673.jpg</string>
				<key>step</key>
				<string>3.葱剁碎备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_128a50d8dcb47d00.jpg</string>
				<key>step</key>
				<string>4.豆鼓先泡水。 （泡过豆鼓的水别丢、要代用汤汁的）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_17446726c7822365.jpg</string>
				<key>step</key>
				<string>5.太白粉加一点水、準备勾芡备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_2939a4ed2af74273.jpg</string>
				<key>step</key>
				<string>6.先把生蠔用清水洗净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_1ebc3dbfde020feb.jpg</string>
				<key>step</key>
				<string>7.炒菜鍋裡加入適當的油、加入蒜、薑、辣椒、中火爆香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_2cb5fb15093be929.jpg</string>
				<key>step</key>
				<string>8.再放进豆鼓稍微炒拌。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_a8f42a9f78d15916.jpg</string>
				<key>step</key>
				<string>9.在加入生蠔。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_5f1654e310e3cf59.jpg</string>
				<key>step</key>
				<string>10.倒入泡过豆鼓的汤汁、加入适量胡椒盐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_513cc7e39d22b7cc.jpg</string>
				<key>step</key>
				<string>11.等汤汁沸腾后、马上加入太白粉勾芡。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_956723c11dc15362.jpg</string>
				<key>step</key>
				<string>12.勾芡完了、马上放入葱花稍微炒拌一下。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/297/29623_c6bdf4f094034aa2.jpg</string>
				<key>step</key>
				<string>13.最后淋上香油起锅。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>台湾菜;炒;海鲜;快手;台式川菜</string>
		<key>title</key>
		<string>豆鼓炒生蠔</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/32/31671_696545.jpg</string>
		</array>
		<key>burden</key>
		<string>白糖,适量;水,适量</string>
		<key>id</key>
		<string>31671</string>
		<key>imtro</key>
		<string>据说，这是台湾流传于民间的粥品之一。那么就叫台式腊八粥吧。 一直以为家里是有龙眼肉的，眼瞧着它在那里呆了很多日子，临到用时，却发现没有了。咦？是什么时候没有的？没有就没有吧，少一味也不妨碍喝粥。晨起食粥，益胃气。</string>
		<key>ingredients</key>
		<string>圆糯米,70g;莲子,10颗;红豆,20g;绿豆,20g;花生,15g;百合,10g;红枣,4颗;冬瓜糖,15g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_8791ec2320943282.jpg</string>
				<key>step</key>
				<string>1.用料</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_4bd27eb10c1cd4ea.jpg</string>
				<key>step</key>
				<string>2.将谷物豆类莲子等倒入大碗</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_589f4b546f5bc4be.jpg</string>
				<key>step</key>
				<string>3.用清水淘洗</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_5ab300e7502fd414.jpg</string>
				<key>step</key>
				<string>4.沥水</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_51465acfff64080f.jpg</string>
				<key>step</key>
				<string>5.糖冬瓜切小丁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_71bcf7edf419668c.jpg</string>
				<key>step</key>
				<string>6.把所有材料加入电炖锅内胆</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_0e2471c6a71f9e36.jpg</string>
				<key>step</key>
				<string>7.加水适量</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_54407107bd6c5825.jpg</string>
				<key>step</key>
				<string>8.放入炖锅，加盖，通电，低温档，隔水炖煮一夜</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_e11c1a408732fde9.jpg</string>
				<key>step</key>
				<string>9.晨起，米烂粥成</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/317/31671_e76c65a59a9ccbde.jpg</string>
				<key>step</key>
				<string>10.盛出，加糖调味食用</string>
			</dict>
		</array>
		<key>tags</key>
		<string>粥;早餐;煮;甜;台湾菜</string>
		<key>title</key>
		<string>台式腊八粥</string>
	</dict>
</array>
</plist>
