<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/7/6655_771470.jpg</string>
		</array>
		<key>burden</key>
		<string>洋葱,半个;姜,5g;蒜,5g;香叶,半片;盐,少许;咖喱,适量;黄油,2勺;牛肉清汤,适量</string>
		<key>id</key>
		<string>6655</string>
		<key>imtro</key>
		<string>这款汤味道十分浓郁，喜欢的朋友可以试试哦，很不错的。</string>
		<key>ingredients</key>
		<string>猪肉,200g;土豆,2个;胡萝卜,半根;鸡蛋,1个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6655_9d820185935a9a93.jpg</string>
				<key>step</key>
				<string>1.将所有材料准备齐全，这时可以先按下电饭锅的煮饭档，先把米饭蒸上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6655_6c2d6f671d05824e.jpg</string>
				<key>step</key>
				<string>2.将所有的蔬菜洗净，土豆、胡萝卜去皮切滚刀块；洋葱一部分切成碎末（放入肉馅用），一部分切大块；鲜姜洗净切末；大蒜切片备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6655_eaf3b0ce53d28f35.jpg</string>
				<key>step</key>
				<string>3..将肉馅放入容器中，加入鸡蛋或者蛋清，放入葱末、盐、姜末、味精，搅拌均匀，然后边加入少量牛肉清汤边打至上劲，没有牛肉清汤用清水也可以。最后挤成合适大小的丸，入沸水锅中煮熟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6655_89ded4b32dbb9b24.jpg</string>
				<key>step</key>
				<string>4.炒锅置火上，放入黄油（或色拉油），融化后放蒜末、香叶、洋葱炒出香味，再放入胡萝卜和土豆一起煸炒，最后加入牛肉清汤或清水，煮沸后以小火或中火煮至锅内的材料熟软，只要土豆和胡萝卜能用筷子轻轻扎穿就可以了。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6655_2050ecc63e34b1f4.jpg</string>
				<key>step</key>
				<string>5.待蔬菜煮好后放入适量的咖喱块，这时一定要小火，并不断地搅拌至咖喱融化，同时下入肉丸，用小火稍加炖煮即可，期间还是要稍加搅拌以免糊底。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/67/6655_e7244c7a4a03aa36.jpg</string>
				<key>step</key>
				<string>6.趁着煮咖喱的时间，可以把刚才用过的盘盘碗碗刷一刷，整理整理厨房，这样晚饭过后只要再刷洗两个盘子就好了，不用等到晚饭过后再去收拾那个烂摊子。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>食材;印度;家常菜;汤;明目;延缓衰老;补血;护肝;养胃;增肥;贫血;特禀质;痛风;咖喱;冬季;美白;养颜;鲜香;汤锅;健脾;祛风散寒;祛寒;养肝护肝;补肝;健脾胃;印度菜;调理肠胃;助睡眠;脾虚</string>
		<key>title</key>
		<string>咖喱肉丸汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/66/65417_128186.jpg</string>
		</array>
		<key>burden</key>
		<string>细砂糖,2大匙;盐,5g;干酵母,4g;温水,50ml;橄榄油,1大匙;黄油,适量</string>
		<key>id</key>
		<string>65417</string>
		<key>imtro</key>
		<string>方子来自那本《手作りパン》。 丸子这几天身体状态不是很好，老公说我是食物中毒了，呵呵，吐的很难受，整个人也很没有精神，难受死了。 以前吃的馕都是新疆馕，以为馕就是那个样子的，自从老公带我去日本吃过印度馕，我才知道原来真正的印度馕是配着咖喱的吃的啊，呵呵，吃过一次就爱上了，很好吃，尤其对我这样比较喜欢咖喱味道的人，更加适合，在北京还真的没有吃到过，好像在哪家店里有的，我一直也没有找到，呵呵！</string>
		<key>ingredients</key>
		<string>鸡蛋,1个;高筋面粉,300g;牛奶,100ml</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_73ac5437ae2f98c9.jpg</string>
				<key>step</key>
				<string>1.碗中放入酵母和糖，用温水和牛奶搅拌均匀，可以用手充分搅拌，盖上保鲜膜，静置15分钟，出现大的泡泡；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_dce7cbbf9ecb8a6d.jpg</string>
				<key>step</key>
				<string>2.依次放入打匀的鸡蛋，橄榄油，充分搅拌均匀；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_58fefb733a98a603.jpg</string>
				<key>step</key>
				<string>3.将酵母水和高粉、盐的混合物充分混合，揉成团；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_612d19e197d71faa.jpg</string>
				<key>step</key>
				<string>4.连摔带揉15分钟后，开始第一次发酵；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_74f2ef4fd989df61.jpg</string>
				<key>step</key>
				<string>5.发酵至2倍大时，说明第一次发酵结束，取出面团，轻轻按压，分割成6份，滚圆，饧20分钟；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_a332b72c005ba506.jpg</string>
				<key>step</key>
				<string>6.再将面团轻轻压扁，重新整好形，放在烤盘中，开始二次发酵；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_847ab6165c6f45f2.jpg</string>
				<key>step</key>
				<string>7.二次发酵结束后，将面团压扁，从上面1/3往下折，再将下面的1/3折上去，翻转90°，照同样的方法整成圆形；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_09b06a7f83b39280.jpg</string>
				<key>step</key>
				<string>8.擀成下面窄，上面宽的形状；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_a2b6a6b2e0ae48bc.jpg</string>
				<key>step</key>
				<string>9.平底锅中放入黄油，小火两面煎熟即可；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/655/65417_389305395f53f2cf.jpg</string>
				<key>step</key>
				<string>10.配上一碗香浓的咖喱，这才是真正的印度风味馕，呵呵！</string>
			</dict>
		</array>
		<key>tags</key>
		<string>1-2人;1小时-2小时;其他味;锅子;其他工艺;家常菜;印度菜</string>
		<key>title</key>
		<string>印度馕</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/60/59168_830303.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;印度咖喱粉,适量</string>
		<key>id</key>
		<string>59168</string>
		<key>imtro</key>
		<string>香脆的薄饼卷上印度微辣的黄咖喱，一口咬下去，外脆里嫩，唇齿留香。是不是吃腻了咖喱饭，那么来试试咖喱配薄饼吧，不同的口感，而且没有咖喱配米饭那么腻。制作又简单，大家可以试一试。老妈吃了以后也赞不绝口哈哈哈，说这样吃下去要胖了。</string>
		<key>ingredients</key>
		<string>鸡胸脯肉,200g;土豆,1个;洋葱,1个;胡萝卜,1个;小麦面粉,100g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_43e08ddd3e7fd597.jpg</string>
				<key>step</key>
				<string>1.面放进容器里，中间放上水，和成面团</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_9f2e59c52db72e04.jpg</string>
				<key>step</key>
				<string>2.揉好的面团要软硬适中，稍微硬一点点也可以，那样做出的饼子比较香脆，揉好的面团用保鲜膜封住器皿口待用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_2bf89243d3f719e6.jpg</string>
				<key>step</key>
				<string>3.土豆切小块用水泡一会去淀粉，然后捞出沥水备用，鸡胸肉切小块，用料酒和淀粉抓匀备用，胡萝卜洋葱切小丁备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_9761373fa9070d7c.jpg</string>
				<key>step</key>
				<string>4.现在面团醒的差不多了，可以制作薄饼了，分成相等的两个面团</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_f1afb5d7d09e47a8.jpg</string>
				<key>step</key>
				<string>5.用擀面杖擀成薄薄的两个薄饼，小心不要弄破咯，也不能太薄大约两三毫米那么厚，面饼要制作的大一些直径大约25CM</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_5bdd0b920af2e46d.jpg</string>
				<key>step</key>
				<string>6.现在制作薄饼，锅里刷一层薄薄的油，放入饼</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_7f7e92a897627612.jpg</string>
				<key>step</key>
				<string>7.煎至两面微黄起泡，放一边备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_d5e3d953c0ad5b8a.jpg</string>
				<key>step</key>
				<string>8.现在制作咖喱，热锅下油，油温最好高一些，下入土豆胡萝卜块，翻炒至表面金黄略起焦皮，捞出备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_29be02684f6906b8.jpg</string>
				<key>step</key>
				<string>9.用锅里剩下的油翻炒鸡肉丁至8分熟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_ee8b6974f1e9c249.jpg</string>
				<key>step</key>
				<string>10.继续下入洋葱丁，土豆胡萝卜丁，咖喱粉翻炒，咖喱味道很浓，基本不用放盐，觉得淡了可以少放些盐，其他什么调料都不用放了，咖喱粉里有多种香料</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_1a9c2154e88426c4.jpg</string>
				<key>step</key>
				<string>11.加少量水翻炒，炖七八分钟，收汁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_e69681dea39b2015.jpg</string>
				<key>step</key>
				<string>12.煮好的咖喱鸡肉盛出备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_2be3fecab32b162c.jpg</string>
				<key>step</key>
				<string>13.现在开始卷饼，把咖喱放在饼子的中间稍靠下，先把下面向上折，然后两边往里面折，最后上面的折下来，折成一个差不多四方形，小心不要把饼子折破了，如果这时候饼子有点变凉发硬，就放在刚盛出的咖喱上哄一哄一会就软啦</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_b661cf41466ab387.jpg</string>
				<key>step</key>
				<string>14.折好鸡肉卷，是不是很诱人呢，这样方法折的鸡肉卷，吃的时候馅料也不容易掉出哦。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/592/59168_ec8999a53ea3b4c9.jpg</string>
				<key>step</key>
				<string>15.吃到一半觉得馅料少了，还可以自己再加，哈哈 好爽口</string>
			</dict>
		</array>
		<key>tags</key>
		<string>食材;微辣;冬季;香辣;薄饼;鸡肉卷;咖喱味;秋季菜谱;印度菜;外国大餐</string>
		<key>title</key>
		<string>印度咖喱薄饼鸡肉卷</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/50/49559_117825.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;咖喱块,适量</string>
		<key>id</key>
		<string>49559</string>
		<key>imtro</key>
		<string>家人都很喜欢吃咖喱饭，制作简单，材料一般冰箱都有，忙的时候做一锅咖喱，铺在米饭上，味道很不错。</string>
		<key>ingredients</key>
		<string>土豆,100g;胡萝卜,50g;牛肉,100g;洋葱,100g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_f31ef7dad755b650.jpg</string>
				<key>step</key>
				<string>1.准备材料</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_ef08a60905e8fa9b.jpg</string>
				<key>step</key>
				<string>2.土豆胡萝卜洋葱切小块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_1467fbf656f03ad4.jpg</string>
				<key>step</key>
				<string>3.牛肉切丁焯一下</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_acb47a8bab3d8a81.jpg</string>
				<key>step</key>
				<string>4.锅里放油把准备的材料炒半熟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_e6dbdab569fd214c.jpg</string>
				<key>step</key>
				<string>5.放入牛肉丁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_c89a127a2c4e24eb.jpg</string>
				<key>step</key>
				<string>6.材料炒一会加水</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_5aa5a8e3ae416d79.jpg</string>
				<key>step</key>
				<string>7.撇去浮沫炖</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_d50a2a04627f900f.jpg</string>
				<key>step</key>
				<string>8.材料炖熟后关火，放入咖喱块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_c227e39d97b7ffe3.jpg</string>
				<key>step</key>
				<string>9.搅拌均匀开过煮开</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/496/49559_e120ad744913a621.jpg</string>
				<key>step</key>
				<string>10.均匀铺在米饭上，美味的咖喱饭就完成了</string>
			</dict>
		</array>
		<key>tags</key>
		<string>食材;冬季;印度菜</string>
		<key>title</key>
		<string>印度咖喱饭</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/21/20950_525893.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;咖喱,适量</string>
		<key>id</key>
		<string>20950</string>
		<key>imtro</key>
		<string>看到网上有很多可爱的便当，也很想尝试一下，就试着做这款小熊咖喱饭，看着还蛮可爱的。</string>
		<key>ingredients</key>
		<string>米饭,150g;土豆,150g;胡萝卜,100g;洋葱,100g;牛肉,150g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/210/20950_6db08b6cd725e6ed.jpg</string>
				<key>step</key>
				<string>1.准备好材料</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/210/20950_86d2009d2dc9b690.jpg</string>
				<key>step</key>
				<string>2.土豆胡萝卜洋葱切丁</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/210/20950_3a9f246970276dc5.jpg</string>
				<key>step</key>
				<string>3.所有材料入锅里炒一下煮熟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/210/20950_1c2582b99beba365.jpg</string>
				<key>step</key>
				<string>4.加入咖喱</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/210/20950_db70bff2d91fcef4.jpg</string>
				<key>step</key>
				<string>5.关火把咖喱搅碎</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/210/20950_cbcd160172f11536.jpg</string>
				<key>step</key>
				<string>6.咖喱做好了，盛到盘里</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/210/20950_c5163fd7092bb0bc.jpg</string>
				<key>step</key>
				<string>7.用米饭捏成小熊的形状</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/210/20950_82b50c3ff4fadce2.jpg</string>
				<key>step</key>
				<string>8.深色的小熊是白米饭拌的酱油，小熊做好直接放在咖喱上</string>
			</dict>
		</array>
		<key>tags</key>
		<string>午餐;冬季;可爱;创意食谱;特色饭;印度菜</string>
		<key>title</key>
		<string>可爱小熊咖喱饭</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/46/45670_520121.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;咖喱,适量;葱花,适量</string>
		<key>id</key>
		<string>45670</string>
		<key>imtro</key>
		<string>咖喱（也写作咖哩）是由多种香料调配而成的酱料，常见于印度菜、泰国菜和日本菜等，一般伴随肉类和饭一起吃。咖哩是一种多样变作及特殊地调过味的菜肴，咖喱的主要成分是姜黄粉、川花椒、八角、胡椒、桂皮、丁香和芫荽籽等含有辣味的香料，能促进唾液和胃液的分泌，增加胃肠蠕动，增进食欲，闲暇之时，可以来一份特殊口味的菜也不错。</string>
		<key>ingredients</key>
		<string>土豆,400g;胡萝卜,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45670_e2614af8320acd57.jpg</string>
				<key>step</key>
				<string>1.土豆洗净，去皮，切丝，用清水浸泡片刻后，捞出备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45670_6db39cd55865eb5f.jpg</string>
				<key>step</key>
				<string>2.胡萝卜洗净，去皮，切丝，备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45670_4e7cc179604ad9b9.jpg</string>
				<key>step</key>
				<string>3.炒锅烧热，放入适量油，放入胡萝卜丝煸炒至软后盛出备用； 胡萝卜油炒后，有利于吸收胡萝卜素</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45670_4be6bf5796251868.jpg</string>
				<key>step</key>
				<string>4.另起炒锅，烧热，放入适量油，放入土豆丝煸炒至软后盛出备用 土豆吸油，因此应多放些油炒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45670_5496e31a2311e995.jpg</string>
				<key>step</key>
				<string>5.另起炒锅，烧热，放入适量油，放入葱花煸炒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45670_72939e8e06b85082.jpg</string>
				<key>step</key>
				<string>6.葱花煸炒至出香味后转小火，放入适量咖喱翻炒； 火候控制不好的可以关火放咖喱炒一会儿</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45670_84ea0b2f9c2c2f30.jpg</string>
				<key>step</key>
				<string>7.放入过油的胡萝卜丝和土豆丝，翻炒至均匀，放入适量盐，入味后即可</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45670_64537869ba51b6eb.jpg</string>
				<key>step</key>
				<string>8.别用风味的印度咖喱口味的胡萝卜土豆丝就出锅了</string>
			</dict>
		</array>
		<key>tags</key>
		<string>食材;家常菜;增肥;冬季;素食;快手菜;健脾;祛风散寒;祛寒;健脾胃;印度菜;助睡眠;脾虚</string>
		<key>title</key>
		<string>咖喱土豆胡萝卜丝</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/46/45623_201291.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量</string>
		<key>id</key>
		<string>45623</string>
		<key>imtro</key>
		<string>放假了，老公的小外甥因为没人照顾，只好寄放在了婆家，这样一来，我的做饭任务又重了，因为小家伙特挑食，不是喜欢的饭菜，宁愿饿着也不吃，不是纯肉菜，是一种也不沾，为此，我没少动了脑筋，说实话，给他做饭真不容易。那天，正准备做午饭，小家伙过来看有没有中意的菜，让他点菜时，他打开冰箱发现有咖喱，高兴的叫道：“舅妈，我要吃咖喱。”我道：“家中没有鸡肉和牛肉，只有五个鸭腿，配上土豆，来一盘咖喱土豆鸭如何？，不过，做了，你可得吃，因为你姐姐（女儿）不爱吃咖喱，所以，剩下了浪费。”小家伙歪着脑袋想了一会，点头答应了，于是，赶紧动手，中午，一碗香辣可口的咖喱土豆鸭出锅，小家伙也破天荒的吃了两大碗米饭，对此，婆婆和小姑妹都高兴坏了，下午临走时，小姑妹还将剩下的打包回去，说晚饭不用愁了。</string>
		<key>ingredients</key>
		<string>鸭腿,500g;咖喱,半盒;土豆,2个;胡萝卜,半根</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_191f701de00f7d97.jpg</string>
				<key>step</key>
				<string>1.鸭腿洗净，剁小块，备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_bde5c666351024f4.jpg</string>
				<key>step</key>
				<string>2.土豆去皮，切小块，洗净，备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_651736c85963477e.jpg</string>
				<key>step</key>
				<string>3.胡萝卜去皮，洗净，切丁状，备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_06ab056d1d802a74.jpg</string>
				<key>step</key>
				<string>4.准备好咖喱。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_223dffbad30190e3.jpg</string>
				<key>step</key>
				<string>5.热锅上油，烧至八成热。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_515ff0d8313fe075.jpg</string>
				<key>step</key>
				<string>6.倒入鸭腿肉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_43d7802aa3aeda20.jpg</string>
				<key>step</key>
				<string>7.大火翻炒至鸭肉变色。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_15ba5d70e843c71f.jpg</string>
				<key>step</key>
				<string>8.待鸭油稍出，倒入胡萝卜丁，中火，翻炒一两分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_70a1d43c94df83ee.jpg</string>
				<key>step</key>
				<string>9.待胡萝卜丁吸足油后，倒入土豆块。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_64201dc83c7c266a.jpg</string>
				<key>step</key>
				<string>10.大火翻炒均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_3aa829ce5dac35ee.jpg</string>
				<key>step</key>
				<string>11.倒入适量的热水，大火烧开，盖锅，转中小火15分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_71830f04d6059f5a.jpg</string>
				<key>step</key>
				<string>12.待汤汗变浓白色，加入咖喱，小火焖烧5分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/457/45623_84527ccb1aa7d951.jpg</string>
				<key>step</key>
				<string>13.待汤汁剩三分之一量时，装盘盛出，趁热浇在大米饭上，即可食用。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>食材;热菜;增肥;春节;冬季;过年;咖喱味;健脾;祛风散寒;祛寒;健脾胃;印度菜;助睡眠;脾虚</string>
		<key>title</key>
		<string>咖喱土豆鸭</string>
	</dict>
</array>
</plist>
