<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/1/957_507130.jpg</string>
		</array>
		<key>burden</key>
		<string>香茅,适量;柠檬叶,适量;酱油,1杯;米酒,1杯;香油,1杯;花椒,适量;干辣椒,适量;白糖,适量;姜,适量;老抽,适量</string>
		<key>id</key>
		<string>957</string>
		<key>imtro</key>
		<string>三杯鸡，可用整只的土鸡或鸡腿又或许是鸡翅中制作。 加入了香茅和柠檬叶，使鸡肉香味更浓郁独特，甜中带咸， 咸中带鲜，口感柔韧，咀嚼感强，是下酒绝好菜肴。</string>
		<key>ingredients</key>
		<string>土鸡,1/2只</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_005fcd3267227d2f.jpg</string>
				<key>step</key>
				<string>1.将所有材料洗净备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_51b6535839b1cce0.jpg</string>
				<key>step</key>
				<string>2.鸡洗净斩件（大小自定，小块好入味）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_c81abbb2c6eab262.jpg</string>
				<key>step</key>
				<string>3.鸡肉冷水下锅，大火烧开后焯水断生即可</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_0f174241215faae3.jpg</string>
				<key>step</key>
				<string>4.将焯过水的鸡肉捞出用水龙头水冲净备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_bff3d4b3136784fc.jpg</string>
				<key>step</key>
				<string>5.坐锅烧热，加适香油，放姜片，花椒，干辣椒煸香</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_3d2c03e316cfa645.jpg</string>
				<key>step</key>
				<string>6.将焯过水的鸡块倒入锅中，大火翻炒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_98c5ef70b9f784c1.jpg</string>
				<key>step</key>
				<string>7.放入1杯生抽，1茶杯正好是1勺</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_94acae19e5c4a35b.jpg</string>
				<key>step</key>
				<string>8.再放1杯米酒和少许老抽（老抽起调色作用）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_44375eff1b246b1d.jpg</string>
				<key>step</key>
				<string>9.加入半勺白糖（可按各人口味增减）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_fbaf6c82094c9f13.jpg</string>
				<key>step</key>
				<string>10.放入香茅、柠檬叶或九层塔</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/10/957_b9723aaac056235e.jpg</string>
				<key>step</key>
				<string>11.先用小火煮入味，再用大火收汁即可</string>
			</dict>
		</array>
		<key>tags</key>
		<string>赣菜;家常菜;热菜;香辣;增强抵抗力</string>
		<key>title</key>
		<string>三杯鸡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/56/55578_562166.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;葱姜,适量;大料,3个;桂皮,1块;老抽,20ml;生抽,25ml;白糖,5g;料酒,20ml;红糖,3g;香叶,2片;花椒,2g;水淀粉,适量</string>
		<key>id</key>
		<string>55578</string>
		<key>imtro</key>
		<string>元宝肉是一道名字很喜庆的年菜肉食美味，不过在里面加入一些蛋，如同一个个小元宝而得名。 湖北人过年欢度春节时，全家老幼团聚在一起，在农历腊月三十晚上吃团年饭的家宴上，大家都喜欢吃这个菜，以示在新的一年里财源茂盛，富贵吉祥，万事如意。 这道肉食美味，色泽洪亮，咸香味美，尤其是里面的蛋吸收了肉汁和调味料的香味，使得味道更加入味好吃。 在年菜餐桌上有吉庆寓意的好意头，菜色美，造型美，个个似真元宝，蛋肉相映，滋味各异。</string>
		<key>ingredients</key>
		<string>鹌鹑蛋,20个;带皮五花肉,250g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_638105b95372d10e.jpg</string>
				<key>step</key>
				<string>1.鹌鹑蛋煮熟去皮，五花肉洗净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_06166d6f80882b9b.jpg</string>
				<key>step</key>
				<string>2.锅中油烧热把鹌鹑蛋中小火炸制出虎皮。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_13ca9ead733029ed.jpg</string>
				<key>step</key>
				<string>3.然后捞出放吸油纸上吸出油份。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_5eca767ba23f5fa5.jpg</string>
				<key>step</key>
				<string>4.油锅留少许底油放入切块的五花肉翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_e041a1d047e05794.jpg</string>
				<key>step</key>
				<string>5.炒至五花肉变色。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_efa0f546d86a9d10.jpg</string>
				<key>step</key>
				<string>6.加入红白糖。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_9956fc73c1044807.jpg</string>
				<key>step</key>
				<string>7.继续炒至糖溶化五花肉上色。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_1305c9c459570b10.jpg</string>
				<key>step</key>
				<string>8.加入料酒炒香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_b6cd9c9e5dc82d62.jpg</string>
				<key>step</key>
				<string>9.再加入调味料。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_3ffef2df6f0c9356.jpg</string>
				<key>step</key>
				<string>10.加入葱姜继续炒出香味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_da04245b901f8f10.jpg</string>
				<key>step</key>
				<string>11.直到五花肉出油微黄。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_4639cc91ce65a6c4.jpg</string>
				<key>step</key>
				<string>12.加入老抽。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_6ecda43f820a2739.jpg</string>
				<key>step</key>
				<string>13.加入生抽。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_55f6a6b2bf91b105.jpg</string>
				<key>step</key>
				<string>14.再次炒至五花肉上色。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_8b16806e0c95f3fb.jpg</string>
				<key>step</key>
				<string>15.然后加入适量的清水。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_0c74a2882cbeca26.jpg</string>
				<key>step</key>
				<string>16.大火煮开后企撇去上面的浮沫。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_fd1b61dc0ba9015f.jpg</string>
				<key>step</key>
				<string>17.加盖小火煮制40分钟后倒入炸制的鹌鹑蛋。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_889f3955715b50c7.jpg</string>
				<key>step</key>
				<string>18.继续烧制20分钟后加少许盐调味，然后淋入水淀粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_f3198f51c551451d.jpg</string>
				<key>step</key>
				<string>19.淋入香油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/556/55578_e0e1c254e540b5da.jpg</string>
				<key>step</key>
				<string>20.翻炒均匀关火。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>赣菜;湖北菜;增强抵抗力;年菜;健脾养胃</string>
		<key>title</key>
		<string>元宝肉</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/46/45878_378507.jpg</string>
		</array>
		<key>burden</key>
		<string>香菜,适量;盐,适量;五香粉,适量;味精,适量;老抽,适量</string>
		<key>id</key>
		<string>45878</string>
		<key>imtro</key>
		<string>瓦罐汤是江西的特色菜，我去江西的时候最爱喝的就是香菇肉丸瓦罐汤，回来几年了，还是很爱那个味儿，虽然自己在家做得味道跟在江西吃的有差距，但是还是很好喝的，毕竟瓦罐做的比炒锅做的要好。每次想喝了，自己就拿出自己的专属小瓦罐煲上一罐，汤很鲜的。</string>
		<key>ingredients</key>
		<string>香菇,4个;猪肉丸,7个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_e1f0673871f4faca.jpg</string>
				<key>step</key>
				<string>1.将香菇去根，洗净，切十字花刀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_a276a771655757f6.jpg</string>
				<key>step</key>
				<string>2.将香菇放入瓦罐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_356aa19fab2794de.jpg</string>
				<key>step</key>
				<string>3.准备好猪肉丸。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_b308f81eb033f059.jpg</string>
				<key>step</key>
				<string>4.将肉丸放入瓦罐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_b4add5aefb5b1980.jpg</string>
				<key>step</key>
				<string>5.放入五香粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_1f6cf1afa80d2924.jpg</string>
				<key>step</key>
				<string>6.放入盐。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_5ac5790cab0502fe.jpg</string>
				<key>step</key>
				<string>7. 放入老抽。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_fee82d807fa51202.jpg</string>
				<key>step</key>
				<string>8.放入适量水，放在燃气炉上，大火煮沸后，转小火。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_4ffb55d3a6fb032a.jpg</string>
				<key>step</key>
				<string>9.香菇炖熟后即可关火，放入味精。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/459/45878_bf87bb12a69c923a.jpg</string>
				<key>step</key>
				<string>10.洒上香菜即可食用。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>赣菜;煲;孕妇;老人;白领;养生汤</string>
		<key>title</key>
		<string>瓦罐汤</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/22/21815_670696.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,适量;姜,1块;葱,1段;鸡精,半茶匙;白糖,1茶匙;啤酒,1杯;油,半杯;生抽,半杯</string>
		<key>id</key>
		<string>21815</string>
		<key>imtro</key>
		<string>三杯鸡是江西传统名菜，属赣菜系袁州菜一支。因其烹制时不放汤水，仅用米酒一杯，猪油一杯，酱油一杯，故名三杯鸡。此菜色泽酱红、原汁原味，醇香诱人，酒饭皆宜。 今天的这款三杯鸡是家常简易做法。味道咸鲜下饭，鸡肉滑嫩可口。</string>
		<key>ingredients</key>
		<string>仔鸡,半只</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/219/21815_6ee400a11e19157f.jpg</string>
				<key>step</key>
				<string>1.原料图。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/219/21815_f2193ccd2fb960a1.jpg</string>
				<key>step</key>
				<string>2.鸡肉切块焯水沥干备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/219/21815_f6400c4556aab6f1.jpg</string>
				<key>step</key>
				<string>3.半杯油倒入锅里，炒香姜片和葱段。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/219/21815_494a746607e3c9ed.jpg</string>
				<key>step</key>
				<string>4.倒入鸡块煸炒微黄。 我翻开都看到微黄了。这样水分都出去会比较香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/219/21815_4b524221f9395c97.jpg</string>
				<key>step</key>
				<string>5.倒入啤酒和酱油，放入白糖，大火烧开。小火焖烧20分钟到30分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/219/21815_5ca1a01bedeca5b5.jpg</string>
				<key>step</key>
				<string>6.大火收汁，放鸡精提味即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>赣菜;咸香;烧;白领;晚餐;下饭菜</string>
		<key>title</key>
		<string>三杯鸡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://img.juhe.cn/cookbook/t/47/46855_449656.jpg</string>
		</array>
		<key>burden</key>
		<string>姜,适量;大葱,适量;干红椒,适量;油,适量;盐,适量;酱油,适量;海天排骨酱,适量;柱候酱,适量;生粉,适量</string>
		<key>id</key>
		<string>46855</string>
		<key>imtro</key>
		<string>酱香独特。 大家在家里也可以试一试哦，味道很不错的呢，O(∩_∩)O哈哈哈~</string>
		<key>ingredients</key>
		<string>湖鸭,1只;啤酒,1瓶</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_c09932d0500fd9b1.jpg</string>
				<key>step</key>
				<string>1.湖鸭洗净，砍成2厘米长宽的块</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_7bc70090b60602b7.jpg</string>
				<key>step</key>
				<string>2.姜、大葱、干红椒适量</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_551939a85bd3063b.jpg</string>
				<key>step</key>
				<string>3.锅入底油爆香姜块大葱后下人鸭子同炒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_b3224df800b34d23.jpg</string>
				<key>step</key>
				<string>4.把鸭子炒出香味和鸭油后加入适量的盐</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_a79651f368084b57.jpg</string>
				<key>step</key>
				<string>5.加入适量的酱油炒香，直到鸭子完全上色后倒入啤酒一瓶加入干辣椒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_39d65816fa6704f0.jpg</string>
				<key>step</key>
				<string>6.加入海天排骨酱、海天柱候酱炒均匀加入适量的水淹过鸭子</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_56d148969f73039d.jpg</string>
				<key>step</key>
				<string>7.盖上锅盖烧开焖煮20分钟至熟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_35b4c4c2a73a6762.jpg</string>
				<key>step</key>
				<string>8.把焖好的鸭肉和汤分开，挑出姜、大葱、辣椒，用小碗把鸭子一块一块摆到小碗里</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_6b5c9d30cd5fc4c4.jpg</string>
				<key>step</key>
				<string>9.把鸭汤倒入锅中烧开</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_03d58cdf11bd0987.jpg</string>
				<key>step</key>
				<string>10.调入生粉水调成浓汁淋上少许油</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_eeca92707147e4d0.jpg</string>
				<key>step</key>
				<string>11.将鸭子反扣入盘子中，旁边围上橙子片摆上兰花装饰</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_0d6ba91527de2bb0.jpg</string>
				<key>step</key>
				<string>12.把芡汁均匀的淋在鸭肉上面</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://img.juhe.cn/cookbook/s/469/46855_31c563a7b1f97a47.jpg</string>
				<key>step</key>
				<string>13.美美一道扣湖鸭即成</string>
			</dict>
		</array>
		<key>tags</key>
		<string>热菜;宴请;赣菜;白领</string>
		<key>title</key>
		<string>扣湖鸭</string>
	</dict>
</array>
</plist>
